body { margin: 0px; padding: 0px; overflow: hidden; background-color: #f6f6f6; }

p { margin: 0px; }

a, div { -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.header { position: fixed; width: 100%; height: 2.71875rem; background: white; text-align: center; border-bottom: 0.03125rem solid #dddddd; z-index: 2; }
.header a { position: absolute; text-decoration: none; line-height: 0px; z-index: 1; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; left: 0.9375rem; top: 1rem; }
[data-dpr="2"] .header a { font-size: 28px; }
[data-dpr="2.625"] .header a { font-size: 36.75px; }
[data-dpr="3"] .header a { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header a { font-size: 49px; }
.header a img { width: 0.4375rem; padding-right: 0.46875rem; }
.header span { position: relative; top: -0.0625rem; left: -0.3125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .header span { font-size: 28px; }
[data-dpr="2.625"] .header span { font-size: 36.75px; }
[data-dpr="3"] .header span { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header span { font-size: 49px; }
.header p { position: relative; top: 0.90625rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; letter-spacing: 3px; line-height: 15px; }
[data-dpr="2"] .header p { font-size: 30px; }
[data-dpr="2.625"] .header p { font-size: 39.375px; }
[data-dpr="3"] .header p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .header p { font-size: 52.5px; }
[data-dpr="2"] .header p { line-height: 30px; }
[data-dpr="2.625"] .header p { line-height: 39.375px; }
[data-dpr="3"] .header p { line-height: 49.4505494505px; }
[data-dpr="3.5"] .header p { line-height: 52.5px; }

.main { position: absolute; padding: 0.9375rem; padding-top: 3.71875rem; padding-bottom: 3.375rem; overflow-y: scroll; overflow-x: hidden; -webkit-overflow-scrolling: touch; }
.main .content { position: relative; width: 100%; height: 7.90625rem; background: #f8faff; box-shadow: 0px 0.03125rem 0.4375rem 0px rgba(1, 1, 1, 0.18); border-radius: 0.1875rem; margin-bottom: 0.90625rem; transition: transform .4s ease, height .2s ease; }
.main .content .choose { position: absolute; left: 0.625rem; top: 2.625rem; width: 0.9375rem; height: 0.9375rem; background: white; border: 0.03125rem solid #bbbbbb; border-radius: 50%; }
.main .content .choose img { width: 100%; display: none; }
.main .content .bg { width: 6.25rem; height: 3.75rem; position: absolute; left: 2.25rem; top: 1.375rem; border-radius: 0.1875rem; }
.main .content_left { transform: translateX(-3.375rem); border-top-right-radius: 0; border-bottom-right-radius: 0; }
.main .word { position: absolute; top: 1.25rem; margin-right: 0.5625rem; margin-left: 2.90625rem; height: 3.625rem; }
.main .word .word_p1 { height: 32px; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; overflow: hidden; line-height: 16px; }
[data-dpr="2"] .main .word .word_p1 { height: 64px; }
[data-dpr="2.625"] .main .word .word_p1 { height: 84px; }
[data-dpr="3"] .main .word .word_p1 { height: 105.4945054945px; }
[data-dpr="3.5"] .main .word .word_p1 { height: 112px; }
[data-dpr="2"] .main .word .word_p1 { font-size: 26px; }
[data-dpr="2.625"] .main .word .word_p1 { font-size: 34.125px; }
[data-dpr="3"] .main .word .word_p1 { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .word .word_p1 { font-size: 45.5px; }
[data-dpr="2"] .main .word .word_p1 { line-height: 32px; }
[data-dpr="2.625"] .main .word .word_p1 { line-height: 42px; }
[data-dpr="3"] .main .word .word_p1 { line-height: 52.7472527473px; }
[data-dpr="3.5"] .main .word .word_p1 { line-height: 56px; }
.main .word .word_hour { position: absolute; display: flex; left: 0.15625rem; bottom: 0px; font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 9.5px; }
[data-dpr="2"] .main .word .word_hour { font-size: 20px; }
[data-dpr="2.625"] .main .word .word_hour { font-size: 26.25px; }
[data-dpr="3"] .main .word .word_hour { font-size: 32.967032967px; }
[data-dpr="3.5"] .main .word .word_hour { font-size: 35px; }
[data-dpr="2"] .main .word .word_hour { line-height: 19px; }
[data-dpr="2.625"] .main .word .word_hour { line-height: 24.9375px; }
[data-dpr="3"] .main .word .word_hour { line-height: 31.3186813187px; }
[data-dpr="3.5"] .main .word .word_hour { line-height: 33.25px; }
.main .word a { position: absolute; right: 0.09375rem; bottom: 0.03125rem; font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; text-decoration: none; line-height: 9.5px; }
[data-dpr="2"] .main .word a { font-size: 20px; }
[data-dpr="2.625"] .main .word a { font-size: 26.25px; }
[data-dpr="3"] .main .word a { font-size: 32.967032967px; }
[data-dpr="3.5"] .main .word a { font-size: 35px; }
[data-dpr="2"] .main .word a { line-height: 19px; }
[data-dpr="2.625"] .main .word a { line-height: 24.9375px; }
[data-dpr="3"] .main .word a { line-height: 31.3186813187px; }
[data-dpr="3.5"] .main .word a { line-height: 33.25px; }
.main .price { position: absolute; display: flex; height: 10.5px; margin-left: 2.8125rem; top: 5.875rem; color: #e83104; }
[data-dpr="2"] .main .price { height: 21px; }
[data-dpr="2.625"] .main .price { height: 27.5625px; }
[data-dpr="3"] .main .price { height: 34.6153846154px; }
[data-dpr="3.5"] .main .price { height: 36.75px; }
.main .price .num { width: 33px; font-size: 14px; line-height: 11.5px; font-family: PingFang SC; font-weight: 400; }
[data-dpr="2"] .main .price .num { width: 66px; }
[data-dpr="2.625"] .main .price .num { width: 86.625px; }
[data-dpr="3"] .main .price .num { width: 108.7912087912px; }
[data-dpr="3.5"] .main .price .num { width: 115.5px; }
[data-dpr="2"] .main .price .num { font-size: 28px; }
[data-dpr="2.625"] .main .price .num { font-size: 36.75px; }
[data-dpr="3"] .main .price .num { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .price .num { font-size: 49px; }
[data-dpr="2"] .main .price .num { line-height: 23px; }
[data-dpr="2.625"] .main .price .num { line-height: 30.1875px; }
[data-dpr="3"] .main .price .num { line-height: 37.9120879121px; }
[data-dpr="3.5"] .main .price .num { line-height: 40.25px; }
.main .price .yun { width: 15px; }
[data-dpr="2"] .main .price .yun { width: 30px; }
[data-dpr="2.625"] .main .price .yun { width: 39.375px; }
[data-dpr="3"] .main .price .yun { width: 49.4505494505px; }
[data-dpr="3.5"] .main .price .yun { width: 52.5px; }
.main .price .add-to { font-size: 12px; font-family: PingFang SC; font-weight: 400; line-height: 13px; }
[data-dpr="2"] .main .price .add-to { font-size: 24px; }
[data-dpr="2.625"] .main .price .add-to { font-size: 31.5px; }
[data-dpr="3"] .main .price .add-to { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .price .add-to { font-size: 42px; }
[data-dpr="2"] .main .price .add-to { line-height: 26px; }
[data-dpr="2.625"] .main .price .add-to { line-height: 34.125px; }
[data-dpr="3"] .main .price .add-to { line-height: 42.8571428571px; }
[data-dpr="3.5"] .main .price .add-to { line-height: 45.5px; }
.main .price .num2 { font-size: 12px; font-family: PingFang SC; font-weight: 400; margin-top: 1px; margin-right: 2.5px; line-height: 12px; }
[data-dpr="2"] .main .price .num2 { font-size: 24px; }
[data-dpr="2.625"] .main .price .num2 { font-size: 31.5px; }
[data-dpr="3"] .main .price .num2 { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .price .num2 { font-size: 42px; }
[data-dpr="2"] .main .price .num2 { margin-top: 2px; }
[data-dpr="2.625"] .main .price .num2 { margin-top: 2.625px; }
[data-dpr="3"] .main .price .num2 { margin-top: 3.2967032967px; }
[data-dpr="3.5"] .main .price .num2 { margin-top: 3.5px; }
[data-dpr="2"] .main .price .num2 { margin-right: 5px; }
[data-dpr="2.625"] .main .price .num2 { margin-right: 6.5625px; }
[data-dpr="3"] .main .price .num2 { margin-right: 8.2417582418px; }
[data-dpr="3.5"] .main .price .num2 { margin-right: 8.75px; }
[data-dpr="2"] .main .price .num2 { line-height: 24px; }
[data-dpr="2.625"] .main .price .num2 { line-height: 31.5px; }
[data-dpr="3"] .main .price .num2 { line-height: 39.5604395604px; }
[data-dpr="3.5"] .main .price .num2 { line-height: 42px; }
.main .price .coin { font-size: 10.5px; font-family: PingFang SC; font-weight: 400; margin-top: 1.5px; line-height: 10.5px; }
[data-dpr="2"] .main .price .coin { font-size: 21px; }
[data-dpr="2.625"] .main .price .coin { font-size: 27.5625px; }
[data-dpr="3"] .main .price .coin { font-size: 34.6153846154px; }
[data-dpr="3.5"] .main .price .coin { font-size: 36.75px; }
[data-dpr="2"] .main .price .coin { margin-top: 3px; }
[data-dpr="2.625"] .main .price .coin { margin-top: 3.9375px; }
[data-dpr="3"] .main .price .coin { margin-top: 4.9450549451px; }
[data-dpr="3.5"] .main .price .coin { margin-top: 5.25px; }
[data-dpr="2"] .main .price .coin { line-height: 21px; }
[data-dpr="2.625"] .main .price .coin { line-height: 27.5625px; }
[data-dpr="3"] .main .price .coin { line-height: 34.6153846154px; }
[data-dpr="3.5"] .main .price .coin { line-height: 36.75px; }
.main .sub-add { position: absolute; right: 0.625rem; top: 5.625rem; width: 4.28125rem; height: 1.09375rem; background: white; text-align: center; border: 0.03125rem solid #dddddd; border-radius: 0.1875rem; }
.main .sub-add .sub { left: 0.0625rem; position: absolute; background: white; width: 1.34375rem; height: 1.09375rem; color: #9c9c9c; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-size: 12.5px; line-height: 16px; outline: none; border-top-left-radius: 0.1875rem; border-bottom-left-radius: 0.1875rem; }
[data-dpr="2"] .main .sub-add .sub { font-size: 25px; }
[data-dpr="2.625"] .main .sub-add .sub { font-size: 32.8125px; }
[data-dpr="3"] .main .sub-add .sub { font-size: 41.2087912088px; }
[data-dpr="3.5"] .main .sub-add .sub { font-size: 43.75px; }
[data-dpr="2"] .main .sub-add .sub { line-height: 32px; }
[data-dpr="2.625"] .main .sub-add .sub { line-height: 42px; }
[data-dpr="3"] .main .sub-add .sub { line-height: 52.7472527473px; }
[data-dpr="3.5"] .main .sub-add .sub { line-height: 56px; }
.main .sub-add .text_box { position: absolute; left: 1.40625rem; width: 1.46875rem; height: 1.09375rem; border: 0px; border-left: 0.03125rem solid #dddddd; border-right: 0.03125rem solid #dddddd; padding: 0px; text-align: center; color: #9c9c9c; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-size: 10.5px; border-radius: 0px; outline: none; }
[data-dpr="2"] .main .sub-add .text_box { font-size: 21px; }
[data-dpr="2.625"] .main .sub-add .text_box { font-size: 27.5625px; }
[data-dpr="3"] .main .sub-add .text_box { font-size: 34.6153846154px; }
[data-dpr="3.5"] .main .sub-add .text_box { font-size: 36.75px; }
.main .sub-add .add { right: 0px; position: absolute; background: white; width: 1.34375rem; height: 1.09375rem; color: #9c9c9c; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-size: 12.5px; line-height: 16px; outline: none; border-top-right-radius: 0.1875rem; border-bottom-right-radius: 0.1875rem; }
[data-dpr="2"] .main .sub-add .add { font-size: 25px; }
[data-dpr="2.625"] .main .sub-add .add { font-size: 32.8125px; }
[data-dpr="3"] .main .sub-add .add { font-size: 41.2087912088px; }
[data-dpr="3.5"] .main .sub-add .add { font-size: 43.75px; }
[data-dpr="2"] .main .sub-add .add { line-height: 32px; }
[data-dpr="2.625"] .main .sub-add .add { line-height: 42px; }
[data-dpr="3"] .main .sub-add .add { line-height: 52.7472527473px; }
[data-dpr="3.5"] .main .sub-add .add { line-height: 56px; }
.main .delete { position: absolute; width: 0px; height: 100%; right: 0px; z-index: -1; background: #ff3b32; border-radius: 0px 0.1875rem 0.1875rem 0px; box-shadow: 0px 0.03125rem 0.4375rem 0px rgba(1, 1, 1, 0.18); transition: .4s; }
.main .delete p { text-align: center; color: white; line-height: 7.90625rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; display: none; }
[data-dpr="2"] .main .delete p { font-size: 30px; }
[data-dpr="2.625"] .main .delete p { font-size: 39.375px; }
[data-dpr="3"] .main .delete p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .main .delete p { font-size: 52.5px; }
.main .delete_right { width: 3.375rem; transform: translateX(3.375rem); width: 54px; }
[data-dpr="2"] .main .delete_right { width: 108px; }
[data-dpr="2.625"] .main .delete_right { width: 141.75px; }
[data-dpr="3"] .main .delete_right { width: 178.021978022px; }
[data-dpr="3.5"] .main .delete_right { width: 189px; }

.main::-webkit-scrollbar { display: none; }

.footer { position: fixed; width: 100%; height: 3.375rem; bottom: 0px; background: white; box-shadow: 0px 0px 0.3125rem 0px rgba(0, 0, 0, 0.04); border-top: 0.03125rem solid #dddddd; }
.footer .choose { position: absolute; left: 1.5625rem; top: 1.1875rem; width: 0.9375rem; height: 0.9375rem; background: white; border: 0.03125rem solid #bbbbbb; border-radius: 50%; }
.footer .choose img { width: 100%; display: none; }
.footer .allChoose { position: absolute; left: 3.1875rem; bottom: 1.28125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 13px; }
[data-dpr="2"] .footer .allChoose { font-size: 28px; }
[data-dpr="2.625"] .footer .allChoose { font-size: 36.75px; }
[data-dpr="3"] .footer .allChoose { font-size: 46.1538461538px; }
[data-dpr="3.5"] .footer .allChoose { font-size: 49px; }
[data-dpr="2"] .footer .allChoose { line-height: 26px; }
[data-dpr="2.625"] .footer .allChoose { line-height: 34.125px; }
[data-dpr="3"] .footer .allChoose { line-height: 42.8571428571px; }
[data-dpr="3.5"] .footer .allChoose { line-height: 45.5px; }
.footer .submit { position: absolute; right: 0.9375rem; top: 0.875rem; width: 4.6875rem; height: 1.625rem; background: linear-gradient(122deg, #6692fa, #3873ff); border-radius: 0.1875rem; border: 0.03125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; padding: 0px; }
[data-dpr="2"] .footer .submit { font-size: 28px; }
[data-dpr="2.625"] .footer .submit { font-size: 36.75px; }
[data-dpr="3"] .footer .submit { font-size: 46.1538461538px; }
[data-dpr="3.5"] .footer .submit { font-size: 49px; }
.footer .total { position: absolute; right: 195.5px; top: 1.28125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 13px; }
[data-dpr="2"] .footer .total { right: 391px; }
[data-dpr="2.625"] .footer .total { right: 513.1875px; }
[data-dpr="3"] .footer .total { right: 644.5054945055px; }
[data-dpr="3.5"] .footer .total { right: 684.25px; }
[data-dpr="2"] .footer .total { font-size: 28px; }
[data-dpr="2.625"] .footer .total { font-size: 36.75px; }
[data-dpr="3"] .footer .total { font-size: 46.1538461538px; }
[data-dpr="3.5"] .footer .total { font-size: 49px; }
[data-dpr="2"] .footer .total { line-height: 26px; }
[data-dpr="2.625"] .footer .total { line-height: 34.125px; }
[data-dpr="3"] .footer .total { line-height: 42.8571428571px; }
[data-dpr="3.5"] .footer .total { line-height: 45.5px; }
.footer .allprice { position: absolute; display: flex; right: 6.5625rem; top: 1.34375rem; color: #e83104; }
.footer .allprice .num { width: 36.5px; font-size: 15px; line-height: 11.5px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; }
[data-dpr="2"] .footer .allprice .num { width: 73px; }
[data-dpr="2.625"] .footer .allprice .num { width: 95.8125px; }
[data-dpr="3"] .footer .allprice .num { width: 120.3296703297px; }
[data-dpr="3.5"] .footer .allprice .num { width: 127.75px; }
[data-dpr="2"] .footer .allprice .num { font-size: 30px; }
[data-dpr="2.625"] .footer .allprice .num { font-size: 39.375px; }
[data-dpr="3"] .footer .allprice .num { font-size: 49.4505494505px; }
[data-dpr="3.5"] .footer .allprice .num { font-size: 52.5px; }
[data-dpr="2"] .footer .allprice .num { line-height: 23px; }
[data-dpr="2.625"] .footer .allprice .num { line-height: 30.1875px; }
[data-dpr="3"] .footer .allprice .num { line-height: 37.9120879121px; }
[data-dpr="3.5"] .footer .allprice .num { line-height: 40.25px; }
.footer .allprice .yun { width: 15px; }
[data-dpr="2"] .footer .allprice .yun { width: 30px; }
[data-dpr="2.625"] .footer .allprice .yun { width: 39.375px; }
[data-dpr="3"] .footer .allprice .yun { width: 49.4505494505px; }
[data-dpr="3.5"] .footer .allprice .yun { width: 52.5px; }
.footer .allprice .add-to { font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 13.5px; }
[data-dpr="2"] .footer .allprice .add-to { font-size: 24px; }
[data-dpr="2.625"] .footer .allprice .add-to { font-size: 31.5px; }
[data-dpr="3"] .footer .allprice .add-to { font-size: 39.5604395604px; }
[data-dpr="3.5"] .footer .allprice .add-to { font-size: 42px; }
[data-dpr="2"] .footer .allprice .add-to { line-height: 27px; }
[data-dpr="2.625"] .footer .allprice .add-to { line-height: 35.4375px; }
[data-dpr="3"] .footer .allprice .add-to { line-height: 44.5054945055px; }
[data-dpr="3.5"] .footer .allprice .add-to { line-height: 47.25px; }
.footer .allprice .num2 { font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; margin: 0px; margin-top: 1px; margin-right: 2.5px; line-height: 12px; }
[data-dpr="2"] .footer .allprice .num2 { font-size: 24px; }
[data-dpr="2.625"] .footer .allprice .num2 { font-size: 31.5px; }
[data-dpr="3"] .footer .allprice .num2 { font-size: 39.5604395604px; }
[data-dpr="3.5"] .footer .allprice .num2 { font-size: 42px; }
[data-dpr="2"] .footer .allprice .num2 { margin-top: 2px; }
[data-dpr="2.625"] .footer .allprice .num2 { margin-top: 2.625px; }
[data-dpr="3"] .footer .allprice .num2 { margin-top: 3.2967032967px; }
[data-dpr="3.5"] .footer .allprice .num2 { margin-top: 3.5px; }
[data-dpr="2"] .footer .allprice .num2 { margin-right: 5px; }
[data-dpr="2.625"] .footer .allprice .num2 { margin-right: 6.5625px; }
[data-dpr="3"] .footer .allprice .num2 { margin-right: 8.2417582418px; }
[data-dpr="3.5"] .footer .allprice .num2 { margin-right: 8.75px; }
[data-dpr="2"] .footer .allprice .num2 { line-height: 24px; }
[data-dpr="2.625"] .footer .allprice .num2 { line-height: 31.5px; }
[data-dpr="3"] .footer .allprice .num2 { line-height: 39.5604395604px; }
[data-dpr="3.5"] .footer .allprice .num2 { line-height: 42px; }
.footer .allprice .coin { font-size: 10.5px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; margin-top: 1.5px; line-height: 10.5px; }
[data-dpr="2"] .footer .allprice .coin { font-size: 21px; }
[data-dpr="2.625"] .footer .allprice .coin { font-size: 27.5625px; }
[data-dpr="3"] .footer .allprice .coin { font-size: 34.6153846154px; }
[data-dpr="3.5"] .footer .allprice .coin { font-size: 36.75px; }
[data-dpr="2"] .footer .allprice .coin { margin-top: 3px; }
[data-dpr="2.625"] .footer .allprice .coin { margin-top: 3.9375px; }
[data-dpr="3"] .footer .allprice .coin { margin-top: 4.9450549451px; }
[data-dpr="3.5"] .footer .allprice .coin { margin-top: 5.25px; }
[data-dpr="2"] .footer .allprice .coin { line-height: 21px; }
[data-dpr="2.625"] .footer .allprice .coin { line-height: 27.5625px; }
[data-dpr="3"] .footer .allprice .coin { line-height: 34.6153846154px; }
[data-dpr="3.5"] .footer .allprice .coin { line-height: 36.75px; }
.footer .now { position: absolute; display: flex; right: 6.71875rem; bottom: 0.34375rem; font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 9.5px; }
[data-dpr="2"] .footer .now { font-size: 20px; }
[data-dpr="2.625"] .footer .now { font-size: 26.25px; }
[data-dpr="3"] .footer .now { font-size: 32.967032967px; }
[data-dpr="3.5"] .footer .now { font-size: 35px; }
[data-dpr="2"] .footer .now { line-height: 19px; }
[data-dpr="2.625"] .footer .now { line-height: 24.9375px; }
[data-dpr="3"] .footer .now { line-height: 31.3186813187px; }
[data-dpr="3.5"] .footer .now { line-height: 33.25px; }

.curtain { width: 100%; background: black; opacity: .5; position: absolute; display: none; top: 2.75rem; }

.pay { position: fixed; bottom: -15.25rem; width: 100%; height: 15.1875rem; background: white; border-top-right-radius: 0.1875rem; border-top-left-radius: 0.1875rem; transition: .4s ease; }
.pay .pay_tzwq { position: relative; height: 3.03125rem; padding-left: 0.9375rem; border-top: 0.03125rem solid #dddddd; }
.pay .pay_tzwq .pay_choose { position: absolute; top: 1.125rem; width: 0.9375rem; height: 0.9375rem; background: white; border: 0.03125rem solid #bbbbbb; border-radius: 50%; }
.pay .pay_tzwq .pay_choose img { width: 100%; display: none; }
.pay .pay_tzwq .logo { position: absolute; width: 1.03125rem; height: 1.03125rem; top: 1.0625rem; left: 2.625rem; }
.pay .pay_tzwq .logo img { position: absolute; width: 100%; height: 100%; }
.pay .pay_tzwq .pp { font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .pay .pay_tzwq .pp { font-size: 30px; }
[data-dpr="2.625"] .pay .pay_tzwq .pp { font-size: 39.375px; }
[data-dpr="3"] .pay .pay_tzwq .pp { font-size: 49.4505494505px; }
[data-dpr="3.5"] .pay .pay_tzwq .pp { font-size: 52.5px; }
.pay .pay_zwq .pp { position: absolute; top: 1.125rem; left: 4.34375rem; line-height: 14.5px; }
[data-dpr="2"] .pay .pay_zwq .pp { line-height: 29px; }
[data-dpr="2.625"] .pay .pay_zwq .pp { line-height: 38.0625px; }
[data-dpr="3"] .pay .pay_zwq .pp { line-height: 47.8021978022px; }
[data-dpr="3.5"] .pay .pay_zwq .pp { line-height: 50.75px; }
.pay .pay_title .pp { line-height: 49px; }
[data-dpr="2"] .pay .pay_title .pp { line-height: 98px; }
[data-dpr="2.625"] .pay .pay_title .pp { line-height: 128.625px; }
[data-dpr="3"] .pay .pay_title .pp { line-height: 161.5384615385px; }
[data-dpr="3.5"] .pay .pay_title .pp { line-height: 171.5px; }
.pay .pay_num { position: absolute; left: 8.90625rem; top: 1.09375rem; display: flex; }
.pay .pay_num p { color: #E83104; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 15px; }
[data-dpr="2"] .pay .pay_num p { font-size: 30px; }
[data-dpr="2.625"] .pay .pay_num p { font-size: 39.375px; }
[data-dpr="3"] .pay .pay_num p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .pay .pay_num p { font-size: 52.5px; }
[data-dpr="2"] .pay .pay_num p { line-height: 30px; }
[data-dpr="2.625"] .pay .pay_num p { line-height: 39.375px; }
[data-dpr="3"] .pay .pay_num p { line-height: 49.4505494505px; }
[data-dpr="3.5"] .pay .pay_num p { line-height: 52.5px; }
.pay button { position: absolute; bottom: 0px; height: 2.9375rem; width: 100%; background: linear-gradient(122deg, #6692fa, #3873ff); color: #fff; font-size: 16px; border: none; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; letter-spacing: 3px; }
[data-dpr="2"] .pay button { font-size: 32px; }
[data-dpr="2.625"] .pay button { font-size: 42px; }
[data-dpr="3"] .pay button { font-size: 52.7472527473px; }
[data-dpr="3.5"] .pay button { font-size: 56px; }

.pay_top { bottom: 0px !important; }

/*# sourceMappingURL=cart.css.map */
