body { margin: 0px; padding: 0px; background-color: #f6f6f6; }

p { margin: 0px; }

a, div { text-decoration: none; -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

ul { margin: 0px; padding: 0px; text-align: center; }
ul li { position: relative; height: 0.78125rem; list-style: none; padding-top: 0.8125rem; padding-bottom: 0.8125rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 0.78125rem; }
[data-dpr="2"] ul li { font-size: 26px; }
[data-dpr="2.625"] ul li { font-size: 34.125px; }
[data-dpr="3"] ul li { font-size: 42.8571428571px; }
[data-dpr="3.5"] ul li { font-size: 45.5px; }

.header { position: fixed; top: 0px; width: 100%; height: 2.71875rem; background: white; text-align: center; border-bottom: 0.03125rem solid #dddddd; z-index: 2; }
.header .return { position: absolute; line-height: 0px; z-index: 1; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; left: 0.9375rem; top: 1rem; }
[data-dpr="2"] .header .return { font-size: 28px; }
[data-dpr="2.625"] .header .return { font-size: 36.75px; }
[data-dpr="3"] .header .return { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header .return { font-size: 49px; }
.header .return img { width: 0.4375rem; padding-right: 0.46875rem; }
.header span { position: relative; top: -0.0625rem; left: -0.3125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .header span { font-size: 28px; }
[data-dpr="2.625"] .header span { font-size: 36.75px; }
[data-dpr="3"] .header span { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header span { font-size: 49px; }
.header .user { position: absolute; line-height: 0px; z-index: 1; right: 0.8125rem; top: 0.46875rem; }
.header .user img { position: absolute; width: 0.9375rem; height: 0.9375rem; right: 0.21875rem; top: 0.46875rem; }
.header p { position: relative; top: 0.90625rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 15px; }
[data-dpr="2"] .header p { font-size: 30px; }
[data-dpr="2.625"] .header p { font-size: 39.375px; }
[data-dpr="3"] .header p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .header p { font-size: 52.5px; }
[data-dpr="2"] .header p { line-height: 30px; }
[data-dpr="2.625"] .header p { line-height: 39.375px; }
[data-dpr="3"] .header p { line-height: 49.4505494505px; }
[data-dpr="3.5"] .header p { line-height: 52.5px; }

.nav { position: fixed; top: 2.75rem; width: 100%; height: 2.40625rem; background: white; border-bottom: 0.03125rem solid #dddddd; z-index: 2; }
.nav .lr { width: 50%; }
.nav .lr p { position: absolute; top: 0.8125rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 12.5px; }
[data-dpr="2"] .nav .lr p { font-size: 26px; }
[data-dpr="2.625"] .nav .lr p { font-size: 34.125px; }
[data-dpr="3"] .nav .lr p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .nav .lr p { font-size: 45.5px; }
[data-dpr="2"] .nav .lr p { line-height: 25px; }
[data-dpr="2.625"] .nav .lr p { line-height: 32.8125px; }
[data-dpr="3"] .nav .lr p { line-height: 41.2087912088px; }
[data-dpr="3.5"] .nav .lr p { line-height: 43.75px; }
.nav .lr img { position: absolute; top: 1.03125rem; width: 0.59375rem; transition: transform 0.5s ease; }
.nav .lr .lr-img { transform: rotate(180deg); }
.nav .nav-left p { left: 4.125rem; }
.nav .nav-left img { left: 7.9375rem; }
.nav .nav-right { position: absolute; top: 0px; right: 0px; }
.nav .nav-right p { right: 5.21875rem; }
.nav .nav-right img { right: 4.09375rem; }

.curtain { position: absolute; top: 0px; width: 100%; z-index: 1; background: black; opacity: 0.5; display: none; }

.subMenu-left { position: absolute; width: 100%; z-index: 1; height: 9.625rem; background: #f6f6f6; transition: top 0.5s ease; display: none; }
.subMenu-left p { padding-top: 0.8125rem; padding-bottom: 0.8125rem; padding-left: 0.96875rem; padding-right: 0.96875rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 12.5px; }
[data-dpr="2"] .subMenu-left p { font-size: 26px; }
[data-dpr="2.625"] .subMenu-left p { font-size: 34.125px; }
[data-dpr="3"] .subMenu-left p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .subMenu-left p { font-size: 45.5px; }
[data-dpr="2"] .subMenu-left p { line-height: 25px; }
[data-dpr="2.625"] .subMenu-left p { line-height: 32.8125px; }
[data-dpr="3"] .subMenu-left p { line-height: 41.2087912088px; }
[data-dpr="3.5"] .subMenu-left p { line-height: 43.75px; }
.subMenu-left .default { color: #2465ff; }

.subMenu-right { position: absolute; width: 100%; z-index: 1; background: white; transition: top 0.45s ease; display: none; }
.subMenu-right .sidebar { width: 22.4%; height: 16.84375rem; background: #f6f6f6; }
.subMenu-right .sidebar .curtain-2 { position: absolute; width: 100%; height: 2.40625rem; top: 0px; background: #fff; transition: top 0.2s ease; }
.subMenu-right .content { position: absolute; right: 0px; top: 0px; width: 77.6%; background: #fff; }
.subMenu-right .content div { position: relative; margin-top: 0.8125rem; padding-bottom: 0.8125rem; margin-left: 2.09375rem; margin-right: 0.9375rem; }
.subMenu-right .content .title { font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 12.5px; }
[data-dpr="2"] .subMenu-right .content .title { font-size: 26px; }
[data-dpr="2.625"] .subMenu-right .content .title { font-size: 34.125px; }
[data-dpr="3"] .subMenu-right .content .title { font-size: 42.8571428571px; }
[data-dpr="3.5"] .subMenu-right .content .title { font-size: 45.5px; }
[data-dpr="2"] .subMenu-right .content .title { line-height: 25px; }
[data-dpr="2.625"] .subMenu-right .content .title { line-height: 32.8125px; }
[data-dpr="3"] .subMenu-right .content .title { line-height: 41.2087912088px; }
[data-dpr="3.5"] .subMenu-right .content .title { line-height: 43.75px; }
.subMenu-right .content .num { position: absolute; top: 0px; right: 0px; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 10px; }
[data-dpr="2"] .subMenu-right .content .num { font-size: 26px; }
[data-dpr="2.625"] .subMenu-right .content .num { font-size: 34.125px; }
[data-dpr="3"] .subMenu-right .content .num { font-size: 42.8571428571px; }
[data-dpr="3.5"] .subMenu-right .content .num { font-size: 45.5px; }
[data-dpr="2"] .subMenu-right .content .num { line-height: 20px; }
[data-dpr="2.625"] .subMenu-right .content .num { line-height: 26.25px; }
[data-dpr="3"] .subMenu-right .content .num { line-height: 32.967032967px; }
[data-dpr="3.5"] .subMenu-right .content .num { line-height: 35px; }

.main { overflow-y: scroll; -webkit-overflow-scrolling: touch; background: #fff; margin-top: 5.1875rem; padding-bottom: 1.375rem; }
.main .list { position: relative; transition: 0.8s ease; padding-top: 1.375rem; height: 4.6875rem; padding-left: 0.9375rem; padding-right: 0.875rem; }
.main .list img { transition: 0.8s ease; width: 7.8125rem; height: 4.6875rem; border-radius: 0.1875rem; }
.main .list .word { transition: 0.8s ease; position: absolute; top: 0px; left: 9.65625rem; margin-right: 0.875rem; }
.main .list .word .word_p1 { height: 12.5px; margin-top: 1.40625rem; overflow-y: hidden; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 12.5px; }
[data-dpr="2"] .main .list .word .word_p1 { height: 25px; }
[data-dpr="2.625"] .main .list .word .word_p1 { height: 32.8125px; }
[data-dpr="3"] .main .list .word .word_p1 { height: 41.2087912088px; }
[data-dpr="3.5"] .main .list .word .word_p1 { height: 43.75px; }
[data-dpr="2"] .main .list .word .word_p1 { font-size: 26px; }
[data-dpr="2.625"] .main .list .word .word_p1 { font-size: 34.125px; }
[data-dpr="3"] .main .list .word .word_p1 { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .list .word .word_p1 { font-size: 45.5px; }
[data-dpr="2"] .main .list .word .word_p1 { line-height: 25px; }
[data-dpr="2.625"] .main .list .word .word_p1 { line-height: 32.8125px; }
[data-dpr="3"] .main .list .word .word_p1 { line-height: 41.2087912088px; }
[data-dpr="3.5"] .main .list .word .word_p1 { line-height: 43.75px; }
.main .list .word .w-hp { position: absolute; top: 2.90625rem; display: -webkit-inline-box; font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 9.5px; }
[data-dpr="2"] .main .list .word .w-hp { font-size: 20px; }
[data-dpr="2.625"] .main .list .word .w-hp { font-size: 26.25px; }
[data-dpr="3"] .main .list .word .w-hp { font-size: 32.967032967px; }
[data-dpr="3.5"] .main .list .word .w-hp { font-size: 35px; }
[data-dpr="2"] .main .list .word .w-hp { line-height: 19px; }
[data-dpr="2.625"] .main .list .word .w-hp { line-height: 24.9375px; }
[data-dpr="3"] .main .list .word .w-hp { line-height: 31.3186813187px; }
[data-dpr="3.5"] .main .list .word .w-hp { line-height: 33.25px; }
.main .list .word .word_people { right: 0px; }
.main .list .price { transition: 0.8s ease; position: absolute; top: 5.34375rem; left: 9.53125rem; display: -webkit-inline-box; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #e83104; line-height: 10.5px; }
[data-dpr="2"] .main .list .price { font-size: 28px; }
[data-dpr="2.625"] .main .list .price { font-size: 36.75px; }
[data-dpr="3"] .main .list .price { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .list .price { font-size: 49px; }
[data-dpr="2"] .main .list .price { line-height: 21px; }
[data-dpr="2.625"] .main .list .price { line-height: 27.5625px; }
[data-dpr="3"] .main .list .price { line-height: 34.6153846154px; }
[data-dpr="3.5"] .main .list .price { line-height: 36.75px; }
.main .list .price .yun-2 { margin-left: 4.5px; }
[data-dpr="2"] .main .list .price .yun-2 { margin-left: 9px; }
[data-dpr="2.625"] .main .list .price .yun-2 { margin-left: 11.8125px; }
[data-dpr="3"] .main .list .price .yun-2 { margin-left: 14.8351648352px; }
[data-dpr="3.5"] .main .list .price .yun-2 { margin-left: 15.75px; }
.main .list .price .num-2 { font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; text-decoration: line-through; color: #999999; line-height: 14px; }
[data-dpr="2"] .main .list .price .num-2 { font-size: 20px; }
[data-dpr="2.625"] .main .list .price .num-2 { font-size: 26.25px; }
[data-dpr="3"] .main .list .price .num-2 { font-size: 32.967032967px; }
[data-dpr="3.5"] .main .list .price .num-2 { font-size: 35px; }
[data-dpr="2"] .main .list .price .num-2 { line-height: 28px; }
[data-dpr="2.625"] .main .list .price .num-2 { line-height: 36.75px; }
[data-dpr="3"] .main .list .price .num-2 { line-height: 46.1538461538px; }
[data-dpr="3.5"] .main .list .price .num-2 { line-height: 49px; }
.main .list .word_a { transition: 0.8s ease; position: absolute; top: 5.46875rem; right: 0.9375rem; font-size: 10px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 9.5px; }
[data-dpr="2"] .main .list .word_a { font-size: 20px; }
[data-dpr="2.625"] .main .list .word_a { font-size: 26.25px; }
[data-dpr="3"] .main .list .word_a { font-size: 32.967032967px; }
[data-dpr="3.5"] .main .list .word_a { font-size: 35px; }
[data-dpr="2"] .main .list .word_a { line-height: 19px; }
[data-dpr="2.625"] .main .list .word_a { line-height: 24.9375px; }
[data-dpr="3"] .main .list .word_a { line-height: 31.3186813187px; }
[data-dpr="3.5"] .main .list .word_a { line-height: 33.25px; }
.main .list-f { float: left; padding-right: 0.4375rem; padding-bottom: 3.78125rem; }
.main .list-f img { width: 10.09375rem; height: 5.71875rem; }
.main .list-f .word { top: 6.1875rem; left: 0.96875rem; }
.main .list-f .price { top: 10.34375rem; left: 0.75rem; }
.main .list-f .word_a { top: 10.375rem; }

.footer { position: fixed; right: 0.9375rem; bottom: 6.25rem; display: grid; }
.footer a { height: 1.9375rem; }
.footer img { width: 1.9375rem; height: 1.9375rem; border-radius: 50%; }
.footer .footer-img-1 { margin-bottom: 0.84375rem; display: none; }
.footer .num-3 { position: absolute; bottom: 1.40625rem; right: 0.15625rem; width: 0.875rem; height: 0.875rem; font-size: 10px; font-family: PingFang SC; font-weight: 400; line-height: 14px; text-align: center; color: white; background: #e83104; border-radius: 50%; }
[data-dpr="2"] .footer .num-3 { font-size: 20px; }
[data-dpr="2.625"] .footer .num-3 { font-size: 26.25px; }
[data-dpr="3"] .footer .num-3 { font-size: 32.967032967px; }
[data-dpr="3.5"] .footer .num-3 { font-size: 35px; }
[data-dpr="2"] .footer .num-3 { line-height: 28px; }
[data-dpr="2.625"] .footer .num-3 { line-height: 36.75px; }
[data-dpr="3"] .footer .num-3 { line-height: 46.1538461538px; }
[data-dpr="3.5"] .footer .num-3 { line-height: 49px; }

/*# sourceMappingURL=curriculum.css.map */
