* { margin: 0; padding: 0; }

body { margin: 0px; padding: 0px; background-color: #f6f6f6; }

p { margin: 0px; }

a, div { text-decoration: none; -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

ul, li { list-style: none; }

video { position: fixed; left: 0px; object-fit: fill; z-index: 2; width: 100%; height: 14.0625rem; }

textarea { border: solid 0px; outline: none; }

.header { position: fixed; top: 0px; width: 100%; height: 2.71875rem; background: white; text-align: center; border-bottom: 0.03125rem solid #dddddd; z-index: 4; }
.header .return { position: absolute; text-decoration: none; line-height: 0px; z-index: 1; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; left: 0.9375rem; top: 1rem; }
[data-dpr="2"] .header .return { font-size: 28px; }
[data-dpr="2.625"] .header .return { font-size: 36.75px; }
[data-dpr="3"] .header .return { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header .return { font-size: 49px; }
.header .return img { width: 0.4375rem; padding-right: 0.46875rem; }
.header span { position: relative; top: -0.0625rem; left: -0.3125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .header span { font-size: 28px; }
[data-dpr="2.625"] .header span { font-size: 36.75px; }
[data-dpr="3"] .header span { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header span { font-size: 49px; }
.header .message { position: absolute; width: 2.75rem; right: 0.96875rem; top: 0.875rem; }
.header .message .share { width: 1rem; position: absolute; right: 0px; }
.header .message .collect { position: absolute; width: 0.96875rem; left: 0px; }
.header .header-title { position: relative; top: 0.90625rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 0.9375rem; }
[data-dpr="2"] .header .header-title { font-size: 30px; }
[data-dpr="2.625"] .header .header-title { font-size: 39.375px; }
[data-dpr="3"] .header .header-title { font-size: 49.4505494505px; }
[data-dpr="3.5"] .header .header-title { font-size: 52.5px; }

.video-box { position: relative; text-align: center; margin-top: 2.75rem; height: 14.0625rem; }
.video-box .video-img { position: fixed; width: 100%; top: 8.4375rem; z-index: 3; }
.video-box .video-img img { position: relative; width: 2.71875rem; height: 2.6875rem; }
.video-box .bv { position: fixed; top: 8.125rem; width: 100%; z-index: 3; text-align: center; display: none; }
.video-box .bv p { height: 0.90625rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 1.125rem; margin-bottom: 0.9375rem; }
[data-dpr="2"] .video-box .bv p { font-size: 28px; }
[data-dpr="2.625"] .video-box .bv p { font-size: 36.75px; }
[data-dpr="3"] .video-box .bv p { font-size: 46.1538461538px; }
[data-dpr="3.5"] .video-box .bv p { font-size: 49px; }
.video-box .bv button { width: 4.75rem; height: 1.5625rem; background: white; border-radius: 0.1875rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; border: 0.03125rem solid white; }
[data-dpr="2"] .video-box .bv button { font-size: 28px; }
[data-dpr="2.625"] .video-box .bv button { font-size: 36.75px; }
[data-dpr="3"] .video-box .bv button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .video-box .bv button { font-size: 49px; }
.video-box .video-study { position: fixed; top: 8.125rem; width: 100%; z-index: 3; text-align: center; display: none; }
.video-box .video-study p { height: 1.125rem; display: -webkit-inline-box; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 1.125rem; margin-bottom: 0.6875rem; }
[data-dpr="2"] .video-box .video-study p { font-size: 28px; }
[data-dpr="2.625"] .video-box .video-study p { font-size: 36.75px; }
[data-dpr="3"] .video-box .video-study p { font-size: 46.1538461538px; }
[data-dpr="3.5"] .video-box .video-study p { font-size: 49px; }
.video-box .video-study .video-study-title { width: 12.9375rem; overflow-y: hidden; }
.video-box .video-study button { display: block; margin: auto; width: 4.75rem; height: 1.5625rem; background: white; border-radius: 0.1875rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; border: 0.03125rem solid white; }
[data-dpr="2"] .video-box .video-study button { font-size: 28px; }
[data-dpr="2.625"] .video-box .video-study button { font-size: 36.75px; }
[data-dpr="3"] .video-box .video-study button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .video-box .video-study button { font-size: 49px; }
.video-box .video-curtain { position: fixed; width: 100%; background: black; opacity: 0.5; height: 14.0625rem; z-index: 2; }

.curtain { position: absolute; top: 0px; width: 100%; height: 100%; z-index: 4; background: rgba(0, 0, 0, 0.5); display: none; }
.curtain .popup-sorry { position: relative; top: 50%; transform: translateY(-50%); width: 15.3125rem; height: 7.25rem; background: white; border-radius: 0.3125rem; margin: auto; display: none; }
.curtain .popup-sorry p { padding: 1.03125rem 2rem 0px 1.96875rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.4375rem; }
[data-dpr="2"] .curtain .popup-sorry p { font-size: 30px; }
[data-dpr="2.625"] .curtain .popup-sorry p { font-size: 39.375px; }
[data-dpr="3"] .curtain .popup-sorry p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .curtain .popup-sorry p { font-size: 52.5px; }
.curtain .popup-sorry button { position: absolute; bottom: 0px; width: 100%; height: 2.5rem; border: none; border-top: 0.03125rem solid #dddddd; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 1.125rem; background: white; border-bottom-right-radius: 0.3125rem; border-bottom-left-radius: 0.3125rem; }
[data-dpr="2"] .curtain .popup-sorry button { font-size: 28px; }
[data-dpr="2.625"] .curtain .popup-sorry button { font-size: 36.75px; }
[data-dpr="3"] .curtain .popup-sorry button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .curtain .popup-sorry button { font-size: 49px; }
.curtain .popup-comment { position: relative; top: 50%; transform: translateY(-50%); width: 17.375rem; height: 19.125rem; background: white; border-radius: 0.3125rem; margin: auto; display: none; }
.curtain .popup-comment .popup-comment-header { position: relative; width: 100%; height: 3.28125rem; padding: 0.9375rem 0px; text-align: center; }
.curtain .popup-comment .popup-comment-header .starability-grow { margin: auto; }
.curtain .popup-comment .popup-comment-header .difficult { position: absolute; bottom: 0.9375rem; width: 100%; margin-top: 1.25rem; }
.curtain .popup-comment .popup-comment-main { background: #f6f6f6; padding: 0.375rem 0.75rem; }
.curtain .popup-comment .popup-comment-main textarea { width: 100%; height: 10.4375rem; border: 0px; background: #f6f6f6; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 19px; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-main textarea { font-size: 26px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-main textarea { font-size: 34.125px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-main textarea { font-size: 42.8571428571px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-main textarea { font-size: 45.5px; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-main textarea { line-height: 38px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-main textarea { line-height: 49.875px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-main textarea { line-height: 62.6373626374px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-main textarea { line-height: 66.5px; }
.curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 19px; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { font-size: 26px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { font-size: 34.125px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { font-size: 42.8571428571px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { font-size: 45.5px; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { line-height: 38px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { line-height: 49.875px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { line-height: 62.6373626374px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-main ::-webkit-input-placeholder { line-height: 66.5px; }
.curtain .popup-comment .popup-comment-footer { position: absolute; width: 100%; height: 2.5rem; bottom: 0px; border-top: 0.03125rem solid #dddddd; }
.curtain .popup-comment .popup-comment-footer button { width: 50%; height: 100%; border: none; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; background: white; border-right: 0.03125rem solid #dddddd; border-bottom-left-radius: 0.3125rem; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-footer button { font-size: 28px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-footer button { font-size: 36.75px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-footer button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-footer button { font-size: 49px; }
.curtain .popup-comment .popup-comment-footer input { position: absolute; right: 0px; width: 50%; height: 100%; border: none; -webkit-appearance: none; outline: none; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 1.125rem; background: white; border-bottom-right-radius: 0.3125rem; }
[data-dpr="2"] .curtain .popup-comment .popup-comment-footer input { font-size: 28px; }
[data-dpr="2.625"] .curtain .popup-comment .popup-comment-footer input { font-size: 36.75px; }
[data-dpr="3"] .curtain .popup-comment .popup-comment-footer input { font-size: 46.1538461538px; }
[data-dpr="3.5"] .curtain .popup-comment .popup-comment-footer input { font-size: 49px; }

.mt-tabpage-count { position: relative; width: 100%; overflow: hidden; }

.mt-tabpage-cont__wrap { position: absolute; width: 300%; }

.mt-tabpage-count .mt-tabpage-item { width: 33.3333333%; }

.main { background: #f6f6f6; }
.main .nav { position: fixed; z-index: 2; padding-left: 0.9375rem; padding-right: 0.96875rem; height: 2.5625rem; background: white; border: 0.03125rem solid #dddddd; }
.main .nav .nav-list { width: 33.333333%; float: left; }
.main .nav .nav-list p { font-size: 16px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 41px; }
[data-dpr="2"] .main .nav .nav-list p { font-size: 32px; }
[data-dpr="2.625"] .main .nav .nav-list p { font-size: 42px; }
[data-dpr="3"] .main .nav .nav-list p { font-size: 52.7472527473px; }
[data-dpr="3.5"] .main .nav .nav-list p { font-size: 56px; }
[data-dpr="2"] .main .nav .nav-list p { line-height: 82px; }
[data-dpr="2.625"] .main .nav .nav-list p { line-height: 107.625px; }
[data-dpr="3"] .main .nav .nav-list p { line-height: 135.1648351648px; }
[data-dpr="3.5"] .main .nav .nav-list p { line-height: 143.5px; }
.main .nav .list-1 p { color: #2465ff; float: left; }
.main .nav .list-2 { text-align: center; }
.main .nav .list-3 p { float: right; }
.main .nav .bar { position: absolute; left: 0.96875rem; bottom: 0px; height: 0.125rem; width: 2.0625rem; background: #2465ff; }
.main .content-1 { overflow-y: scroll; -webkit-overflow-scrolling: touch; background: #f6f6f6; padding-top: 2.625rem; }
.main .content-1 .content-1-title { position: absolute; top: 0.9375rem; left: 0.9375rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.8125rem; }
[data-dpr="2"] .main .content-1 .content-1-title { font-size: 28px; }
[data-dpr="2.625"] .main .content-1 .content-1-title { font-size: 36.75px; }
[data-dpr="3"] .main .content-1 .content-1-title { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-1 .content-1-title { font-size: 49px; }
.main .content-1 .content-1-header { position: relative; padding: 0.75rem 0.9375rem 0.9375rem; height: 6.84375rem; background: white; margin-bottom: 0.9375rem; }
.main .content-1 .content-1-header .className p { font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 1.3125rem; }
[data-dpr="2"] .main .content-1 .content-1-header .className p { font-size: 30px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .className p { font-size: 39.375px; }
[data-dpr="3"] .main .content-1 .content-1-header .className p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .className p { font-size: 52.5px; }
.main .content-1 .content-1-header .className span { position: absolute; top: 2.46875rem; right: 1.0625rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.65625rem; }
[data-dpr="2"] .main .content-1 .content-1-header .className span { font-size: 22px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .className span { font-size: 28.875px; }
[data-dpr="3"] .main .content-1 .content-1-header .className span { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .className span { font-size: 38.5px; }
.main .content-1 .content-1-header .priceFree { position: absolute; top: 4.0625rem; left: 0.71875rem; display: none; }
.main .content-1 .content-1-header .priceFree .free { font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-weight: 500; color: #27c056; line-height: 0.84375rem; }
[data-dpr="2"] .main .content-1 .content-1-header .priceFree .free { font-size: 28px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .priceFree .free { font-size: 36.75px; }
[data-dpr="3"] .main .content-1 .content-1-header .priceFree .free { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .priceFree .free { font-size: 49px; }
.main .content-1 .content-1-header .priceFree .originPrice { position: absolute; bottom: 0rem; left: 1.96875rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.53125rem; text-decoration: line-through; }
[data-dpr="2"] .main .content-1 .content-1-header .priceFree .originPrice { font-size: 22px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .priceFree .originPrice { font-size: 28.875px; }
[data-dpr="3"] .main .content-1 .content-1-header .priceFree .originPrice { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .priceFree .originPrice { font-size: 38.5px; }
.main .content-1 .content-1-header .price { position: absolute; top: 4.15625rem; left: 0.71875rem; display: -webkit-inline-box; }
.main .content-1 .content-1-header .price .p1 { font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-weight: 500; color: #e83104; line-height: 0.71875rem; }
[data-dpr="2"] .main .content-1 .content-1-header .price .p1 { font-size: 28px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .price .p1 { font-size: 36.75px; }
[data-dpr="3"] .main .content-1 .content-1-header .price .p1 { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .price .p1 { font-size: 49px; }
.main .content-1 .content-1-header .price .p2 { font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-weight: 500; color: #e83104; line-height: 0.71875rem; }
[data-dpr="2"] .main .content-1 .content-1-header .price .p2 { font-size: 24px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .price .p2 { font-size: 31.5px; }
[data-dpr="3"] .main .content-1 .content-1-header .price .p2 { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .price .p2 { font-size: 42px; }
.main .content-1 .content-1-header .price .originPrice { font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.875rem; text-decoration: line-through; }
[data-dpr="2"] .main .content-1 .content-1-header .price .originPrice { font-size: 22px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .price .originPrice { font-size: 28.875px; }
[data-dpr="3"] .main .content-1 .content-1-header .price .originPrice { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .price .originPrice { font-size: 38.5px; }
.main .content-1 .content-1-header .vip { position: absolute; bottom: 0.9375rem; width: 21.5625rem; height: 1.6875rem; background: linear-gradient(90deg, #ffe0b2, #ffeac9, #ffca7b); border-radius: 0.1875rem; }
.main .content-1 .content-1-header .vip img { position: absolute; top: 0.4375rem; left: 0.46875rem; width: 0.9375rem; height: 0.875rem; }
.main .content-1 .content-1-header .vip p { position: absolute; left: 1.90625rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.6875rem; }
[data-dpr="2"] .main .content-1 .content-1-header .vip p { font-size: 24px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .vip p { font-size: 31.5px; }
[data-dpr="3"] .main .content-1 .content-1-header .vip p { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .vip p { font-size: 42px; }
.main .content-1 .content-1-header .vip button { position: absolute; top: 0.28125rem; right: 0.4375rem; width: 3.875rem; height: 1.125rem; background: linear-gradient(90deg, #ffca7b, #f36543, #f84a29); border-radius: 0.5625rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 1.125rem; border: none; }
[data-dpr="2"] .main .content-1 .content-1-header .vip button { font-size: 22px; }
[data-dpr="2.625"] .main .content-1 .content-1-header .vip button { font-size: 28.875px; }
[data-dpr="3"] .main .content-1 .content-1-header .vip button { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-1 .content-1-header .vip button { font-size: 38.5px; }
.main .content-1 .content-1-header-free { height: 4.21875rem; }
.main .content-1 .content-1-main { position: relative; width: 100%; height: 32.4375rem; background: white; margin-bottom: 0.9375rem; }
.main .content-1 .content-1-main img { width: 21.5625rem; height: 28.8125rem; padding: 2.6875rem 0.9375rem 0.9375rem; }
.main .content-1 .content-1-footer { position: relative; width: 100%; height: 20.1875rem; background: white; margin-bottom: 6.4375rem; }
.main .content-1 .content-1-footer .change { position: absolute; top: 0.90625rem; right: 1.84375rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.71875rem; }
[data-dpr="2"] .main .content-1 .content-1-footer .change { font-size: 24px; }
[data-dpr="2.625"] .main .content-1 .content-1-footer .change { font-size: 31.5px; }
[data-dpr="3"] .main .content-1 .content-1-footer .change { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-1 .content-1-footer .change { font-size: 42px; }
.main .content-1 .content-1-footer .change-img { position: absolute; top: 0.875rem; right: 0.90625rem; width: 0.71875rem; height: 0.78125rem; }
.main .content-1 .content-1-footer .container { padding-top: 2.6875rem; padding-left: 0.9375rem; }
.main .content-1 .content-1-footer .container .content { width: 10.3125rem; height: 8.75rem; margin-right: 0.9375rem; float: left; }
.main .content-1 .content-1-footer .container .content img { width: 100%; height: 6.1875rem; border-radius: 0.1875rem; }
.main .content-1 .content-1-footer .container .content p { height: 0.78125rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 0.78125rem; margin: 0.5625rem 0; overflow-y: hidden; }
[data-dpr="2"] .main .content-1 .content-1-footer .container .content p { font-size: 26px; }
[data-dpr="2.625"] .main .content-1 .content-1-footer .container .content p { font-size: 34.125px; }
[data-dpr="3"] .main .content-1 .content-1-footer .container .content p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-1 .content-1-footer .container .content p { font-size: 45.5px; }
.main .content-2 { overflow-y: scroll; -webkit-overflow-scrolling: touch; background: #f6f6f6; padding-top: 2.625rem; }
.main .content-2 .list { width: 100%; background: #fff; padding-bottom: 2.8125rem; }
.main .content-2 .list ul { padding-bottom: 2.8125rem; background: #f6f6f6; }
.main .content-2 .list ul li { position: relative; width: 100%; -webkit-transition: .3s ease; -moz-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }
.main .content-2 .list ul li .title { background: #f6f6f6; height: 2.625rem; padding-left: 15.5px; padding-right: 15px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 2.625rem; padding: 0; border: none; position: relative; }
[data-dpr="2"] .main .content-2 .list ul li .title { padding-left: 31px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title { padding-left: 40.6875px; }
[data-dpr="3"] .main .content-2 .list ul li .title { padding-left: 51.0989010989px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title { padding-left: 54.25px; }
[data-dpr="2"] .main .content-2 .list ul li .title { padding-right: 30px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title { padding-right: 39.375px; }
[data-dpr="3"] .main .content-2 .list ul li .title { padding-right: 49.4505494505px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title { padding-right: 52.5px; }
[data-dpr="2"] .main .content-2 .list ul li .title { font-size: 28px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title { font-size: 36.75px; }
[data-dpr="3"] .main .content-2 .list ul li .title { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title { font-size: 49px; }
.main .content-2 .list ul li .title span { position: absolute; right: 15px; }
[data-dpr="2"] .main .content-2 .list ul li .title span { right: 30px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title span { right: 39.375px; }
[data-dpr="3"] .main .content-2 .list ul li .title span { right: 49.4505494505px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title span { right: 52.5px; }
.main .content-2 .list ul li .title img { position: absolute; top: 17.5px; right: 15px; }
[data-dpr="2"] .main .content-2 .list ul li .title img { top: 35px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title img { top: 45.9375px; }
[data-dpr="3"] .main .content-2 .list ul li .title img { top: 57.6923076923px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title img { top: 61.25px; }
[data-dpr="2"] .main .content-2 .list ul li .title img { right: 30px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title img { right: 39.375px; }
[data-dpr="3"] .main .content-2 .list ul li .title img { right: 49.4505494505px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title img { right: 52.5px; }
.main .content-2 .list ul li .title-2 { position: absolute; top: 0px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; background: #f6f6f6 !important; left: 71.5px; line-height: 2.625rem; }
[data-dpr="2"] .main .content-2 .list ul li .title-2 { font-size: 28px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title-2 { font-size: 36.75px; }
[data-dpr="3"] .main .content-2 .list ul li .title-2 { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title-2 { font-size: 49px; }
[data-dpr="2"] .main .content-2 .list ul li .title-2 { left: 143px; }
[data-dpr="2.625"] .main .content-2 .list ul li .title-2 { left: 187.6875px; }
[data-dpr="3"] .main .content-2 .list ul li .title-2 { left: 235.7142857143px; }
[data-dpr="3.5"] .main .content-2 .list ul li .title-2 { left: 250.25px; }
.main .content-2 .list-se { overflow: hidden; display: none; padding-bottom: 0.25rem; }
.main .content-2 .list-se p { background: white !important; color: black; }
.main .content-2 .list-se .title { background: #f6f6f6 !important; margin-bottom: 0.25rem; }
.main .content-2 .list-se li { position: relative; right: -100%; -webkit-transition: right .5s; -moz-transition: right .5s; -o-transition: right .5s; transition: right .5s; }
.main .content-2 .list-se li img { position: absolute; top: 1.03125rem; left: 1.65625rem; width: 0.9375rem; height: 0.75rem; }
.main .content-2 .list-se li .li-p1 { padding-left: 2.96875rem; padding-right: 4.59375rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 42px; height: 2.625rem; -webkit-transition: border .5s; transition: border .5s; -webkit-transition: background .3s; transition: background .3s; }
[data-dpr="2"] .main .content-2 .list-se li .li-p1 { font-size: 24px; }
[data-dpr="2.625"] .main .content-2 .list-se li .li-p1 { font-size: 31.5px; }
[data-dpr="3"] .main .content-2 .list-se li .li-p1 { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-2 .list-se li .li-p1 { font-size: 42px; }
[data-dpr="2"] .main .content-2 .list-se li .li-p1 { line-height: 84px; }
[data-dpr="2.625"] .main .content-2 .list-se li .li-p1 { line-height: 110.25px; }
[data-dpr="3"] .main .content-2 .list-se li .li-p1 { line-height: 138.4615384615px; }
[data-dpr="3.5"] .main .content-2 .list-se li .li-p1 { line-height: 147px; }
.main .content-2 .list-se li .li-p2 { position: absolute; top: 0px; right: 0.875rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999 !important; line-height: 42px; }
[data-dpr="2"] .main .content-2 .list-se li .li-p2 { font-size: 24px; }
[data-dpr="2.625"] .main .content-2 .list-se li .li-p2 { font-size: 31.5px; }
[data-dpr="3"] .main .content-2 .list-se li .li-p2 { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-2 .list-se li .li-p2 { font-size: 42px; }
[data-dpr="2"] .main .content-2 .list-se li .li-p2 { line-height: 84px; }
[data-dpr="2.625"] .main .content-2 .list-se li .li-p2 { line-height: 110.25px; }
[data-dpr="3"] .main .content-2 .list-se li .li-p2 { line-height: 138.4615384615px; }
[data-dpr="3.5"] .main .content-2 .list-se li .li-p2 { line-height: 147px; }
.main .content-2 .list-se li .live-p { right: 1.0625rem; }
.main .content-3 { overflow-y: scroll; -webkit-overflow-scrolling: touch; padding-top: 2.625rem; background: #f6f6f6; }
.main .content-3 .content-3-title { position: absolute; top: 0.96875rem; left: 0.9375rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.8125rem; }
[data-dpr="2"] .main .content-3 .content-3-title { font-size: 28px; }
[data-dpr="2.625"] .main .content-3 .content-3-title { font-size: 36.75px; }
[data-dpr="3"] .main .content-3 .content-3-title { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-3 .content-3-title { font-size: 49px; }
.main .content-3 .content-3-header { position: relative; width: 100%; height: 8.125rem; background: white; margin-bottom: 0.9375rem; }
.main .content-3 .content-3-header .comment { text-align: center; padding: 2.25rem 0 0.9375rem; }
.main .content-3 .content-3-header .comment .starability-grow { margin: auto; }
.main .content-3 .content-3-header .comment p { font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 2.28125rem; }
[data-dpr="2"] .main .content-3 .content-3-header .comment p { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-header .comment p { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-header .comment p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-header .comment p { font-size: 45.5px; }
.main .content-3 .content-3-header .comment button { width: 3.9375rem; height: 1.4375rem; border: none; background: linear-gradient(122deg, #6692fa, #3873ff); border-radius: 0.1875rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 1.125rem; }
[data-dpr="2"] .main .content-3 .content-3-header .comment button { font-size: 24px; }
[data-dpr="2.625"] .main .content-3 .content-3-header .comment button { font-size: 31.5px; }
[data-dpr="3"] .main .content-3 .content-3-header .comment button { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-3 .content-3-header .comment button { font-size: 42px; }
.main .content-3 .content-3-main { position: relative; width: 100%; min-height: 20.96875rem; background: white; margin-bottom: 5.5rem; }
.main .content-3 .content-3-main .notComment { padding-top: 5.25rem; text-align: center; display: none; }
.main .content-3 .content-3-main .notComment img { width: 7.34375rem; height: 5.25rem; }
.main .content-3 .content-3-main .notComment p { font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.78125rem; margin-top: 0.8125rem; }
[data-dpr="2"] .main .content-3 .content-3-main .notComment p { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .notComment p { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .notComment p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .notComment p { font-size: 45.5px; }
.main .content-3 .content-3-main .allComment { position: absolute; width: 100%; top: 3.4375rem; height: 6.25rem; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 { position: relative; margin: 0 0.9375rem; padding: 0.9375rem 0; border-bottom: 0.03125rem solid #dddddd; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead img { width: 1.9375rem; height: 1.9375rem; border-radius: 50%; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .username { font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.75rem; }
[data-dpr="2"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .username { font-size: 24px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .username { font-size: 31.5px; }
[data-dpr="3"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .username { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .username { font-size: 42px; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .star_score { bottom: 0.15625rem; left: 5rem; background: url(../image/video/starky-2.png); background-size: 1rem 0.78125rem; width: 5rem; height: 0.78125rem; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .star_score a { height: 0.78125rem; display: block; text-indent: -999em; position: absolute; left: 0; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .star_score a:hover { background: url(../image/video/starsy-2.png); background-size: 1rem 0.78125rem; left: 0; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .star_score a.clibg { background: url(../image/video/starsy-2.png); background-size: 1rem 0.78125rem; left: 0; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .time { font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 0.6875rem; }
[data-dpr="2"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .time { font-size: 22px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .time { font-size: 28.875px; }
[data-dpr="3"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .time { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .comhead .time { font-size: 38.5px; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .tex { font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; }
[data-dpr="2"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .tex { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .tex { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .tex { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .tex { font-size: 45.5px; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise { position: absolute; bottom: 0.9375rem; right: 0px; display: flex; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise img { width: 0.8125rem; height: 0.8125rem; }
.main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise p { font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; }
[data-dpr="2"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise p { font-size: 22px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise p { font-size: 28.875px; }
[data-dpr="3"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise p { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .allComment .allComment-main .main-comment_1 .praise p { font-size: 38.5px; }
.main .content-footer { width: 100%; height: 2.78125rem; position: fixed; bottom: 0px; background: #fff; z-index: 3; border-top: 0.03125rem solid #dddddd; }
.main .content-footer img { position: absolute; top: 0.40625rem; left: 0.9375rem; width: 2rem; height: 2rem; border-radius: 50%; }
.main .content-footer p { position: absolute; bottom: 1rem; left: 3.5625rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 0.78125rem; }
[data-dpr="2"] .main .content-footer p { font-size: 26px; }
[data-dpr="2.625"] .main .content-footer p { font-size: 34.125px; }
[data-dpr="3"] .main .content-footer p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-footer p { font-size: 45.5px; }
.main .content-footer button { position: absolute; top: 0.46875rem; width: 5.0625rem; height: 1.8125rem; border-radius: 0.1875rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 1.125rem; }
[data-dpr="2"] .main .content-footer button { font-size: 28px; }
[data-dpr="2.625"] .main .content-footer button { font-size: 36.75px; }
[data-dpr="3"] .main .content-footer button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-footer button { font-size: 49px; }
.main .content-footer .content-b1 { right: 6.6875rem; color: #2465ff; border: 0.03125rem solid #2465ff; background: #fff; }
.main .content-footer .content-b2 { right: 0.9375rem; color: white; border: 0.03125rem solid #eeeeee; background: linear-gradient(122deg, #6692fa, #3873ff); }
.main .content-footer .content-b34 { display: none; border: none; width: 8.09375rem; height: 1.875rem; right: 0.9375rem; color: white; background: linear-gradient(122deg, #1bb54a, #19ac46); }
.main .content-footer .content-b5 { background: linear-gradient(122deg, #6692fa, #3873ff); }

.richradio, .richcheckbox { border: 0.03125rem solid #dddddd; color: #333333; display: inline-block; width: 2.8125rem; height: 1.0625rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; text-align: center; margin: 0px 0.078125rem; transition: .5s ease; }
[data-dpr="2"] .richradio, [data-dpr="2"] .richcheckbox { font-size: 22px; }
[data-dpr="2.625"] .richradio, [data-dpr="2.625"] .richcheckbox { font-size: 28.875px; }
[data-dpr="3"] .richradio, [data-dpr="3"] .richcheckbox { font-size: 36.2637362637px; }
[data-dpr="3.5"] .richradio, [data-dpr="3.5"] .richcheckbox { font-size: 38.5px; }

.richradio:hover, .richcheckbox:hover { cursor: pointer; }

.lowIE { position: absolute\9; top: -999px\9; left: -999px\9; }

.otherBrowser { display: none; }

.IEChecked { background: url(../image/other/checked.png) no-repeat right bottom; background-size: auto auto; border: 1px solid #00a4ff; background-size: 21px 21px; color: #00a4ff; }

.otherBrowserChecked { background: #b2d6f5; border: 1px solid #b2d6f5; }

.block { position: relative; width: 100%; height: 1.65625rem; line-height: 21px; }
.block .fenshu { position: absolute; bottom: 0.1875rem; left: 0.96875rem; font-size: 28px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-weight: 500; color: #ff7800; line-height: 1.28125rem; }
[data-dpr="2"] .block .fenshu { font-size: 56px; }
[data-dpr="2.625"] .block .fenshu { font-size: 73.5px; }
[data-dpr="3"] .block .fenshu { font-size: 92.3076923077px; }
[data-dpr="3.5"] .block .fenshu { font-size: 98px; }
.block .p-star { position: absolute; bottom: 0.1875rem; left: 4rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.75rem; }
[data-dpr="2"] .block .p-star { font-size: 28px; }
[data-dpr="2.625"] .block .p-star { font-size: 36.75px; }
[data-dpr="3"] .block .p-star { font-size: 46.1538461538px; }
[data-dpr="3.5"] .block .p-star { font-size: 49px; }
.block .num { position: absolute; bottom: 0.15625rem; left: 12.21875rem; display: -webkit-inline-box; }
.block .num p { font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.6875rem; }
[data-dpr="2"] .block .num p { font-size: 22px; }
[data-dpr="2.625"] .block .num p { font-size: 28.875px; }
[data-dpr="3"] .block .num p { font-size: 36.2637362637px; }
[data-dpr="3.5"] .block .num p { font-size: 38.5px; }
.block .p-dif { position: absolute; bottom: 0.15625rem; right: 4.21875rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 0.875rem; }
[data-dpr="2"] .block .p-dif { font-size: 28px; }
[data-dpr="2.625"] .block .p-dif { font-size: 36.75px; }
[data-dpr="3"] .block .p-dif { font-size: 46.1538461538px; }
[data-dpr="3.5"] .block .p-dif { font-size: 49px; }
.block .div_dif { position: absolute; bottom: 0rem; right: 0.9375rem; width: 2.8125rem; height: 1.125rem; background: #b2d6f5; text-align: center; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #333333; line-height: 1.125rem; }
[data-dpr="2"] .block .div_dif { font-size: 22px; }
[data-dpr="2.625"] .block .div_dif { font-size: 28.875px; }
[data-dpr="3"] .block .div_dif { font-size: 36.2637362637px; }
[data-dpr="3.5"] .block .div_dif { font-size: 38.5px; }
.block .star_score { position: absolute; bottom: 0.15625rem; left: 5rem; background: url(../image/video/starky.png); background-size: 1.375rem 1rem; width: 6.875rem; height: 1rem; }
.block .star_score a { height: 1rem; display: block; text-indent: -999em; position: absolute; left: 0; }
.block .star_score a:hover { background: url(../image/video/starsy.png); background-size: 1.375rem 1rem; left: 0; }
.block .star_score a.clibg { background: url(../image/video/starsy.png); background-size: 1.375rem 1rem; left: 0; }

.block .star_score { float: left; }

/*# sourceMappingURL=particulars.css.map */
