* { margin: 0; padding: 0; }

body { margin: 0px; padding: 0px; background-color: #f6f6f6; }

p { margin: 0px; }

a, div { text-decoration: none; -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

ul, li { list-style: none; }

video { position: fixed; left: 0px; object-fit: fill; z-index: 2; width: 100%; height: 14.0625rem; }

textarea { border: solid 0px; outline: none; }

.header { position: fixed; top: 0px; width: 100%; height: 2.71875rem; background: white; text-align: center; border-bottom: 0.03125rem solid #dddddd; z-index: 4; }
.header .return { position: absolute; text-decoration: none; line-height: 0px; z-index: 1; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; left: 0.9375rem; top: 1rem; }
[data-dpr="2"] .header .return { font-size: 28px; }
[data-dpr="2.625"] .header .return { font-size: 36.75px; }
[data-dpr="3"] .header .return { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header .return { font-size: 49px; }
.header .return img { width: 0.4375rem; padding-right: 0.46875rem; }
.header span { position: relative; top: -0.0625rem; left: -0.3125rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .header span { font-size: 28px; }
[data-dpr="2.625"] .header span { font-size: 36.75px; }
[data-dpr="3"] .header span { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header span { font-size: 49px; }
.header .message { position: absolute; width: 1.03125rem; height: 0.9375rem; right: 0.96875rem; top: 0.90625rem; }
.header .message img { width: 100%; position: absolute; top: 0.40625rem; right: 0px; }
.header .header-title { position: relative; top: 0.90625rem; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 15px; }
[data-dpr="2"] .header .header-title { font-size: 30px; }
[data-dpr="2.625"] .header .header-title { font-size: 39.375px; }
[data-dpr="3"] .header .header-title { font-size: 49.4505494505px; }
[data-dpr="3.5"] .header .header-title { font-size: 52.5px; }
[data-dpr="2"] .header .header-title { line-height: 30px; }
[data-dpr="2.625"] .header .header-title { line-height: 39.375px; }
[data-dpr="3"] .header .header-title { line-height: 49.4505494505px; }
[data-dpr="3.5"] .header .header-title { line-height: 52.5px; }
.header .popModal { width: 8.4375rem; height: 5.625rem; right: 0.3125rem; top: 3.71875rem; padding: 0.625rem; border-radius: 0.375rem; }
.header .popModal .drop { height: 2.15625rem; }
.header .popModal .drop img { position: absolute; left: 1.375rem; width: 0.9375rem; height: 1.03125rem; }
.header .popModal .drop p { position: absolute; right: 1.5625rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 13.5px; }
[data-dpr="2"] .header .popModal .drop p { font-size: 28px; }
[data-dpr="2.625"] .header .popModal .drop p { font-size: 36.75px; }
[data-dpr="3"] .header .popModal .drop p { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header .popModal .drop p { font-size: 49px; }
[data-dpr="2"] .header .popModal .drop p { line-height: 27px; }
[data-dpr="2.625"] .header .popModal .drop p { line-height: 35.4375px; }
[data-dpr="3"] .header .popModal .drop p { line-height: 44.5054945055px; }
[data-dpr="3.5"] .header .popModal .drop p { line-height: 47.25px; }
.header .popModal .drop-1 { border-bottom: 0.03125rem solid #ddd; }
.header .popModal .drop-1 img { top: 1rem; }
.header .popModal .drop-1 p { top: 1.125rem; }
.header .popModal .drop-2 img { bottom: 1.03125rem; }
.header .popModal .drop-2 p { bottom: 1.09375rem; }

.popModal.bottomRight:before, .popModal.bottomRight:after { right: 0.625rem; }

.popModal.bottomLeft:after, .popModal.bottomRight:after, .popModal.bottomCenter:after { right: 0.625rem; top: -0.28125rem; }

.popModal.bottomLeft:before, .popModal.bottomRight:before, .popModal.bottomCenter:before { right: 0.625rem; top: -0.3125rem; }

.popModal:before, .popModal:after { border: 0.3125rem solid transparent; }

.curtain { position: absolute; top: 0px; width: 100%; z-index: 3; background: black; opacity: 0.5; display: none; }

.video-box { position: relative; text-align: center; margin-top: 2.75rem; height: 14.0625rem; }
.video-box .video-img { position: fixed; width: 100%; top: 9.8125rem; z-index: 2; }
.video-box .video-img img { position: relative; width: 2.71875rem; height: 2.6875rem; }

.content-3-reply { position: absolute; width: 100%; top: 50%; height: 16.46875rem; z-index: 4; display: none; }
.content-3-reply .content-3-reply-box { position: relative; top: -8.234375rem; margin: auto; width: 74.133333%; height: 100%; text-align: center; border-radius: 0.3125rem; background: white; }
.content-3-reply .content-3-reply-box p { font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 40px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box p { font-size: 28px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box p { font-size: 36.75px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box p { font-size: 46.1538461538px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box p { font-size: 49px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box p { line-height: 80px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box p { line-height: 105px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box p { line-height: 131.8681318681px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box p { line-height: 140px; }
.content-3-reply .content-3-reply-box textarea { border: 0px; width: 100%; height: 10.3125rem; background: #f6f6f6; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 19px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box textarea { font-size: 26px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box textarea { font-size: 34.125px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box textarea { font-size: 42.8571428571px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box textarea { font-size: 45.5px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box textarea { line-height: 38px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box textarea { line-height: 49.875px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box textarea { line-height: 62.6373626374px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box textarea { line-height: 66.5px; }
.content-3-reply .content-3-reply-box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 19px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { font-size: 26px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { font-size: 34.125px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { font-size: 42.8571428571px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { font-size: 45.5px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { line-height: 38px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { line-height: 49.875px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { line-height: 62.6373626374px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box ::-webkit-input-placeholder { line-height: 66.5px; }
.content-3-reply .content-3-reply-box .content-3-reply-main { background: #f6f6f6; padding: 0.5625rem 0.75rem; }
.content-3-reply .content-3-reply-box .content-3-reply-footer { position: absolute; width: 100%; height: 2.5rem; bottom: 0px; display: flex; border-top: 0.03125rem solid #ddd; }
.content-3-reply .content-3-reply-box .content-3-reply-footer button { width: 50%; height: 100%; border: 0px; background: white; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 18px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { font-size: 28px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { font-size: 36.75px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { font-size: 49px; }
[data-dpr="2"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { line-height: 36px; }
[data-dpr="2.625"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { line-height: 47.25px; }
[data-dpr="3"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { line-height: 59.3406593407px; }
[data-dpr="3.5"] .content-3-reply .content-3-reply-box .content-3-reply-footer button { line-height: 63px; }
.content-3-reply .content-3-reply-box .content-3-reply-footer .button-1 { color: #333333; border-bottom-left-radius: 0.3125rem; }
.content-3-reply .content-3-reply-box .content-3-reply-footer .button-2 { color: #2465ff; border-bottom-right-radius: 0.3125rem; border-left: 0.03125rem solid #ddd; }

.mt-tabpage-count { position: relative; width: 100%; overflow: hidden; }

.mt-tabpage-cont__wrap { position: absolute; width: 300%; }

.mt-tabpage-count .mt-tabpage-item { width: 33.3333333%; }

.main { background: #f6f6f6; }
.main .nav { position: fixed; z-index: 2; padding-left: 0.9375rem; padding-right: 0.96875rem; height: 2.875rem; background: white; border: 0.03125rem solid #dddddd; }
.main .nav .nav-list { width: 33.333333%; float: left; }
.main .nav .nav-list p { font-size: 16px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 2.875rem; }
[data-dpr="2"] .main .nav .nav-list p { font-size: 32px; }
[data-dpr="2.625"] .main .nav .nav-list p { font-size: 42px; }
[data-dpr="3"] .main .nav .nav-list p { font-size: 52.7472527473px; }
[data-dpr="3.5"] .main .nav .nav-list p { font-size: 56px; }
.main .nav .list-1 p { color: #2465ff; float: left; }
.main .nav .list-2 { text-align: center; }
.main .nav .list-3 p { float: right; }
.main .nav .bar { position: absolute; left: 0.96875rem; bottom: 0px; height: 0.125rem; width: 65px; background: #2465ff; }
[data-dpr="2"] .main .nav .bar { width: 130px; }
[data-dpr="2.625"] .main .nav .bar { width: 170.625px; }
[data-dpr="3"] .main .nav .bar { width: 214.2857142857px; }
[data-dpr="3.5"] .main .nav .bar { width: 227.5px; }
.main .content { overflow-y: scroll; -webkit-overflow-scrolling: touch; background: #f6f6f6; padding-top: 2.9375rem; }
.main .content .list { width: 100%; background: #fff; padding-bottom: 2.8125rem; }
.main .content .list ul { background: white; }
.main .content .list ul li { position: relative; width: 100%; -webkit-transition: .3s ease; -moz-transition: .3s ease; -o-transition: .3s ease; transition: .3s ease; }
.main .content .list ul li .title { background: #f6f6f6; height: 2.75rem; border-bottom: 0.03125rem solid #dddddd; padding-left: 0.96875rem; padding-right: 0.9375rem; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 2.75rem; position: relative; }
[data-dpr="2"] .main .content .list ul li .title { font-size: 28px; }
[data-dpr="2.625"] .main .content .list ul li .title { font-size: 36.75px; }
[data-dpr="3"] .main .content .list ul li .title { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content .list ul li .title { font-size: 49px; }
.main .content .list ul li .title img { position: absolute; top: 1.09375rem; right: 0.9375rem; }
.main .content .list ul li .title-2 { position: absolute; top: 0px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; background: #f6f6f6 !important; left: 4.46875rem; line-height: 2.75rem; }
[data-dpr="2"] .main .content .list ul li .title-2 { font-size: 28px; }
[data-dpr="2.625"] .main .content .list ul li .title-2 { font-size: 36.75px; }
[data-dpr="3"] .main .content .list ul li .title-2 { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content .list ul li .title-2 { font-size: 49px; }
.main .content .list-se { overflow: hidden; display: none; padding-bottom: 0.78125rem; border-bottom: 0.03125rem solid #dddddd; }
.main .content .list-se p { background: white !important; color: black; }
.main .content .list-se .title { background: #f6f6f6 !important; margin-bottom: 0.78125rem; }
.main .content .list-se li { position: relative; right: -100%; -webkit-transition: right .5s; -moz-transition: right .5s; -o-transition: right .5s; transition: right .5s; }
.main .content .list-se li img { position: absolute; top: 0.78125rem; left: 1.65625rem; width: 0.9375rem; height: 0.75rem; }
.main .content .list-se li .li-p1 { padding-left: 2.96875rem; padding-right: 4.59375rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; line-height: 37.5px; height: 2.34375rem; -webkit-transition: border .5s; transition: border .5s; -webkit-transition: background .3s; transition: background .3s; }
[data-dpr="2"] .main .content .list-se li .li-p1 { font-size: 26px; }
[data-dpr="2.625"] .main .content .list-se li .li-p1 { font-size: 34.125px; }
[data-dpr="3"] .main .content .list-se li .li-p1 { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content .list-se li .li-p1 { font-size: 45.5px; }
[data-dpr="2"] .main .content .list-se li .li-p1 { line-height: 75px; }
[data-dpr="2.625"] .main .content .list-se li .li-p1 { line-height: 98.4375px; }
[data-dpr="3"] .main .content .list-se li .li-p1 { line-height: 123.6263736264px; }
[data-dpr="3.5"] .main .content .list-se li .li-p1 { line-height: 131.25px; }
.main .content .list-se li .li-p2 { position: absolute; top: 0px; right: 0.875rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999 !important; line-height: 37.5px; }
[data-dpr="2"] .main .content .list-se li .li-p2 { font-size: 22px; }
[data-dpr="2.625"] .main .content .list-se li .li-p2 { font-size: 28.875px; }
[data-dpr="3"] .main .content .list-se li .li-p2 { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content .list-se li .li-p2 { font-size: 38.5px; }
[data-dpr="2"] .main .content .list-se li .li-p2 { line-height: 75px; }
[data-dpr="2.625"] .main .content .list-se li .li-p2 { line-height: 98.4375px; }
[data-dpr="3"] .main .content .list-se li .li-p2 { line-height: 123.6263736264px; }
[data-dpr="3.5"] .main .content .list-se li .li-p2 { line-height: 131.25px; }
.main .content .list-se li .live-p { right: 1.0625rem; }
.main .content-2 { position: relative; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.main .content-2 .content-2-header { position: absolute; top: 2.9375rem; width: 100%; height: 3.125rem; background: #f6f6f6; }
.main .content-2 .content-2-header .avatar-list { position: relative; overflow: hidden; height: 1.9375rem; padding-top: 0.59375rem; margin-bottom: 0.59375rem; padding-left: 0.9375rem; margin-right: 4.875rem; }
.main .content-2 .content-2-header .avatar { width: 1.9375rem; height: 1.9375rem; display: inline-block; border-radius: 50%; margin-right: -0.625rem; box-shadow: -0.0625rem 0.03125rem 0.125rem 0px rgba(0, 0, 0, 0.16); }
.main .content-2 .content-2-header p { position: absolute; top: 1.21875rem; right: 0.9375rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 10.5px; }
[data-dpr="2"] .main .content-2 .content-2-header p { font-size: 22px; }
[data-dpr="2.625"] .main .content-2 .content-2-header p { font-size: 28.875px; }
[data-dpr="3"] .main .content-2 .content-2-header p { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-2 .content-2-header p { font-size: 38.5px; }
[data-dpr="2"] .main .content-2 .content-2-header p { line-height: 21px; }
[data-dpr="2.625"] .main .content-2 .content-2-header p { line-height: 27.5625px; }
[data-dpr="3"] .main .content-2 .content-2-header p { line-height: 34.6153846154px; }
[data-dpr="3.5"] .main .content-2 .content-2-header p { line-height: 36.75px; }
.main .content-2 .content-2-header .omit { position: absolute; top: 0.9375rem; right: 5.3125rem; font-size: 15px; }
[data-dpr="2"] .main .content-2 .content-2-header .omit { font-size: 30px; }
[data-dpr="2.625"] .main .content-2 .content-2-header .omit { font-size: 39.375px; }
[data-dpr="3"] .main .content-2 .content-2-header .omit { font-size: 49.4505494505px; }
[data-dpr="3.5"] .main .content-2 .content-2-header .omit { font-size: 52.5px; }
.main .content-2 .content-2-main { position: absolute; top: 6.0625rem; padding-bottom: 2.8125rem; width: 100%; background: #fff; z-index: 1; }
.main .content-2 .content-2-main .comment .comment-header { position: relative; height: 3.25rem; }
.main .content-2 .content-2-main .comment .comment-header img { position: absolute; top: 0.9375rem; left: 0.9375rem; width: 1.9375rem; height: 1.9375rem; border-radius: 50%; }
.main .content-2 .content-2-main .comment .comment-header .username { position: absolute; top: 1.53125rem; left: 3.5rem; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 11.5px; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .comment-header .username { font-size: 24px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .comment-header .username { font-size: 31.5px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .comment-header .username { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .comment-header .username { font-size: 42px; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .comment-header .username { line-height: 23px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .comment-header .username { line-height: 30.1875px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .comment-header .username { line-height: 37.9120879121px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .comment-header .username { line-height: 40.25px; }
.main .content-2 .content-2-main .comment .comment-header .time { position: absolute; top: 1.59375rem; right: 0.96875rem; font-size: 11px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 10.5px; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .comment-header .time { font-size: 22px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .comment-header .time { font-size: 28.875px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .comment-header .time { font-size: 36.2637362637px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .comment-header .time { font-size: 38.5px; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .comment-header .time { line-height: 21px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .comment-header .time { line-height: 27.5625px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .comment-header .time { line-height: 34.6153846154px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .comment-header .time { line-height: 36.75px; }
.main .content-2 .content-2-main .comment .container p { margin: 0px 0.96875rem; padding-bottom: 1rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 18px; border-bottom: 0.03125rem solid #ddd; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .container p { font-size: 26px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .container p { font-size: 34.125px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .container p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .container p { font-size: 45.5px; }
[data-dpr="2"] .main .content-2 .content-2-main .comment .container p { line-height: 36px; }
[data-dpr="2.625"] .main .content-2 .content-2-main .comment .container p { line-height: 47.25px; }
[data-dpr="3"] .main .content-2 .content-2-main .comment .container p { line-height: 59.3406593407px; }
[data-dpr="3.5"] .main .content-2 .content-2-main .comment .container p { line-height: 63px; }
.main .content-2 .content-2-footer { width: 100%; height: 2.8125rem; position: fixed; bottom: 0px; background: #fff; display: none; z-index: 3; border-top: 0.03125rem solid #dddddd; }
.main .content-2 .content-2-footer img { position: absolute; top: 0.5625rem; left: 0.9375rem; width: 1.6875rem; height: 1.6875rem; }
.main .content-2 .content-2-footer input { position: absolute; outline: none; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; padding: 0px 0.40625rem; bottom: 0.46875rem; right: 5.25rem; width: 14.09375rem; height: 1.8125rem; background: #fbfbfb; border: 0.03125rem solid #dddddd; box-shadow: 0px 0px 0.15625rem 0px rgba(4, 0, 0, 0.14); border-radius: 0.1875rem; outline: 0px; -webkit-appearance: none; }
[data-dpr="2"] .main .content-2 .content-2-footer input { font-size: 28px; }
[data-dpr="2.625"] .main .content-2 .content-2-footer input { font-size: 36.75px; }
[data-dpr="3"] .main .content-2 .content-2-footer input { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-2 .content-2-footer input { font-size: 49px; }
.main .content-2 .content-2-footer button { position: absolute; bottom: 0.46875rem; right: 0.9375rem; width: 3.5625rem; height: 1.875rem; background: linear-gradient(122deg, #6692fa, #3873ff); border-radius: 0.1875rem; border: 0px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 18px; }
[data-dpr="2"] .main .content-2 .content-2-footer button { font-size: 28px; }
[data-dpr="2.625"] .main .content-2 .content-2-footer button { font-size: 36.75px; }
[data-dpr="3"] .main .content-2 .content-2-footer button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-2 .content-2-footer button { font-size: 49px; }
[data-dpr="2"] .main .content-2 .content-2-footer button { line-height: 36px; }
[data-dpr="2.625"] .main .content-2 .content-2-footer button { line-height: 47.25px; }
[data-dpr="3"] .main .content-2 .content-2-footer button { line-height: 59.3406593407px; }
[data-dpr="3.5"] .main .content-2 .content-2-footer button { line-height: 63px; }
.main .content-3 { position: relative; overflow-y: scroll; -webkit-overflow-scrolling: touch; background: #fff; }
.main .content-3 .content-3-main { position: absolute; top: 2.9375rem; padding-bottom: 2.8125rem; width: 100%; background: white; z-index: 1; }
.main .content-3 .content-3-main .comment { position: relative; padding-top: 0.6875rem; padding-bottom: 0.875rem; margin-left: 0.9375rem; margin-right: 0.9375rem; border-bottom: 0.03125rem solid #ddd; }
.main .content-3 .content-3-main .comment .span-1 { font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 12.5px; margin-left: -0.78125rem; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .span-1 { font-size: 28px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .span-1 { font-size: 36.75px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .span-1 { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .span-1 { font-size: 49px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .span-1 { line-height: 25px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .span-1 { line-height: 32.8125px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .span-1 { line-height: 41.2087912088px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .span-1 { line-height: 43.75px; }
.main .content-3 .content-3-main .comment .p-2 { top: 2.46875rem; left: 0.0625rem; margin-top: 0.625rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; font-weight: 500; color: #2465ff; line-height: 12.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .p-2 { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .p-2 { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .p-2 { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .p-2 { font-size: 45.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .p-2 { line-height: 25px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .p-2 { line-height: 32.8125px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .p-2 { line-height: 41.2087912088px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .p-2 { line-height: 43.75px; }
.main .content-3 .content-3-main .comment .question { font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 19px; display: inline-block; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .question { font-size: 28px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .question { font-size: 36.75px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .question { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .question { font-size: 49px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .question { line-height: 38px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .question { line-height: 49.875px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .question { line-height: 62.6373626374px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .question { line-height: 66.5px; }
.main .content-3 .content-3-main .comment .reply { position: relative; margin-bottom: 1.25rem; padding-left: 2.25rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; line-height: 18px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .reply { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .reply { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .reply { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .reply { font-size: 45.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .reply { line-height: 36px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .reply { line-height: 47.25px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .reply { line-height: 59.3406593407px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .reply { line-height: 63px; }
.main .content-3 .content-3-main .comment .rd { position: relative; top: -0.96875rem; }
.main .content-3 .content-3-main .comment .nt { position: absolute; font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 11.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .nt { font-size: 24px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .nt { font-size: 31.5px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .nt { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .nt { font-size: 42px; }
[data-dpr="2"] .main .content-3 .content-3-main .comment .nt { line-height: 23px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .comment .nt { line-height: 30.1875px; }
[data-dpr="3"] .main .content-3 .content-3-main .comment .nt { line-height: 37.9120879121px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .comment .nt { line-height: 40.25px; }
.main .content-3 .content-3-main .comment .name { bottom: 0.90625rem; }
.main .content-3 .content-3-main .comment .time { bottom: 0.9375rem; right: 0.03125rem; }
.main .content-3 .content-3-main .lecturer { padding-bottom: 0.71875rem; }
.main .content-3 .content-3-main .lecturer .lecturer-reply { position: absolute; top: 0.8125rem; right: 0.03125rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #2465ff; line-height: 12.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .lecturer .lecturer-reply { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .lecturer .lecturer-reply { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .lecturer .lecturer-reply { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .lecturer .lecturer-reply { font-size: 45.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .lecturer .lecturer-reply { line-height: 25px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .lecturer .lecturer-reply { line-height: 32.8125px; }
[data-dpr="3"] .main .content-3 .content-3-main .lecturer .lecturer-reply { line-height: 41.2087912088px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .lecturer .lecturer-reply { line-height: 43.75px; }
.main .content-3 .content-3-main .lecturer .p-2 { font-weight: 400; color: black; }
.main .content-3 .content-3-main .lecturer .reply { line-height: 20px; }
[data-dpr="2"] .main .content-3 .content-3-main .lecturer .reply { line-height: 40px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .lecturer .reply { line-height: 52.5px; }
[data-dpr="3"] .main .content-3 .content-3-main .lecturer .reply { line-height: 65.9340659341px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .lecturer .reply { line-height: 70px; }
.main .content-3 .content-3-main .lecturer .rd { top: -1.0625rem; }
.main .content-3 .content-3-main .lecturer .lecturer-delete { position: absolute; bottom: -0.9375rem; right: 0.03125rem; font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #e83104; line-height: 12.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .lecturer .lecturer-delete { font-size: 26px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .lecturer .lecturer-delete { font-size: 34.125px; }
[data-dpr="3"] .main .content-3 .content-3-main .lecturer .lecturer-delete { font-size: 42.8571428571px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .lecturer .lecturer-delete { font-size: 45.5px; }
[data-dpr="2"] .main .content-3 .content-3-main .lecturer .lecturer-delete { line-height: 25px; }
[data-dpr="2.625"] .main .content-3 .content-3-main .lecturer .lecturer-delete { line-height: 32.8125px; }
[data-dpr="3"] .main .content-3 .content-3-main .lecturer .lecturer-delete { line-height: 41.2087912088px; }
[data-dpr="3.5"] .main .content-3 .content-3-main .lecturer .lecturer-delete { line-height: 43.75px; }
.main .content-3 .content-3-main .lec { height: 2.75rem; }
.main .content-3 .content-3-footer { width: 100%; height: 2.8125rem; position: fixed; bottom: 0px; background: #fff; display: none; z-index: 3; border-top: 0.03125rem solid #dddddd; }
.main .content-3 .content-3-footer input { position: absolute; outline: none; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; padding: 0px 0.40625rem; bottom: 0.46875rem; right: 5.25rem; width: 16.4375rem; height: 1.8125rem; background: #fbfbfb; border: 0.03125rem solid #dddddd; box-shadow: 0px 0px 0.15625rem 0px rgba(4, 0, 0, 0.14); border-radius: 0.1875rem; outline: 0px; -webkit-appearance: none; }
[data-dpr="2"] .main .content-3 .content-3-footer input { font-size: 28px; }
[data-dpr="2.625"] .main .content-3 .content-3-footer input { font-size: 36.75px; }
[data-dpr="3"] .main .content-3 .content-3-footer input { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-3 .content-3-footer input { font-size: 49px; }
.main .content-3 .content-3-footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-size: 12px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #999999; line-height: 20px; }
[data-dpr="2"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { font-size: 24px; }
[data-dpr="2.625"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { font-size: 31.5px; }
[data-dpr="3"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { font-size: 39.5604395604px; }
[data-dpr="3.5"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { font-size: 42px; }
[data-dpr="2"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { line-height: 40px; }
[data-dpr="2.625"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { line-height: 52.5px; }
[data-dpr="3"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { line-height: 65.9340659341px; }
[data-dpr="3.5"] .main .content-3 .content-3-footer ::-webkit-input-placeholder { line-height: 70px; }
.main .content-3 .content-3-footer button { position: absolute; bottom: 0.46875rem; right: 0.9375rem; width: 3.5625rem; height: 1.875rem; background: linear-gradient(122deg, #6692fa, #3873ff); border-radius: 0.1875rem; border: 0px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: white; line-height: 18px; }
[data-dpr="2"] .main .content-3 .content-3-footer button { font-size: 28px; }
[data-dpr="2.625"] .main .content-3 .content-3-footer button { font-size: 36.75px; }
[data-dpr="3"] .main .content-3 .content-3-footer button { font-size: 46.1538461538px; }
[data-dpr="3.5"] .main .content-3 .content-3-footer button { font-size: 49px; }
[data-dpr="2"] .main .content-3 .content-3-footer button { line-height: 36px; }
[data-dpr="2.625"] .main .content-3 .content-3-footer button { line-height: 47.25px; }
[data-dpr="3"] .main .content-3 .content-3-footer button { line-height: 59.3406593407px; }
[data-dpr="3.5"] .main .content-3 .content-3-footer button { line-height: 63px; }

.pop-upWindows .dr { display: none; position: fixed; bottom: -6.5625rem; width: 100%; z-index: 5; background: #dddddd; transition: bottom 0.3s ease; }
.pop-upWindows .dr button { width: 100%; height: 3.125rem; background: white; border: none; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .pop-upWindows .dr button { font-size: 30px; }
[data-dpr="2.625"] .pop-upWindows .dr button { font-size: 39.375px; }
[data-dpr="3"] .pop-upWindows .dr button { font-size: 49.4505494505px; }
[data-dpr="3.5"] .pop-upWindows .dr button { font-size: 52.5px; }
.pop-upWindows .dr .delete-btn { color: #e83104; margin-bottom: 0.3125rem; border-top: 0.03125rem solid #eeeeee; }
.pop-upWindows .hint { display: none; position: fixed; bottom: -9.6875rem; width: 100%; z-index: 5; background: #dddddd; transition: bottom 0.3s ease; text-align: center; }
.pop-upWindows .hint p { font-size: 13px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: #888888; line-height: 3.125rem; background: white; }
[data-dpr="2"] .pop-upWindows .hint p { font-size: 26px; }
[data-dpr="2.625"] .pop-upWindows .hint p { font-size: 34.125px; }
[data-dpr="3"] .pop-upWindows .hint p { font-size: 42.8571428571px; }
[data-dpr="3.5"] .pop-upWindows .hint p { font-size: 45.5px; }
.pop-upWindows .hint button { width: 100%; height: 3.125rem; background: white; border: none; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 0.03125rem; color: black; }
[data-dpr="2"] .pop-upWindows .hint button { font-size: 30px; }
[data-dpr="2.625"] .pop-upWindows .hint button { font-size: 39.375px; }
[data-dpr="3"] .pop-upWindows .hint button { font-size: 49.4505494505px; }
[data-dpr="3.5"] .pop-upWindows .hint button { font-size: 52.5px; }
.pop-upWindows .hint .confirm { color: #e83104; margin-bottom: 0.3125rem; border-top: 0.03125rem solid #eeeeee; }

/*# sourceMappingURL=video.css.map */
