body { margin: 0px; padding: 0px; background-color: #f6f6f6; }

p { margin: 0px; }

a, div { text-decoration: none; -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

video { height: 100%; }

.header { position: fixed; top: 0px; width: 100%; height: 44px; background: white; text-align: center; border-bottom: 1px solid #dddddd; z-index: 2; }
[data-dpr="2"] .header { height: 88px; }
[data-dpr="2.625"] .header { height: 115.5px; }
[data-dpr="3"] .header { height: 145.0549450549px; }
[data-dpr="3.5"] .header { height: 154px; }
.header .return { position: absolute; text-decoration: none; line-height: 0px; z-index: 1; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 1px; color: black; left: 15px; top: 16px; }
[data-dpr="2"] .header .return { font-size: 28px; }
[data-dpr="2.625"] .header .return { font-size: 36.75px; }
[data-dpr="3"] .header .return { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header .return { font-size: 49px; }
[data-dpr="2"] .header .return { left: 30px; }
[data-dpr="2.625"] .header .return { left: 39.375px; }
[data-dpr="3"] .header .return { left: 49.4505494505px; }
[data-dpr="3.5"] .header .return { left: 52.5px; }
[data-dpr="2"] .header .return { top: 32px; }
[data-dpr="2.625"] .header .return { top: 42px; }
[data-dpr="3"] .header .return { top: 52.7472527473px; }
[data-dpr="3.5"] .header .return { top: 56px; }
.header .return img { width: 7px; padding-right: 7.5px; }
[data-dpr="2"] .header .return img { width: 14px; }
[data-dpr="2.625"] .header .return img { width: 18.375px; }
[data-dpr="3"] .header .return img { width: 23.0769230769px; }
[data-dpr="3.5"] .header .return img { width: 24.5px; }
[data-dpr="2"] .header .return img { padding-right: 15px; }
[data-dpr="2.625"] .header .return img { padding-right: 19.6875px; }
[data-dpr="3"] .header .return img { padding-right: 24.7252747253px; }
[data-dpr="3.5"] .header .return img { padding-right: 26.25px; }
.header span { position: relative; top: -1px; left: -5px; font-size: 14px; font-family: PingFang SC; font-weight: 400; letter-spacing: 1px; color: black; }
[data-dpr="2"] .header span { top: -2px; }
[data-dpr="2.625"] .header span { top: -2.625px; }
[data-dpr="3"] .header span { top: -3.2967032967px; }
[data-dpr="3.5"] .header span { top: -3.5px; }
[data-dpr="2"] .header span { left: -10px; }
[data-dpr="2.625"] .header span { left: -13.125px; }
[data-dpr="3"] .header span { left: -16.4835164835px; }
[data-dpr="3.5"] .header span { left: -17.5px; }
[data-dpr="2"] .header span { font-size: 28px; }
[data-dpr="2.625"] .header span { font-size: 36.75px; }
[data-dpr="3"] .header span { font-size: 46.1538461538px; }
[data-dpr="3.5"] .header span { font-size: 49px; }
.header .message { position: absolute; line-height: 0px; z-index: 1; right: 15px; top: 15px; }
[data-dpr="2"] .header .message { right: 30px; }
[data-dpr="2.625"] .header .message { right: 39.375px; }
[data-dpr="3"] .header .message { right: 49.4505494505px; }
[data-dpr="3.5"] .header .message { right: 52.5px; }
[data-dpr="2"] .header .message { top: 30px; }
[data-dpr="2.625"] .header .message { top: 39.375px; }
[data-dpr="3"] .header .message { top: 49.4505494505px; }
[data-dpr="3.5"] .header .message { top: 52.5px; }
.header .message img { width: 16px; }
[data-dpr="2"] .header .message img { width: 32px; }
[data-dpr="2.625"] .header .message img { width: 42px; }
[data-dpr="3"] .header .message img { width: 52.7472527473px; }
[data-dpr="3.5"] .header .message img { width: 56px; }
.header p { position: relative; top: 14.5px; font-size: 15px; font-family: PingFang SC; font-weight: 400; letter-spacing: 1px; color: black; line-height: 15px; }
[data-dpr="2"] .header p { top: 29px; }
[data-dpr="2.625"] .header p { top: 38.0625px; }
[data-dpr="3"] .header p { top: 47.8021978022px; }
[data-dpr="3.5"] .header p { top: 50.75px; }
[data-dpr="2"] .header p { font-size: 30px; }
[data-dpr="2.625"] .header p { font-size: 39.375px; }
[data-dpr="3"] .header p { font-size: 49.4505494505px; }
[data-dpr="3.5"] .header p { font-size: 52.5px; }
[data-dpr="2"] .header p { line-height: 30px; }
[data-dpr="2.625"] .header p { line-height: 39.375px; }
[data-dpr="3"] .header p { line-height: 49.4505494505px; }
[data-dpr="3.5"] .header p { line-height: 52.5px; }

.video-box { position: relative; text-align: center; margin-top: 44.5px; height: 225px; }
[data-dpr="2"] .video-box { margin-top: 89px; }
[data-dpr="2.625"] .video-box { margin-top: 116.8125px; }
[data-dpr="3"] .video-box { margin-top: 146.7032967033px; }
[data-dpr="3.5"] .video-box { margin-top: 155.75px; }
[data-dpr="2"] .video-box { height: 450px; }
[data-dpr="2.625"] .video-box { height: 590.625px; }
[data-dpr="3"] .video-box { height: 741.7582417582px; }
[data-dpr="3.5"] .video-box { height: 787.5px; }
.video-box .video-img { position: absolute; width: 100%; top: 50%; z-index: 2; }
.video-box .video-img img { position: relative; width: 43.5px; height: 43px; }
[data-dpr="2"] .video-box .video-img img { width: 87px; }
[data-dpr="2.625"] .video-box .video-img img { width: 114.1875px; }
[data-dpr="3"] .video-box .video-img img { width: 143.4065934066px; }
[data-dpr="3.5"] .video-box .video-img img { width: 152.25px; }
[data-dpr="2"] .video-box .video-img img { height: 86px; }
[data-dpr="2.625"] .video-box .video-img img { height: 112.875px; }
[data-dpr="3"] .video-box .video-img img { height: 141.7582417582px; }
[data-dpr="3.5"] .video-box .video-img img { height: 150.5px; }

.main .nav { position: relative; padding-left: 15.5px; padding-right: 15px; height: 42px; background: white; border: 1px solid #dddddd; }
[data-dpr="2"] .main .nav { padding-left: 31px; }
[data-dpr="2.625"] .main .nav { padding-left: 40.6875px; }
[data-dpr="3"] .main .nav { padding-left: 51.0989010989px; }
[data-dpr="3.5"] .main .nav { padding-left: 54.25px; }
[data-dpr="2"] .main .nav { padding-right: 30px; }
[data-dpr="2.625"] .main .nav { padding-right: 39.375px; }
[data-dpr="3"] .main .nav { padding-right: 49.4505494505px; }
[data-dpr="3.5"] .main .nav { padding-right: 52.5px; }
[data-dpr="2"] .main .nav { height: 84px; }
[data-dpr="2.625"] .main .nav { height: 110.25px; }
[data-dpr="3"] .main .nav { height: 138.4615384615px; }
[data-dpr="3.5"] .main .nav { height: 147px; }
.main .nav .nav-list { width: 33.333333%; float: left; }
.main .nav .nav-list p { font-size: 16px; font-family: PingFang SC; font-weight: 400; letter-spacing: 1px; color: black; line-height: 42px; }
[data-dpr="2"] .main .nav .nav-list p { font-size: 32px; }
[data-dpr="2.625"] .main .nav .nav-list p { font-size: 42px; }
[data-dpr="3"] .main .nav .nav-list p { font-size: 52.7472527473px; }
[data-dpr="3.5"] .main .nav .nav-list p { font-size: 56px; }
[data-dpr="2"] .main .nav .nav-list p { line-height: 84px; }
[data-dpr="2.625"] .main .nav .nav-list p { line-height: 110.25px; }
[data-dpr="3"] .main .nav .nav-list p { line-height: 138.4615384615px; }
[data-dpr="3.5"] .main .nav .nav-list p { line-height: 147px; }
.main .nav .list-1 p { color: #2465ff; }
.main .nav .list-2 { text-align: center; }
.main .nav .list-3 p { float: right; }
.main .nav .bar { position: absolute; left: 15.5px; bottom: 0px; width: 64px; height: 2px; background: #2465ff; transition: 0.5s ease; }
[data-dpr="2"] .main .nav .bar { left: 31px; }
[data-dpr="2.625"] .main .nav .bar { left: 40.6875px; }
[data-dpr="3"] .main .nav .bar { left: 51.0989010989px; }
[data-dpr="3.5"] .main .nav .bar { left: 54.25px; }
[data-dpr="2"] .main .nav .bar { width: 128px; }
[data-dpr="2.625"] .main .nav .bar { width: 168px; }
[data-dpr="3"] .main .nav .bar { width: 210.989010989px; }
[data-dpr="3.5"] .main .nav .bar { width: 224px; }
[data-dpr="2"] .main .nav .bar { height: 4px; }
[data-dpr="2.625"] .main .nav .bar { height: 5.25px; }
[data-dpr="3"] .main .nav .bar { height: 6.5934065934px; }
[data-dpr="3.5"] .main .nav .bar { height: 7px; }

/*# sourceMappingURL=video.css.map */
