@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin translateX($property, $px) {
  #{$property}: translateX($px/2);

  [data-dpr="2"] & {
    #{$property}: translateX($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateX($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateX($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateX($px * 3.5/2);
  }
}
@mixin translateY($property, $px) {
  #{$property}: translateY($px/2);

  [data-dpr="2"] & {
    #{$property}: translateY($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateY($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateY($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateY($px * 3.5/2);
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: 1px;
}
@mixin font-fw-0 {
  font-family: PingFang SC;
  font-weight: 400;
}
@mixin add-sub {
  position: absolute;
  background: rgba(255,255,255,1);
  @include px-dpr(height, 35px);
  @include px-dpr(width, 43px);
  color: #9c9c9c;
  @include font-fw;
  @include font-dpr(25px);
  @include px-dpr(line-height, 32px);
  outline: none;
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f6f6f6;
  // -webkit-overflow-scrolling: touch;
}
p {
  margin: 0px;
}
a, div {
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
.header {
  position: fixed;
  width: 100%;
  height: px2rem(87);
  //@include px-dpr(height, 88px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 2;
  a {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(left, 30px);
    top: px2rem(32);
    //@include px-dpr(top, 32px);
    img {
      width: px2rem(14);
      //@include px-dpr(width, 14px);
      @include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    @include px-dpr(top, -2px);
    @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  p {
    position: relative;
    top: px2rem(29);
    //@include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    letter-spacing: 3px;
    @include px-dpr(line-height, 30px);
  }
}
.main {
  position: fixed;
  @include px-dpr(padding, 30px);
  //padding-top: px2rem(119);
  @include px-dpr(padding-top, 120px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  .content {
    position: relative;
    width:100%;
    height: px2rem(253);
    //@include px-dpr(height, 253px);
    background:rgba(248,250,255,1);
    box-shadow:0px 1px 14px 0px rgba(1,1,1,0.18);
    border-radius:6px;
    margin-bottom: px2rem(29);
    //@include px-dpr(margin-bottom, 29px);
    transition: transform .4s ease, height .2s ease;
    .choose {
      position: absolute;
      @include px-dpr(left, 20px);
      top: px2rem(84);
      //@include px-dpr(top, 84px);
      @include px-dpr(width, 30px);
      @include px-dpr(height, 30px);
      background:rgba(255,255,255,1);
      border:px2rem(1) solid rgba(187,187,187,1);
      border-radius:50%;
      img {
        width: 100%;
        display: none;
      }
    }
    .bg {
      width: px2rem(200);
      // width: 28.985507%;
      height: px2rem(120);
      position: absolute;
      @include px-dpr(left, 72px);
      top: px2rem(44);
      //@include px-dpr(top, 44px);
      @include px-dpr(border-radius, 6px);
    }
  }
  .content_left {
    @include translateX(transform, -108px);
  }
  .word {
    position: absolute;
    top: px2rem(40);
    //@include px-dpr(top, 43px);
    @include px-dpr(margin-right, 18px);
    @include px-dpr(margin-left, 93px);
    height: px2rem(116);
    //@include px-dpr(height, 112px);
    .word_p1 {
      @include px-dpr(height, 64px);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(0,0,0,1);
      overflow: hidden;
      @include px-dpr(line-height, 32px);
    }
    .word_hour {
      position: absolute;
      display: flex;
      @include px-dpr(left, 5px);
      @include px-dpr(bottom, 0px);
      @include font-dpr(20px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 19px);
    }
    a {
      position: absolute;
      @include px-dpr(right, 3px);
      @include px-dpr(bottom, 1px);
      @include font-dpr(20px);
      @include font-fw;
      color:rgba(36,101,255,1);
      text-decoration: none;
      @include px-dpr(line-height, 19px);
    }
  }
  .price {
    position: absolute;
    display: flex;
    @include px-dpr(height, 21px);
    @include px-dpr(margin-left, 90px);
    top: px2rem(188);
    //@include px-dpr(top, 188px);
    color:rgba(232,49,4,1);
    .num {
    @include px-dpr(width, 66px);
    @include font-dpr(28px);
    @include px-dpr(line-height, 23px);
    @include font-fw-0;
    }
    .yun {
      @include px-dpr(width, 30px);
    }
    .add-to {
      @include font-dpr(24px);
      @include font-fw-0;
      @include px-dpr(line-height, 26px);
    }
    .num2 {
      @include font-dpr(24px);
      @include font-fw-0;
      @include px-dpr(margin-top, 2px);
      @include px-dpr(margin-right, 5px);
      @include px-dpr(line-height, 24px);
    }
    .coin {
      @include font-dpr(21px);
      @include font-fw-0;
      @include px-dpr(margin-top, 3px);
      @include px-dpr(line-height, 21px);
    }
  }
  .sub-add {
    position: absolute;
    @include px-dpr(right, 20px);
    top: px2rem(180);
    // @include px-dpr(bottom, 36px);
    @include px-dpr(width, 137px);
    @include px-dpr(height, 35px);
    background:rgba(255,255,255,1);
    text-align: center;
    border:px2rem(1) solid rgba(221,221,221,1);
    @include px-dpr(border-radius, 6px);
    .sub {
      @include px-dpr(left, 2px);
      @include add-sub;
      @include px-dpr(border-top-left-radius, 6px);
      @include px-dpr(border-bottom-left-radius, 6px);
    }
    .text_box {
      position: absolute;
      @include px-dpr(left, 45px);
      @include px-dpr(width, 47px);
      @include px-dpr(height, 35px);
      border: 0px;
      border-left: px2rem(1) solid rgba(221,221,221,1);
      border-right: px2rem(1) solid rgba(221,221,221,1);
      padding: 0px;
      text-align: center;
      color: #9c9c9c;
      @include font-fw;
      @include font-dpr(21px);
      @include px-dpr(border-radius, 0px);
      outline: none;
    }
    .add {
      right: 0px;
      @include add-sub;
      @include px-dpr(border-top-right-radius, 6px);
      @include px-dpr(border-bottom-right-radius, 6px);
    }
  }
  .delete {
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0px;
    z-index: -1;
    background: rgba(255,59,50,1);
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 1px 14px 0px rgba(1,1,1,0.18);
    transition: .4s;
    p {
      text-align: center;
      color:rgba(255,255,255,1);
      line-height: px2rem(253);
      //@include px-dpr(line-height, 253px);
      @include font-dpr(30px);
      @include font-fw;
      display: none;
    }
  }
  .delete_right {
    @include px-dpr(width, 108px);
    @include translateX(transform, 108px);
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.footer {
  position: fixed;
  width: 100%;
  height: px2rem(108);
  //@include px-dpr(height, 108px);
  bottom: 0px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  border-top: px2rem(1) solid rgba(221,221,221,1);
  .choose {
    position: absolute;
    @include px-dpr(left, 50px);
    top: px2rem(38);
    //@include px-dpr(top, 38px);
    @include px-dpr(width, 30px);
    @include px-dpr(height, 30px);
    background:rgba(255,255,255,1);
    border:px2rem(1) solid rgba(187,187,187,1);
    border-radius:50%;
    img {
      width: 100%;
      display: none;
    }
  }
  .allChoose {
    position: absolute;
    @include px-dpr(left, 102px);
    top: px2rem(41);
    //@include px-dpr(top, 41px);
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 26px);
  }
  .submit {
    position: absolute;
    @include px-dpr(right, 30px);
    top: px2rem(28);
    //@include px-dpr(top, 28px);
    @include px-dpr(width, 150px);
    @include px-dpr(height, 52px);
    background:linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
    @include px-dpr(border-radius, 6px);
    border: px2rem(1);
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(255,255,255,1);
    padding: 0px;
  }
  .total {
    position: absolute;
    @include px-dpr(right, 391px);
    top: px2rem(41);
    //@include px-dpr(top, 41px);
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 26px);
  }
  .allprice {
    position: absolute;
    display: flex;
    @include px-dpr(right, 210px);
    top: px2rem(43);
    //@include px-dpr(top, 43px);
    color:rgba(232,49,4,1);
    .num {
    @include px-dpr(width, 73px);
    @include font-dpr(30px);
    @include px-dpr(line-height, 23px);
    @include font-fw;
    }
    .yun {
      @include px-dpr(width, 30px);
    }
    .add-to {
      @include font-dpr(24px);
      @include font-fw;
      @include px-dpr(line-height, 27px);
    }
    .num2 {
      @include font-dpr(24px);
      @include font-fw;
      margin: 0px;
      @include px-dpr(margin-top, 2px);
      @include px-dpr(margin-right, 5px);
      @include px-dpr(line-height, 24px);
    }
    .coin {
      @include font-dpr(21px);
      @include font-fw;
      @include px-dpr(margin-top, 3px);
      @include px-dpr(line-height, 21px);
    }
  }
  .now {
    position: absolute;
    display: flex;
    @include px-dpr(right, 215px);
    bottom: px2rem(11);
    //@include px-dpr(bottom, 11px);
    @include font-dpr(20px);
    @include font-fw;
    color:rgba(153,153,153,1);
    @include px-dpr(line-height, 19px);
  }
}
.curtain {
  width: 100%;
  background: rgba(0,0,0,1);
  opacity: .5;
  position: absolute;
  display: none;
  top: px2rem(88);
  //@include px-dpr(top, 89px);
}
.pay {
  position: fixed;
  bottom: px2rem(-488);
  //@include px-dpr(bottom, -488px);
  width: 100%;
  height: px2rem(486);
  //@include px-dpr(height, 486px);
  background:rgba(255,255,255,1);
  @include px-dpr(border-top-right-radius, 6px);
  @include px-dpr(border-top-left-radius, 6px);
  transition: .4s ease;
  .pay_tzwq {
    position: relative;
    height: px2rem(97);
    //@include px-dpr(height, 97px); 
    @include px-dpr(padding-left, 30px);
    border-top: px2rem(1) solid rgba(221,221,221,1);
    .pay_choose {
      position: absolute;
      top: px2rem(36);
      //@include px-dpr(top, 36px);
      @include px-dpr(width, 30px);
      height: px2rem(30);
      //@include px-dpr(height, 30px);
      background:rgba(255,255,255,1);
      border:px2rem(1) solid rgba(187,187,187,1);
      border-radius:50%;
      img {
        width: 100%;
        display: none;
      }
    }
    .logo {
      position: absolute;
      @include px-dpr(width, 33px);
      @include px-dpr(height, 33px);
      top: px2rem(34);
      //@include px-dpr(top, 34px);
      @include px-dpr(left, 84px);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .pp {
      @include font-dpr(30px);
      @include font-fw;
      color:rgba(0,0,0,1);
    }
  }
  .pay_zwq {
    .pp {
      position: absolute;
      top: px2rem(36);
      //@include px-dpr(top, 36px);
      @include px-dpr(left, 139px);
      @include px-dpr(line-height, 29px);
    }
  }
  .pay_title {
    .pp {
      @include px-dpr(line-height, 98px);
    }
  }
  .pay_num {
    position: absolute;
    @include px-dpr(left, 285px);
    top: px2rem(35);
    //@include px-dpr(top, 35px);
    display: flex;
    p {
      color: #E83104;
      @include font-dpr(30px);
      @include font-fw;
      @include px-dpr(line-height, 30px);
    }
  }
  button {
    position: absolute;
    bottom: 0px;
    height: px2rem(94);
    //@include px-dpr(height, 94px);
    width: 100%;
    background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
    color: #fff;
    @include font-dpr(32px);
    border: none;
    @include font-fw;
    letter-spacing: 3px;
  }
}
.pay_top {
  // @include translateY(transform, -488px);
  bottom: 0px !important;
}