@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/2;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/2;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin translateX($property, $px) {
  #{$property}: translateX($px/2);

  [data-dpr="2"] & {
    #{$property}: translateX($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateX($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateX($px * 3/2);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateX($px * 3.5/2);
  }
}
@mixin translateY($property, $px) {
  #{$property}: translateY($px/2);

  [data-dpr="2"] & {
    #{$property}: translateY($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateY($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateY($px * 3/2);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateY($px * 3.5/2);
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 500;
  letter-spacing: 1px;
}
@mixin add-sub {
  position: absolute;
  @include px-dpr(top, 1px);
  background: rgba(255,255,255,1);
  border: none;
  @include px-dpr(height, 35px);
  @include px-dpr(width, 45px);
  color: #9c9c9c;
  @include font-fw;
  @include font-dpr(25px);
  line-height: 0px;
  outline: none;
}


@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #fbfbfb;
}
p {
  margin: 0px;
}
.header {
  position: relative;
  width: 100%;
  @include px-dpr(height, 88px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  a {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    @include px-dpr(left, 30px);
    @include px-dpr(top, 32px);
    img {
      @include px-dpr(width, 14px);
    }
  }
  p {
    position: relative;
    @include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    letter-spacing: 3px;
    @include px-dpr(line-height, 30px);
  }
}
.main {
  position: fixed;
  @include px-dpr(padding, 30px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .content {
    position: relative;
    width:100%;
    @include px-dpr(height, 253px);
    background:rgba(248,250,255,1);
    box-shadow:0px 1px 14px 0px rgba(1,1,1,0.18);
    border-radius:6px;
    @include px-dpr(margin-bottom, 29px);
    transition: transform .4s ease;
    .choose {
      position: absolute;
      @include px-dpr(left, 20px);
      @include px-dpr(top, 84px);
      @include px-dpr(width, 32px);
      @include px-dpr(height, 32px);
      background:rgba(255,255,255,1);
      border:1px solid rgba(187,187,187,1);
      border-radius:50%;
      img {
        width: 100%;
        display: none;
      }
    }
    .bg {
      position: absolute;
      @include px-dpr(left, 72px);
      @include px-dpr(top, 44px);
      @include px-dpr(width, 200px);
      @include px-dpr(height, 112px);
      @include px-dpr(border-radius, 6px);
    }
  }
  .content_left {
    @include translateX(transform, -108px);
  }
  .word {
    position: absolute;
    @include px-dpr(left, 293px);
    @include px-dpr(top, 43px);
    @include px-dpr(margin-right, 18px);
    @include px-dpr(height, 112px);
    .word_p1 {
      @include px-dpr(height, 64px);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(0,0,0,1);
      overflow: hidden;
      @include px-dpr(line-height, 32px);
    }
    .word_hour {
      position: absolute;
      display: flex;
      @include px-dpr(left, 5px);
      @include px-dpr(bottom, 0px);
      @include font-dpr(20px);
      @include font-fw;
      letter-spacing: 3px;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 20px);
    }
    a {
      position: absolute;
      @include px-dpr(right, 3px);
      @include px-dpr(bottom, 1px);
      @include font-dpr(20px);
      @include font-fw;
      letter-spacing: 3px;
      color:rgba(36,101,255,1);
      text-decoration: none;
      @include px-dpr(line-height, 20px);
    }
  }
  .content-1_price {
    position: absolute;
    display: flex;
    @include px-dpr(left, 290px);
    @include px-dpr(bottom, 44px);
    color:rgba(232,49,4,1);
    .num {
    @include px-dpr(width, 73px);
    @include font-dpr(30px);
    @include px-dpr(line-height, 23px);
    @include font-fw;
    }
    .yun {
      @include px-dpr(width, 30px);
    }
    .add-to {
      @include font-dpr(24px);
      @include font-fw;
      @include px-dpr(line-height, 24px);
      @include px-dpr(margin-left, 5px);
    }
    .num2 {
      @include font-dpr(24px);
      @include font-fw;
      margin: 2px 10px 0px 0px;
      @include px-dpr(line-height, 24px);
    }
    .coin {
      @include font-dpr(21px);
      @include font-fw;
      margin-top: 3px;
      @include px-dpr(line-height, 21px);
    }
  }
  .sub-add {
    position: absolute;
    @include px-dpr(right, 20px);
    @include px-dpr(bottom, 36px);
    @include px-dpr(width, 139px);
    @include px-dpr(height, 37px);
    background:rgba(255,255,255,1);
    border:1px solid rgb(187, 187, 187);
    @include px-dpr(border-radius, 6px);
    .sub {
      left: 0px;
      @include add-sub;
      border-right: 1px solid rgb(187, 187, 187);
      @include px-dpr(border-top-left-radius, 6px);
      @include px-dpr(border-bottom-left-radius, 6px);
    }
    .text_box {
      position: absolute;
      @include px-dpr(top, 1px);
      @include px-dpr(left, 46px);
      @include px-dpr(width, 47px);
      @include px-dpr(height, 35px);
      border: 0px;
      padding: 0px;
      text-align: center;
      color: #9c9c9c;
      @include font-fw;
      @include font-dpr(21px);
      outline: none;
    }
    .add {
      right: 0px;
      @include add-sub;
      border-left: 1px solid rgb(187, 187, 187);
      @include px-dpr(border-top-right-radius, 6px);
      @include px-dpr(border-bottom-right-radius, 6px);
    }
  }
  .delete {
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0px;
    z-index: -1;
    background: rgba(255,59,50,1);
    border-radius: 0px 6px 6px 0px;
    box-shadow: 0px 1px 14px 0px rgba(1,1,1,0.18);
    transition: .4s;
    p {
      text-align: center;
      color:rgba(255,255,255,1);
      @include px-dpr(line-height, 253px);
      @include font-dpr(30px);
      @include font-fw;
      display: none;
    }
  }
  .delete_right {
    @include px-dpr(width, 108px);
    @include translateX(transform, 108px);
  }
}
.main::-webkit-scrollbar {
  display: none;
}
.footer {
  position: absolute;
  width: 100%;
  height: 108px;
  @include px-dpr(height, 108px);
  bottom: 0px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  border-top: 1px solid #c1c1c1;
  .choose {
    position: absolute;
    @include px-dpr(left, 50px);
    @include px-dpr(top, 38px);
    @include px-dpr(width, 32px);
    @include px-dpr(height, 32px);
    background:rgba(255,255,255,1);
    border:1px solid rgba(187,187,187,1);
    border-radius:50%;
    img {
      width: 100%;
      display: none;
    }
  }
  .allChoose {
    position: absolute;
    @include px-dpr(left, 102px);
    @include px-dpr(top, 41px);
    @include font-dpr(28px);
    @include font-fw;
    letter-spacing: 3px;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 28px);
  }
  .submit {
    position: absolute;
    @include px-dpr(right, 30px);
    @include px-dpr(top, 28px);
    @include px-dpr(width, 150px);
    @include px-dpr(height, 52px);
    background:linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
    @include px-dpr(border-radius, 6px);
    border: 1px solid #6692fa;
    @include font-dpr(28px);
    @include font-fw;
    letter-spacing: 3px;
    color:rgba(255,255,255,1);
  }
  .total {
    position: absolute;
    @include px-dpr(right, 409px);
    @include px-dpr(top, 41px);
    @include font-dpr(28px);
    @include font-fw;
    letter-spacing: 3px;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 28px);
  }
  .price {
    position: absolute;
    display: flex;
    @include px-dpr(right, 210px);
    @include px-dpr(top, 43px);
    color:rgba(232,49,4,1);
    .num {
    @include px-dpr(width, 73px);
    @include font-dpr(30px);
    @include px-dpr(line-height, 23px);
    @include font-fw;
    }
    .yun {
      @include px-dpr(width, 30px);
    }
    .add-to {
      @include font-dpr(24px);
      @include font-fw;
      @include px-dpr(line-height, 24px);
      @include px-dpr(margin-left, 5px);
    }
    .num2 {
      @include font-dpr(24px);
      @include font-fw;
      margin: 2px 10px 0px 0px;
      @include px-dpr(line-height, 24px);
    }
    .coin {
      @include font-dpr(21px);
      @include font-fw;
      margin-top: 3px;
      @include px-dpr(line-height, 21px);
    }
  }
  .now {
    position: absolute;
    display: flex;
    @include px-dpr(right, 215px);
    @include px-dpr(bottom, 11px);
    @include font-dpr(20px);
    @include font-fw;
    color:rgba(153,153,153,1);
    @include px-dpr(line-height, 20px);
  }
}
.curtain {
  width: 100%;
  background: rgba(0,0,0,1);
  opacity: .5;
  position: absolute;
  display: none;
  @include px-dpr(top, 89px);
}
.pay {
  position: fixed;
  @include px-dpr(bottom, -488px);
  width: 100%;
  @include px-dpr(height, 487px);
  background:rgba(255,255,255,1);
  @include px-dpr(border-top-right-radius, 6px);
  @include px-dpr(border-top-left-radius, 6px);
  transition: .4s ease;
  .pay_tzwq {
    position: relative;
    @include px-dpr(height, 97px); 
    @include px-dpr(padding-left, 30px);
    border-top: 1px solid rgba(221,221,221,1);
    .pay_choose {
      position: absolute;
      @include px-dpr(top, 36px);
      @include px-dpr(width, 32px);
      @include px-dpr(height, 32px);
      background:rgba(255,255,255,1);
      border:1px solid rgba(187,187,187,1);
      border-radius:50%;
      img {
        width: 100%;
        display: none;
      }
    }
    .logo {
      position: absolute;
      @include px-dpr(width, 33px);
      @include px-dpr(height, 33px);
      @include px-dpr(top, 34px);
      @include px-dpr(left, 84px);
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .pp {
      @include font-dpr(30px);
      @include font-fw;
      color:rgba(0,0,0,1);
      letter-spacing: 3px;
    }
  }
  .pay_zwq {
    .pp {
      position: absolute;
      @include px-dpr(top, 36px);
      @include px-dpr(left, 139px);
      @include px-dpr(line-height, 29px);
    }
  }
  .pay_title {
    .pp {
      @include px-dpr(line-height, 98px);
    }
  }
  .pay_num {
    position: absolute;
    @include px-dpr(left, 285px);
    @include px-dpr(top, 35px);
    display: flex;
    p {
      color: #E83104;
      @include font-dpr(30px);
      @include font-fw;
      @include px-dpr(line-height, 30px);
    }
  }
  button {
    position: absolute;
    bottom: 0px;
    @include px-dpr(height, 94px);
    width: 100%;
    background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
    color: #fff;
    @include font-dpr(32px);
    border: none;
    @include font-fw;
    letter-spacing: 3px;
  }
}
.pay_top {
  // @include translateY(transform, -488px);
  bottom: 0px !important;
}