@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin translateX($property, $px) {
  #{$property}: translateX($px/2);

  [data-dpr="2"] & {
    #{$property}: translateX($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateX($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateX($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateX($px * 3.5/2);
  }
}
@mixin translateY($property, $px) {
  #{$property}: translateY($px/2);

  [data-dpr="2"] & {
    #{$property}: translateY($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateY($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateY($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateY($px * 3.5/2);
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: 1px;
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  // overflow: hidden;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  li {
    position: relative;
    @include px-dpr(height, 25px);
    list-style: none;
    @include px-dpr(padding-top, 20px);
    @include px-dpr(padding-bottom, 31px);
    @include font-dpr(26px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 25px);
  }
  .default {
    @include px-dpr(padding-top, 30px);
  }
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  @include px-dpr(height, 88px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: 1px solid rgba(221,221,221,1);
  z-index: 2;
  .return {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(left, 30px);
    @include px-dpr(top, 32px);
    img {
      @include px-dpr(width, 14px);
      @include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    @include px-dpr(top, -2px);
    @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .user {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    @include px-dpr(right, 26px);
    @include px-dpr(top, 15px);
    img {
      position: absolute;
      @include px-dpr(width, 30px);
      @include px-dpr(height, 30px);
      @include px-dpr(right, 7px);
      @include px-dpr(top, 15px);
    }
  }
  p {
    position: relative;
    @include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
}
.nav {
  position: fixed;
  @include px-dpr(top, 89px);
  width: 100%;
  @include px-dpr(height, 78px);
  background: rgba(255,255,255,1);
  // text-align: center;
  border-bottom: 1px solid rgba(221,221,221,1);
  z-index: 2;
  .lr {
    width: 50%;
    p {
      position: absolute;
      @include px-dpr(top, 26px);
      @include font-dpr(26px);
      @include font-fw;
      color: rgba(0,0,0,1);
      @include px-dpr(line-height, 25px);
    }
    img {
      position: absolute;
      @include px-dpr(top, 33px);
      @include px-dpr(width, 19px);
      transition: transform 0.5s ease;
    }
    .lr-img {
      transform:rotate(180deg);
    }
  }
  .nav-left {
    p {
      @include px-dpr(left, 132px);
    }
    img{
      @include px-dpr(left, 254px);
    }
  }
  .nav-right {
    position: absolute;
    top: 0px;
    right: 0px;
    p {
      @include px-dpr(right, 167px);
    }
    img {
      @include px-dpr(right, 131px);
    }
  }
}
.curtain {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  background:rgba(0,0,0,1);
  opacity:0.5;
  display: none;
}
.subMenu-left {
  position: absolute;
  // @include px-dpr(top, -147px);
  width: 100%;
  z-index: 1;
  @include px-dpr(height, 313px);
  background:rgba(246,246,246,1);
  transition: top 0.5s ease;
  display: none;
  p {
    @include px-dpr(padding-top, 30px);
    @include px-dpr(padding-bottom, 20px);
    @include px-dpr(padding-left, 31px);
    @include px-dpr(padding-right, 31px);
    @include font-dpr(26px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 25px);
  }
  .default {
    color: rgba(36,101,255,1);
  }
}
.subMenu-right {
  position: absolute;
  // @include px-dpr(top, -376px);
  width: 100%;
  z-index: 1;
  // @include px-dpr(height, 542px);
  background: rgba(255,255,255,1);
  transition: top 0.45s ease;
  display: none;
  .sidebar {
    width: 22.4%;
    @include px-dpr(height, 542px);
    background:rgba(246,246,246,1);
    .curtain-2 {
      position: absolute;
      width: 100%;
      @include px-dpr(height, 86px);
      top: 0px;
      background: #fff;
      transition: top 0.2s ease;
    }
  }
  .content {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 77.6%;
    background: #fff;
    div {
      position: relative;
      @include px-dpr(margin-top, 30px);
      @include px-dpr(padding-bottom, 21px);
      @include px-dpr(margin-left, 67px);
      @include px-dpr(margin-right, 30px);
    }
    .title {
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(36,101,255,1);
      @include px-dpr(line-height, 25px);
    }
    .num {
      position: absolute;
      top: 0px;
      right: 0px;
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 20px);
    }
  }
}
.main {
  overflow: auto;
  background: #fff;
  @include px-dpr(margin-top, 168px);
  @include px-dpr(padding-bottom, 22px);
  @include px-dpr(padding-top, 2px);
  .list {
    position: relative;
    transition:0.8s ease;
    @include px-dpr(padding-top, 42px);
    @include px-dpr(padding-left, 30px);
    @include px-dpr(padding-right, 28px);
    img {
      transition:0.8s ease;
      @include px-dpr(width, 250px);
      @include px-dpr(height, 142px);
      @include px-dpr(border-radius, 6px);
    }
    .word {
      transition:0.8s ease;
      position: absolute;
      top: 0px;
      @include px-dpr(left, 309px);
      @include px-dpr(margin-right, 28px);
      .word_p1 {
        @include px-dpr(height, 25px);
        @include px-dpr(margin-top, 45px);
        overflow-y: hidden;
        @include font-dpr(26px);
        @include font-fw;
        color:rgba(0,0,0,1);
        @include px-dpr(line-height, 25px);
      }
      .w-hp {
        position: absolute;
        @include px-dpr(top, 93px);
        display: -webkit-inline-box;
        @include font-dpr(20px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 19px);
      }
      .word_people {
        @include px-dpr(right, 0px);
      }
    }
    .price {
      transition:0.8s ease;
      position: absolute;
      @include px-dpr(top, 163px);
      @include px-dpr(left, 305px);
      display: -webkit-inline-box;
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(232,49,4,1);
      @include px-dpr(line-height, 21px);
    }
    .word_a {
      transition:0.8s ease;
      position: absolute;
      @include px-dpr(top, 167px);
      @include px-dpr(right, 30px);
      @include font-dpr(20px);
      @include font-fw;
      color:rgba(36,101,255,1);
      @include px-dpr(line-height, 19px);
    }
  }
  .list-f {
    float: left;
    @include px-dpr(padding-right, 14px);
    @include px-dpr(padding-bottom, 121px);
    img {
      @include px-dpr(width, 323px);
      @include px-dpr(height, 183px);
    }
    .word {
      @include px-dpr(top, 198px);
      @include px-dpr(left, 31px);
    }
    .price {
      @include px-dpr(top, 331px);
      @include px-dpr(left, 24px);
    }
    .word_a {
      @include px-dpr(top, 332px);
    }
  }
}
.footer {
  position: fixed;
  @include px-dpr(right, 30px);
  @include px-dpr(bottom, 200px);
  display: grid;
  a {
    @include px-dpr(height, 62px);
  }
  img {
    @include px-dpr(width, 62px);
    @include px-dpr(height, 62px);
    border-radius: 50%;
  }
  .footer-img-1 {
    @include px-dpr(margin-bottom, 27px);
  }
}