@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: px2rem(1);
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  // overflow: hidden;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  li {
    position: relative;
    height: px2rem(25);
    //@include px-dpr(height, 25px);
    list-style: none;
    padding-top: px2rem(26);
    padding-bottom: px2rem(26);
    //@include px-dpr(padding-top, 20px);
    //@include px-dpr(padding-bottom, 31px);
    @include font-dpr(26px);
    @include font-fw;
    color:rgba(0,0,0,1);
    line-height: px2rem(25);
    //@include px-dpr(line-height, 25px);
  }
  // .default {
  //   @include px-dpr(padding-top, 30px);
  // }
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: px2rem(87);
  //@include px-dpr(height, 87px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 2;
  .return {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    left: px2rem(30);
    //@include px-dpr(left, 30px);
    top: px2rem(32);
    //@include px-dpr(top, 32px);
    img {
      width: px2rem(14);
      //@include px-dpr(width, 14px);
      padding-right: px2rem(15);
      //@include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    top: px2rem(-2);
    left: px2rem(-10);
    // @include px-dpr(top, -2px);
    // @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .user {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    right: px2rem(26);
    //@include px-dpr(right, 26px);
    top: px2rem(15);
    //@include px-dpr(top, 15px);
    img {
      position: absolute;
      width: px2rem(30);
      height: px2rem(30);
      // @include px-dpr(width, 30px);
      // @include px-dpr(height, 30px);
      right: px2rem(7);
      //@include px-dpr(right, 7px);
      top: px2rem(15);
      //@include px-dpr(top, 15px);
    }
  }
  p {
    position: relative;
    top: px2rem(29);
    //@include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
}
.nav {
  position: fixed;
  top: px2rem(88);
  //@include px-dpr(top, 88px);
  width: 100%;
  height: px2rem(77);
  //@include px-dpr(height, 77px);
  background: rgba(255,255,255,1);
  // text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 2;
  .lr {
    width: 50%;
    p {
      position: absolute;
      top: px2rem(26);
      //@include px-dpr(top, 26px);
      @include font-dpr(26px);
      @include font-fw;
      color: rgba(0,0,0,1);
      @include px-dpr(line-height, 25px);
    }
    img {
      position: absolute;
      top: px2rem(33);
      //@include px-dpr(top, 33px);
      width: px2rem(19);
      //@include px-dpr(width, 19px);
      transition: transform 0.5s ease;
    }
    .lr-img {
      transform:rotate(180deg);
    }
  }
  .nav-left {
    p {
      left: px2rem(132);
      //@include px-dpr(left, 132px);
    }
    img{
      left: px2rem(254);
      //@include px-dpr(left, 254px);
    }
  }
  .nav-right {
    position: absolute;
    top: 0px;
    right: 0px;
    p {
      right: px2rem(167);
      //@include px-dpr(right, 167px);
    }
    img {
      right: px2rem(131);
      //@include px-dpr(right, 131px);
    }
  }
}
.curtain {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  background:rgba(0,0,0,1);
  opacity:0.5;
  display: none;
}
.subMenu-left {
  position: absolute;
  // @include px-dpr(top, -147px);
  width: 100%;
  z-index: 1;
  height: px2rem(308);
  //@include px-dpr(height, 308px);
  background:rgba(246,246,246,1);
  transition: top 0.5s ease;
  display: none;
  p {
    padding-top: px2rem(26);
    padding-bottom: px2rem(26);
    //@include px-dpr(padding-top, 26px);
    //@include px-dpr(padding-bottom, 26px);
    padding-left: px2rem(31);
    padding-right: px2rem(31);
    // @include px-dpr(padding-left, 31px);
    // @include px-dpr(padding-right, 31px);
    @include font-dpr(26px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 25px);
  }
  .default {
    color: rgba(36,101,255,1);
  }
}
.subMenu-right {
  position: absolute;
  // @include px-dpr(top, -376px);
  width: 100%;
  z-index: 1;
  // @include px-dpr(height, 542px);
  background: rgba(255,255,255,1);
  transition: top 0.45s ease;
  display: none;
  .sidebar {
    width: 22.4%;
    height: px2rem(539);
    //@include px-dpr(height, 542px);
    background:rgba(246,246,246,1);
    .curtain-2 {
      position: absolute;
      width: 100%;
      height: px2rem(77);
      //@include px-dpr(height, 86px);
      top: 0px;
      background: #fff;
      transition: top 0.2s ease;
    }
  }
  .content {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 77.6%;
    background: #fff;
    div {
      position: relative;
      margin-top: px2rem(26);
      padding-bottom: px2rem(26);
      //@include px-dpr(margin-top, 30px);
      //@include px-dpr(padding-bottom, 21px);
      margin-left: px2rem(67);
      margin-right: px2rem(30);
      // @include px-dpr(margin-left, 67px);
      // @include px-dpr(margin-right, 30px);
    }
    .title {
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(36,101,255,1);
      @include px-dpr(line-height, 25px);
    }
    .num {
      position: absolute;
      top: 0px;
      right: 0px;
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 20px);
    }
  }
}
.main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  margin-top: px2rem(166);
  //@include px-dpr(margin-top, 166px);
  padding-bottom: px2rem(44);
  //@include px-dpr(padding-bottom, 22px);
  .list {
    position: relative;
    transition:0.8s ease;
    padding-top: px2rem(44);
    height: px2rem(150);
    //@include px-dpr(padding-top, 44px);
    padding-left: px2rem(30);
    padding-right: px2rem(28);
    // @include px-dpr(padding-left, 30px);
    // @include px-dpr(padding-right, 28px);
    img {
      transition:0.8s ease;
      width: px2rem(250);
      //@include px-dpr(width, 250px);
      height: px2rem(150);
      //@include px-dpr(height, 150px);
      border-radius: px2rem(6);
      //@include px-dpr(border-radius, 6px);
    }
    .word {
      transition:0.8s ease;
      position: absolute;
      top: 0px;
      left: px2rem(309);
      margin-right: px2rem(28);
      // @include px-dpr(left, 309px);
      // @include px-dpr(margin-right, 28px);
      .word_p1 {
        @include px-dpr(height, 25px);
        margin-top: px2rem(45);
        //@include px-dpr(margin-top, 45px);
        overflow-y: hidden;
        @include font-dpr(26px);
        @include font-fw;
        color:rgba(0,0,0,1);
        @include px-dpr(line-height, 25px);
      }
      .w-hp {
        position: absolute;
        top: px2rem(93);
        //@include px-dpr(top, 93px);
        display: -webkit-inline-box;
        @include font-dpr(20px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 19px);
      }
      .word_people {
        right: 0px;
      }
    }
    .price {
      transition:0.8s ease;
      position: absolute;
      top: px2rem(171);
      //@include px-dpr(top, 171px);
      left: px2rem(305);
      //@include px-dpr(left, 305px);
      display: -webkit-inline-box;
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(232,49,4,1);
      @include px-dpr(line-height, 21px);
      .yun-2 {
        @include px-dpr(margin-left, 9px);
      }
      .num-2 {
        @include font-dpr(20px);
        @include font-fw;
        text-decoration:line-through;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 28px);
      }
    }
    .word_a {
      transition:0.8s ease;
      position: absolute;
      top: px2rem(175);
      //@include px-dpr(top, 175px);
      right: px2rem(30);
      //@include px-dpr(right, 30px);
      @include font-dpr(20px);
      @include font-fw;
      color:rgba(36,101,255,1);
      @include px-dpr(line-height, 19px);
    }
  }
  .list-f {
    float: left;
    padding-right: px2rem(14);
    padding-bottom: px2rem(121);
    img {
      width: px2rem(323);
      height: px2rem(183);
    }
    .word {
      top: px2rem(198);
      left: px2rem(31);
    }
    .price {
      top: px2rem(331);
      left: px2rem(24);
    }
    .word_a {
      top: px2rem(332);
    }
  }
}
.footer {
  position: fixed;
  right: px2rem(30);
  //@include px-dpr(right, 30px);
  bottom: px2rem(200);
  //@include px-dpr(bottom, 200px);
  display: grid;
  a {
    height: px2rem(62);
    //@include px-dpr(height, 62px);
  }
  img {
    width: px2rem(62);
    height: px2rem(62);
    // @include px-dpr(width, 62px);
    // @include px-dpr(height, 62px);
    border-radius: 50%;
  }
  .footer-img-1 {
    margin-bottom: px2rem(27);
    display: none;
  }
  .num-3 {
    position: absolute;
    bottom: px2rem(45);
    //@include px-dpr(bottom, 45px);
    right: px2rem(5);
    //@include px-dpr(right, 5px);
    //@include px-dpr(width, 28px);
    width: px2rem(28);
    height: px2rem(28);
    //@include px-dpr(height, 28px);
    @include font-dpr(20px);
    font-family: PingFang SC;
    font-weight: 400;
    @include px-dpr(line-height, 28px);
    text-align: center;
    color:rgba(255,255,255,1);
    background:rgba(232,49,4,1);
    border-radius:50%;
  }
}