@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: px2rem(1);
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}
*{margin: 0; padding: 0; }
body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
ul, li { list-style: none; }
video {
  position: inherit;
  left: 0px;
  object-fit: fill;
  z-index: 2;
  width: 100%;
  height: px2rem(450);
}
textarea {
  border: solid 0px;
  outline:none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.maxbox {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: px2rem(88);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: px2rem(87);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 4;
  .return {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    left: px2rem(30);
    top: px2rem(32);
    img {
      width: px2rem(14);
      padding-right: px2rem(15);
    }
  }
  span {
    position: relative;
    top: px2rem(-2);
    left: px2rem(-10);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .message {
    position: absolute;
    width: px2rem(88);
    right: px2rem(31);
    top: px2rem(28);
    .share {
      width: px2rem(32);
      position: absolute;
      right: 0px;
    }
    .collect {
      position: absolute;
      width: px2rem(31);
      left: 0px;
    }
  }
  .header-title {
    position: relative;
    top: px2rem(29);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    line-height: px2rem(30);
  }
}
.video-box {
  position: relative;
  text-align: center;
  height: px2rem(450);
  .video-img {
    position: absolute;
    width: 100%;
    top: px2rem(182);
    z-index: 3;
    img {
      position: relative;
      width: px2rem(87);
      height: px2rem(86);
    }
  }
  .bv {
    position: absolute;
    top: px2rem(171);
    width: 100%;
    z-index: 3;
    text-align: center;
    display: none;
    p {
      height: px2rem(29);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(255,255,255,1);
      line-height: px2rem(36);
      margin-bottom: px2rem(30);
    }
    button {
      width: px2rem(152);
      height: px2rem(50);
      background:rgba(255,255,255,1);
      border-radius: px2rem(6);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(36);
      border: px2rem(1) solid rgba(255,255,255,1);
    }
  }
  .video-study {
    position: absolute;
    top: px2rem(171);
    width: 100%;
    z-index: 3;
    text-align: center;
    display: none;
    p {
      height: px2rem(36);
      display: -webkit-inline-box;
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(255,255,255,1);
      line-height: px2rem(36);
      margin-bottom: px2rem(22);
    }
    .video-study-p1 {
    }
    .video-study-title {
      width: px2rem(414);
      overflow-y: hidden;
    }
    button {
      display: block;
      margin: auto;
      width: px2rem(152);
      height: px2rem(50);
      background:rgba(255,255,255,1);
      border-radius: px2rem(6);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(36);
      border: px2rem(1) solid rgba(255,255,255,1);
    }
  }
  .video-curtain {
    position: absolute;
    top: 0px;
    width: 100%;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    height: px2rem(450);
    z-index: 2;
  }
}
.curtain_2 {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 7;
  background:rgba(0, 0, 0, 0.4);
  display: none;
}
.curtain {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 7;
  background:rgba(0, 0, 0, 0.5);
  display: none;
  .popup-sorry {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: px2rem(490);
    height: px2rem(232);
    background:rgba(255,255,255,1);
    border-radius: px2rem(10);
    margin: auto;
    display: none;
    p {
      padding: px2rem(33) px2rem(64) 0px px2rem(63);
      @include font-dpr(30px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(46);
    }
    button {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: px2rem(80);
      border: none;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(36,101,255,1);
      line-height: px2rem(36);
      background:rgba(255,255,255,1);
      border-bottom-right-radius: px2rem(10);
      border-bottom-left-radius: px2rem(10);
    }
  }
  .popup-comment {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: px2rem(556);
    height: px2rem(612);
    background:rgba(255,255,255,1);
    border-radius: px2rem(10);
    margin: auto;
    display: none;
    .popup-comment-header {
      position: relative;
      width: 100%;
      height: px2rem(105);
      padding: px2rem(30) 0px;
      text-align: center;
      .starability-grow {
        margin: auto;
      }
      .difficult {
        position: absolute;
        bottom: px2rem(30);
        width: 100%;
        margin-top: px2rem(40);
        // richUI
        .richradio,
        .richcheckbox {
            border:px2rem(1) solid rgba(221,221,221,1);
            color:rgba(51,51,51,1);
            display: inline-block;
            width: px2rem(90);
            height: px2rem(34);
            @include font-dpr(22px);
            @include font-fw;
            line-height: px2rem(36);
            text-align: center;
            margin: 0px px2rem(2.5);
            transition: .5s ease;
        }
        .richradio:hover,
        .richcheckbox:hover {
            cursor: pointer;
        }
        .lowIE {
            position: absolute\9;
            top: -999px\9;
            left: -999px\9;
        }
        .otherBrowser {
            display: none;
        }
        .IEChecked {
            background: url(../image/other/checked.png) no-repeat right bottom;
            background-size: auto auto;
            border: 1px solid #00a4ff;
            background-size: 21px 21px;
            color: #00a4ff;
        }
        .otherBrowserChecked {
            background:rgba(178,214,245,1);
            border: 1px solid rgba(178,214,245,1);
        }
      }
    }
    .popup-comment-main {
      background: rgba(246,246,246,1);
      padding: px2rem(12) px2rem(24);
      textarea {
        width: 100%;
        height: px2rem(334);
        border: 0px;
        background: rgba(246,246,246,1);
        @include font-dpr(26px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 38px);
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
        @include font-dpr(26px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 38px);
      }
    }
    .popup-comment-footer {
      position: absolute;
      width: 100%;
      height: px2rem(80);
      bottom: 0px;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      button {
        width: 50%;
        height: 100%;
        border: none;
        @include font-dpr(28px);
        @include font-fw;
        color:rgba(51,51,51,1);
        line-height: px2rem(36);
        background: rgba(255,255,255,1);
        border-right: px2rem(1) solid rgba(221,221,221,1);
        border-bottom-left-radius: px2rem(10);
      }
      input {
        position: absolute;
        right: 0px;
        width: 50%;
        height: 100%;
        border: none;
        -webkit-appearance:none;
        outline:none;
        @include font-dpr(28px);
        @include font-fw;
        color:rgba(36,101,255,1);
        line-height: px2rem(36);
        background: rgba(255,255,255,1);
        border-bottom-right-radius: px2rem(10);
      }
    }
  }
  .reply-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: px2rem(556);
    height: px2rem(527);
    background:rgba(255,255,255,1);
    border-radius: px2rem(10);
    margin: auto;
    display: none;
    text-align: center;
    p {
      @include font-dpr(28px);
      @include font-fw;
      color: rgba(0,0,0,1);
      line-height: px2rem(80);
    }
    textarea {
      border: 0px;
      width: 100%;
      height: px2rem(330);
      background: rgba(246,246,246,1);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(0,0,0,1);
      line-height: px2rem(38);
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      line-height: px2rem(38);
    }
    .reply-main {
      background: rgba(246,246,246,1);
      padding: px2rem(18) px2rem(24);
    }
    .reply-footer {
      position: absolute;
      width: 100%;
      height: px2rem(80);
      bottom: 0px;
      display: flex;
      border-top: px2rem(1) solid #ddd;
      button {
        width: 50%;
        height: 100%;
        border: 0px;
        background:rgba(255,255,255,1);
        @include font-dpr(28px);
        @include font-fw;
        line-height: px2rem(36);
      }
      .button-1 {
        color:rgba(51,51,51,1);
        border-bottom-left-radius: px2rem(10);
      }
      .button-2 {
        color:rgba(36,101,255,1);
        border-bottom-right-radius: px2rem(10);
        border-left: px2rem(1) solid #ddd;
      }
    }
  }
}
.mt-tabpage-count {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}
.mt-tabpage-cont__wrap {
  position: absolute;
  width: 300%;
}
.mt-tabpage-count .mt-tabpage-item {
  width: 33.3333333%;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  background:rgba(246,246,246,1);
  .nav {
    position: absolute;
    z-index: 6;
    padding-left: px2rem(30);
    padding-right: px2rem(31);
    height: px2rem(92);
    background:rgba(255,255,255,1);
    border: px2rem(1) solid rgba(221,221,221,1);
    .nav-list {
      width: 33.333333%;
      float: left;
      p {
        @include font-dpr(32px);
        @include font-fw;
        color: rgba(0,0,0,1);
        line-height: px2rem(92);
      }
    }
    .list-1 {p {color:rgba(36,101,255,1); float: left;}}
    .list-2 {text-align: center;}
    .list-3 {p {float: right;}}
    .bar {
      position: absolute;
      left: px2rem(31);
      bottom: 0px;
      height: px2rem(4);
      width: px2rem(66);
      background:rgba(36,101,255,1);
    }
  }
  .content-1 {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(246,246,246,1);
    padding-top: px2rem(94);
    .content-1-title {
      position: absolute;
      top: px2rem(30);
      left: px2rem(30);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(26);
    }
    .content-1-header {
      position: relative;
      padding: px2rem(24) px2rem(30) px2rem(30);
      height: px2rem(219);
      background:rgba(255,255,255,1);
      margin-bottom: px2rem(30);
      .className {
        p {
          @include font-dpr(30px);
          @include font-fw;
          color:rgba(0,0,0,1);
          line-height: px2rem(42);
        }
        span {
          position: absolute;
          top: px2rem(79);
          right: px2rem(34);
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(153,153,153,1);
          line-height: px2rem(21);
        }
      }
      .priceFree {
        position: absolute;
        top: px2rem(130);
        left: px2rem(23);
        display: none;
        .free {
          @include font-dpr(28px);
          @include font-fw;
          font-weight: 500;
          color:rgba(39,192,86,1);
          line-height: px2rem(27);
        }
        .originPrice {
          position: absolute;
          bottom: px2rem(0);
          left: px2rem(63);
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(153,153,153,1);
          line-height: px2rem(17);
          text-decoration: line-through;
        }
      }
      .price {
        position: absolute;
        top: px2rem(133);
        left: px2rem(23);
        display: -webkit-inline-box;
        .p1 {
          @include font-dpr(28px);
          @include font-fw;
          font-weight: 500;
          color:rgba(232,49,4,1);
          line-height: px2rem(23);
        }
        .p2 {
          @include font-dpr(24px);
          @include font-fw;
          font-weight: 500;
          color:rgba(232,49,4,1);
          line-height: px2rem(23);
        }
        .originPrice {
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(153,153,153,1);
          line-height: px2rem(28);
          text-decoration: line-through;
        }
      }
      .vip{
        position: absolute;
        bottom: px2rem(30);
        width: px2rem(690);
        height: px2rem(54);
        background:linear-gradient(90deg,rgba(255,224,178,1),rgba(255,234,201,1),rgba(255,202,123,1));
        border-radius: px2rem(6);
        img {
          position: absolute;
          top: px2rem(12);
          left: px2rem(15);
          width: px2rem(35);
          // height: px2rem(28);
        }
        p {
          position: absolute;
          left: px2rem(61);
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(51,51,51,1);
          line-height: px2rem(54);
        }
        button {
          position: absolute;
          top: px2rem(9);
          right: px2rem(14);
          width: px2rem(124);
          height: px2rem(36);
          background:linear-gradient(90deg,rgba(255,202,123,1),rgba(243,101,67,1),rgba(248,74,41,1));
          border-radius: px2rem(18);
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(255,255,255,1);
          line-height: px2rem(36);
          border: none;
        }
      }
    }
    .content-1-header-free {
      height: px2rem(135);
    }
    .content-1-main {
      position: relative;
      width: 100%;
      height: px2rem(1038);
      background:rgba(255,255,255,1);
      margin-bottom: px2rem(30);
      img {
        width: px2rem(690);
        height: px2rem(922);
        padding: px2rem(86) px2rem(30) px2rem(30);
      }
    }
    .content-1-footer {
      position: relative;
      width: 100%;
      height: px2rem(646);
      background:rgba(255,255,255,1);
      margin-bottom: px2rem(30);
      .change {
        position: absolute;
        top: px2rem(29);
        right: px2rem(59);
        @include font-dpr(24px);
        @include font-fw;
        color:rgba(153,153,153,1);
        line-height: px2rem(23);
      }
      .change-img {
        position: absolute;
        top: px2rem(28);
        right: px2rem(29);
        width: px2rem(23);
        height: px2rem(25);
      }
      .container {
        padding-top: px2rem(86);
        padding-left: px2rem(30);
        .content {
          width: px2rem(330);
          height: px2rem(280);
          margin-right: px2rem(30);
          float: left;
          img {
            width: 100%;
            height: px2rem(198);
            border-radius: px2rem(6);
          }
          p {
            height: px2rem(25);
            @include font-dpr(26px);
            @include font-fw;
            color:rgba(0,0,0,1);
            line-height: px2rem(25);
            margin: px2rem(18) 0;
            overflow-y: hidden;
          }
        }
      }
    }
  }
  .content-2 {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(246,246,246,1);
    padding-top: px2rem(94);
    .list{
      width: 100%;
      background: #f6f6f6;
      // padding-bottom: px2rem(90);
      ul {
        background:rgba(255,255,255,1);
        li {
          position: relative;
          width: 100%;
          -webkit-transition: .3s ease;
          -moz-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease;
          .title {
            background : rgba(246,246,246,1);
            height: px2rem(88);
            border-bottom: px2rem(1) solid rgba(221,221,221,1);
            padding-left: px2rem(31);
            padding-right: px2rem(30);
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            line-height: px2rem(88);
            position   : relative;
            img {
              position: absolute;
              top: px2rem(35);
              right: px2rem(30);
            }
          }
          .title-2 {
            position: absolute;
            top: 0px;
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            background:rgba(246,246,246,1) !important;
            left: px2rem(143);
            line-height: px2rem(88);
          }
        }
      }
    }
    .list-se {
      overflow: hidden;
      display: none;
      padding-bottom: px2rem(25);
      border-bottom: px2rem(1) solid rgba(221,221,221,1);
      p {
        background: rgba(255,255,255,1) !important;
        color: rgba(0,0,0,1);
      }
      .title {
        margin-bottom: px2rem(25);
        background:rgba(246,246,246,1) !important;
      }
      li {
        position: relative;
        right   : -100%;
        -webkit-transition: right .5s;
        -moz-transition   : right .5s;
        -o-transition     : right .5s;
        transition        : right .5s;
        img {
          position: absolute;
          top: px2rem(25);
          left: px2rem(53);
          width: px2rem(30);
          height: px2rem(24);
        }
        .li-p1 {
          padding-left: px2rem(95);
          padding-right: px2rem(147);
          @include font-dpr(26px);
          @include font-fw;
          @include px-dpr(line-height, 75px);
          height: px2rem(75);
          -webkit-transition   : border .5s; 
               transition  : border .5s;
          -webkit-transition   : background .3s;
               transition  : background .3s;
        }
        .li-p2 {
          position: absolute;
          top: 0px;
          right: px2rem(28);
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(153,153,153,1) !important;
          @include px-dpr(line-height, 75px);
        }
        .live-p {right: px2rem(34);}
      }
    }
  }
  .content-3 {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: px2rem(94);
    background:rgba(255,255,255,1);
    .content-3-title {
      position: absolute;
      top: px2rem(31);
      left: px2rem(30);
      @include font-dpr(28px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(26);
    }
    .content-3-header {
      position: relative;
      width: 100%;
      height: px2rem(290);
      background:rgba(246,246,246,1);
      // margin-bottom: px2rem(30);
      .comment {
        text-align: center;
        padding: px2rem(72) 0 px2rem(30);
        background:rgba(255,255,255,1);
        .starability-grow {
          margin: auto;
        }
        p {
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(153,153,153,1);
          line-height: px2rem(71);
        }
        button {
          width: px2rem(126);
          height: px2rem(46);
          border: none;
          background:linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
          border-radius: px2rem(6);
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(255,255,255,1);
          line-height: px2rem(36);
        }
      }
    }
    .content-3-main {
      position: relative;
      width: 100%;
      min-height: px2rem(793);
      background:rgba(255,255,255,1);
      .notComment {
        padding-top: px2rem(168);
        text-align: center;
        display: none;
        img {
          width: px2rem(235);
          height: px2rem(168);
        }
        p {
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(153,153,153,1);
          line-height: px2rem(25);
          margin-top: px2rem(26);
        }
      }
      .allComment {
        // display: none;
        position: absolute;
        width: 100%;
        top: px2rem(110);
        background:rgba(255,255,255,1);
        .allComment-main {
          // margin-bottom: px2rem(173);
          .main-comment {
            position: relative;
            margin: 0 px2rem(30);
            padding: px2rem(30) 0;
            border-bottom: px2rem(1) solid rgba(221,221,221,1);
            .comhead {
              position: relative;
              height: px2rem(62);
              margin-bottom: px2rem(17);
              img {
                position: absolute;
                width: px2rem(62px);
                height: px2rem(62px);
                border-radius:50%;
              }
              .username {
                position: absolute;
                top: px2rem(19);
                left: px2rem(84);
                @include font-dpr(24px);
                @include font-fw;
                color:rgba(51,51,51,1);
                line-height: px2rem(24);
              }
              .star_score { 
                position: absolute;
                top: px2rem(17);
                left: px2rem(170);
                background:url(../image/video/starky-2.png); 
                background-size: px2rem(37) px2rem(25);
                width: px2rem(185);
                height: px2rem(25);  
              }
              .star_score a{ 
                height: px2rem(25); 
                display:block; 
                text-indent:-999em; 
                position:absolute;
                left:0;
              }
              .star_score a:hover{ 
                background:url(../image/video/starsy-2.png);
                background-size: px2rem(37) px2rem(25);
                left:0;
              }
              .star_score a.clibg{ 
                background:url(../image/video/starsy-2.png);
                background-size: px2rem(37) px2rem(25);
                left:0;
              }
              .time {
                position: absolute;
                top: px2rem(25);
                right: px2rem(0);
                @include font-dpr(22px);
                @include font-fw;
                color:rgba(153,153,153,1);
                line-height: px2rem(22);
              }
              .evaluate {
                position: absolute;
                top: px2rem(18);
                left: px2rem(348.5);
                @include font-dpr(24px);
                @include font-fw;
                color:rgba(36,101,255,1);
                line-height: px2rem(24);
              }
            }
            .commain {
              margin-bottom: px2rem(37);
              textarea {
                position: absolute;
                opacity: 0;
                z-index: -1;
              }
              .tex {
                @include font-dpr(26px);
                @include font-fw;
                color:rgba(51,51,51,1);
                line-height: px2rem(36);
              }
              .lec-my {
                width: px2rem(640);
                padding: px2rem(14) px2rem(24) px2rem(16);
                margin: px2rem(18) px2rem(1) px2rem(49);
                background:rgba(246,246,246,1);
                p {
                  @include font-dpr(26px);
                  @include font-fw;
                  line-height: px2rem(36);
                }
              }
            }
            .praise {
              position: absolute;
              bottom: px2rem(30);
              right: 0px;
              display: flex;
              img {
                width: px2rem(26);
                height: px2rem(26);
              }
              p {
                @include font-dpr(22px);
                @include font-fw;
                color:rgba(153,153,153,1);
                margin-left: px2rem(10);
              }
            }
          }
        }
      }
    }
  }
  .pop-upWindows {
    .dr {
      display: none;
      position: fixed;
      bottom: px2rem(-210);
      width: 100%;
      z-index: 8;
      background:rgba(221,221,221,1);
      transition: bottom 0.3s ease;
      button {
        width: 100%;
        height: px2rem(100);
        background:rgba(255,255,255,1);
        border: none;
        @include font-dpr(30px);
        @include font-fw;
        color:rgba(0,0,0,1);
      }
      .drr {
        border-top: px2rem(1) solid rgba(238,238,238,1);
      }
      .der {
        color:rgba(232,49,4,1);
        margin-bottom: px2rem(10);
      }
    }
    .toReport {
      display: none;
      position: fixed;
      bottom: px2rem(-365);
      width: 100%;
      z-index: 8;
      background:rgba(221,221,221,1);
      transition: bottom 0.3s ease;
      .options {
        background:rgba(255,255,255,1);
        margin-bottom: px2rem(10);
        border-top: px2rem(1) solid rgba(238,238,238,1);
        padding: px2rem(48) px2rem(30) px2rem(47) px2rem(31);
        // richUI
        .richradio,
        .richcheckbox {
            border:px2rem(1) solid rgba(221,221,221,1);
            color:rgba(51,51,51,1);
            display: inline-block;
            width: px2rem(154);
            height: px2rem(57);
            @include font-dpr(30px);
            @include font-fw;
            line-height: px2rem(57);
            text-align: center;
            margin: 0px px2rem(4.5);
            border-radius: px2rem(6);
            transition: .3s ease;
        }
        .richradio:hover,
        .richcheckbox:hover {
            cursor: pointer;
        }
        .lowIE {
            position: absolute\9;
            top: -999px\9;
            left: -999px\9;
        }
        .otherBrowser {
            display: none;
        }
        .IEChecked {
            background: url(../image/other/checked.png) no-repeat right bottom;
            background-size: auto auto;
            border: 1px solid #00a4ff;
            background-size: 21px 21px;
            color: #00a4ff;
        }
        .otherBrowserChecked {
            color:rgba(232,49,4,1);
            border:px2rem(1) solid rgba(232,49,4,1);
        }
      }
      p {
        text-align: center;
        @include font-dpr(30px);
        @include font-fw;
        color:rgba(0,0,0,1);
        line-height: px2rem(100);
        background:rgba(255,255,255,1);
      }
      input {
        width: 100%;
        height: px2rem(100);
        border: none;
        -webkit-appearance:none;
        outline:none;
        @include font-dpr(30px);
        @include font-fw;
        color:rgba(0,0,0,1);
        background: rgba(255,255,255,1);
      }
    }
  }
}
.content-footer {
  width: 100%;
  height: px2rem(89);
  position: fixed;
  bottom: 0px;
  background: #fff;
  z-index: 6;
  border-top: px2rem(1) solid rgba(221,221,221,1);
  img {
    position: absolute;
    top: px2rem(13);
    left: px2rem(30);
    width: px2rem(64);
    height: px2rem(64);
    border-radius: 50%;
  }
  p {
    position: absolute;
    bottom: px2rem(32);
    left: px2rem(114);
    @include font-dpr(26px);
    @include font-fw;
    color:rgba(0,0,0,1);
    line-height: px2rem(25);
  }
  button {
    position: absolute;
    top: px2rem(15);
    width: px2rem(162);
    height: px2rem(58);
    border-radius: px2rem(6);
    @include font-dpr(28px);
    @include font-fw;
    line-height: px2rem(36);
  }
  .content-b1 {
    right: px2rem(214);
    color:rgba(36,101,255,1);
    border: px2rem(1) solid rgba(36,101,255,1);
    background: #fff;
  }
  .content-b2 {
    right: px2rem(30);
    color:rgba(255,255,255,1);
    border: px2rem(1) solid rgba(238,238,238,1);
    background:linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
  }
  .content-b34 {
    display: none;
    border: none;
    width: px2rem(259);
    height: px2rem(60);
    right: px2rem(30);
    color:rgba(255,255,255,1);
    background:linear-gradient(122deg,rgba(27,181,74,1),rgba(25,172,70,1));
  }
  .content-b5 {
    background:linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
  }
}

//starUI
.block{ 
  position: relative;
  width:100%; 
  height: px2rem(53);
  line-height:21px;
  margin-bottom: px2rem(18);
  .fenshu {
    position: absolute;
    bottom: px2rem(6);
    left: px2rem(31);
    @include font-dpr(56px);
    @include font-fw;
    font-weight: 500;
    color:rgba(255,120,0,1);
    line-height: px2rem(41);
  }
  .p-star {
    position: absolute;
    bottom: px2rem(6);
    left: px2rem(128);
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(51,51,51,1);
    line-height: px2rem(24);
  }
  .num {
    position: absolute;
    bottom: px2rem(5);
    left: px2rem(391);
    display: -webkit-inline-box;
    p {
      @include font-dpr(22px);
      @include font-fw;
      color:rgba(51,51,51,1);
      line-height: px2rem(22);
    }
  }
  .p-dif {
    position: absolute;
    bottom: px2rem(5);
    right: px2rem(135);
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(51,51,51,1);
    line-height: px2rem(28);
  }
  .div_dif {
    position: absolute;
    bottom: px2rem(0);
    right: px2rem(30);
    width: px2rem(90);
    height: px2rem(36);
    background:rgba(178,214,245,1);
    text-align: center;
    @include font-dpr(22px);
    @include font-fw;
    color:rgba(51,51,51,1);
    line-height: px2rem(36);
  }
  .star_score { 
    position: absolute;
    bottom: px2rem(5);
    left: px2rem(160);
    background:url(../image/video/starky.png); 
    background-size: px2rem(44) px2rem(32);
    width: px2rem(220);
    height: px2rem(32);  
  }
  .star_score a{ 
    height: px2rem(32); 
    display:block; 
    text-indent:-999em; 
    position:absolute;
    left:0;
  }
  .star_score a:hover{ 
    background:url(../image/video/starsy.png);
    background-size: px2rem(44) px2rem(32);
    left:0;
  }
  .star_score a.clibg{ 
    background:url(../image/video/starsy.png);
    background-size: px2rem(44) px2rem(32);
    left:0;
  }
}
.block .star_score{ 
  float:left;
}

.starability-grow>input:checked~label,
.starability-grow>input:focus~label,
.starability-grow>input:hover~label {
    background-position: 0 px2rem(-39)
}
.starability-grow {
  width: px2rem(270);
}
.starability-grow>label {
  width: px2rem(39);
  height: px2rem(39);
  margin: 0 px2rem(7.5);
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
screen and (-webkit-min-device-pixel-ratio:2) {
    .starability-grow>label {
        background-size: px2rem(39) auto;
    }
}
.starability-grow>label:before {
    width: px2rem(39);
    height: px2rem(39);
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
screen and (-webkit-min-device-pixel-ratio:2) {
    .starability-grow>label:before {
        background-size: px2rem(39) auto;
    }
}