@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: px2rem(1);
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: px2rem(87);
  //@include px-dpr(height, 87px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 2;
  .return {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    left: px2rem(30);
    //@include px-dpr(left, 30px);
    top: px2rem(32);
    //@include px-dpr(top, 32px);
    img {
      width: px2rem(14);
      //@include px-dpr(width, 14px);
      padding-right: px2rem(15);
      //@include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    top: px2rem(-2);
    left: px2rem(-10);
    // @include px-dpr(top, -2px);
    // @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .message {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    right: px2rem(30);
    top: px2rem(30);
    // @include px-dpr(right, 30px);
    // @include px-dpr(top, 30px);
    img {
      width: px2rem(32);
      //@include px-dpr(width, 32px);
    }
  }
  p {
    position: relative;
    top: px2rem(29);
    //@include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
}
.main {
  position: relative;
  width:100%;
  height: px2rem(665);
  //@include px-dpr(height, 665px);
  margin-top: px2rem(88);
  //@include px-dpr(margin-top, 89px);
  background:rgba(255,255,255,1);
  .user {
    position: relative;
    width: 100%;
    height: px2rem(195);
    //@include px-dpr(height, 195px);
    img {
      position: absolute;
      width: px2rem(128);
      top: px2rem(32);
      left: px2rem(32);
      // @include px-dpr(width, 128px);
      // @include px-dpr(top, 32px);
      // @include px-dpr(left, 32px);
      border-radius: 50%;
      box-shadow:0px px2rem(1) px2rem(39) px2rem(1) rgba(0, 0, 0, 0.06);
    }
    span {
      position: absolute;
      top: px2rem(47);
      left: px2rem(188);
      // @include px-dpr(top, 47px);
      // @include px-dpr(left, 188px);
      @include font-dpr(34px);
      @include font-fw;
      font-weight:500;
      color: rgba(0,0,0,1);
      @include px-dpr(line-height, 36px);
    }
    p {
      position: absolute;
      bottom: px2rem(48);
      left: px2rem(193);
      // @include px-dpr(bottom, 48px);
      // @include px-dpr(left, 193px);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(102,102,102,1);
      @include px-dpr(line-height, 25px);
    }
    // a {
    //   position: absolute;
    //   @include px-dpr(top, 41px);
    //   @include px-dpr(right, 30px);
    //   @include px-dpr(padding-left, 16px);
    //   @include px-dpr(padding-right, 7px);
    //   text-decoration: none;
    //   @include font-dpr(24px);
    //   @include font-fw;
    //   @include px-dpr(line-height, 40px);
    //   color:rgba(153,153,153,1);
    //   border:1px solid rgba(221,221,221,1);
    //   @include px-dpr(border-radius, 21px);
    // }
  }
  .box {
    position: relative;
    height: 100px;
    margin-left: px2rem(30);
    margin-right: px2rem(30);
    // @include px-dpr(margin-left, 30px);
    // @include px-dpr(margin-right, 30px);
  }
  .box_main {
    position: absolute;
    width: 100%;
    display: flex;
    height: px2rem(168);
    //@include px-dpr(height, 168px);
    background:rgba(255,255,255,1);
    box-shadow:0px px2rem(1) px2rem(35) px2rem(1) rgba(0, 0, 0, 0.08);
    border-radius: px2rem(6);
    //@include px-dpr(border-radius, 6px);
    div {
      width: 33.333333%;
      text-align: center;
      a {
        @include font-dpr(28px);
        @include font-fw;
        color:rgba(0,0,0,1);
        @include px-dpr(line-height, 27px);
        text-decoration: none;
        span {
          position: relative;
          top: px2rem(45);
          //@include px-dpr(top, 45px);
          @include font-dpr(50px);
          @include font-fw;
          color:rgba(232,49,4,1);
        }
      }
      img {
        position: relative;
        top: px2rem(32);
        //@include px-dpr(top, 32px);
      }
    }
    .order {
      img {
        width: px2rem(47);
        //@include px-dpr(width, 47px);
      }
    }
    .ecord {
      img {
        width: px2rem(53);
        //@include px-dpr(width, 53px);
      }
    }
    .oe {
      p {
        position: relative;
        top: px2rem(45);
        //@include px-dpr(top, 45px);
      }
    }
    .bard {
      position: relative;
      top: px2rem(27);
      //@include px-dpr(top, 27px);
      width: px2rem(1);
      height: px2rem(114);
      //@include px-dpr(height, 114px);
      background: rgba(221,221,221,1);
    }
    .balance {
      p {
        position: absolute;
        width: 33.333333%;
        bottom: px2rem(32);
        //@include px-dpr(bottom, 32px);
      }
    }
  }
  .box-2 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    .box-2_main {
      padding-left: px2rem(30);
      padding-right: px2rem(30);
      // @include px-dpr(padding-left, 30px);
      // @include px-dpr(padding-right, 30px);
      .ca {
        border-bottom: px2rem(1) solid rgba(221,221,221,1);
      }
    }
  }
}
.make {
  width:100%;
  height: px2rem(93);
  margin-top: px2rem(30);
  margin-bottom: px2rem(30);
  // @include px-dpr(height, 93px);
  // @include px-dpr(margin-top, 30px);
  // @include px-dpr(margin-bottom, 30px);
  background:rgba(255,255,255,1);
}
.list {
  position: relative;
  width:100%;
  height: px2rem(93);
  //@include px-dpr(height, 93px);
  background:rgba(255,255,255,1);
  a {
    text-decoration: none;
    @include font-dpr(26px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(line-height, 28px);
    .list-img {
      position: absolute;
      left: px2rem(6);
      //@include px-dpr(left, 6px);
    }
    .list-title {
      position: absolute;
      @include font-dpr(28px);
      top: px2rem(33);
      left: px2rem(63);
      // @include px-dpr(top, 33px);
      // @include px-dpr(left, 63px);
    }
    .nu {
      position: absolute;
      bottom: px2rem(35);
      //@include px-dpr(bottom, 35px);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 24px);
    }
    .list-num {
      right: px2rem(55);
      //@include px-dpr(right, 55px);
    }
    .list-unit {
      right: px2rem(26);
      //@include px-dpr(right, 26px);
    }
    .into {
      position: absolute;
      right: 0px;
      bottom: px2rem(35);
      width: px2rem(14);
      // @include px-dpr(bottom, 35px);
      // @include px-dpr(width, 14px);  
    }
  }
}
.curriculum {.list-img {width: px2rem(25); top: px2rem(32);}}
.attention {.list-img {width: px2rem(28); top: px2rem(34);}}
.evaluate {.list-img {width: px2rem(32); top: px2rem(32);}}
.make {.list-img {width: px2rem(30); top: px2rem(32);}}
.help {.list-img {width: px2rem(26); top: px2rem(34);}}
.mh {
  a {
    .list-img {left: px2rem(34);}
    .list-title {left: px2rem(93);}
    .into {right: px2rem(30);}
  }
}