@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: px2rem(1);
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}
*{margin: 0; padding: 0; }
body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
ul, li { list-style: none; }
video {
  position: fixed;
  left: 0px;
  object-fit: fill;
  z-index: 2;
  width: 100%;
  // @include px-dpr(height, 450px);
  height: px2rem(450);
}
textarea {
  border: solid 0px;
  outline:none;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: px2rem(87);
  //@include px-dpr(height, 87px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: px2rem(1) solid rgba(221,221,221,1);
  z-index: 4;
  .return {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    left: px2rem(30);
    //@include px-dpr(left, 30px);
    top: px2rem(32);
    //@include px-dpr(top, 32px);
    img {
      width: px2rem(14);
      //@include px-dpr(width, 14px);
      padding-right: px2rem(15);
      //@include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    top: px2rem(-2);
    left: px2rem(-10);
    // @include px-dpr(top, -2px);
    // @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .message {
    position: absolute;
    width: px2rem(33);
    height: px2rem(30);
    right: px2rem(31);
    top: px2rem(29);
    // @include px-dpr(width, 33px);
    // @include px-dpr(height, 30px);
    // @include px-dpr(right, 31px);
    // @include px-dpr(top, 29px);
    img {
      width: 100%;
      position: absolute;
      top: px2rem(13);
      //@include px-dpr(top, 13px);
      right: 0px;
    }
  }
  .header-title {
    position: relative;
    top: px2rem(29);
    //@include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
  .popModal {
    width: px2rem(270);
    height: px2rem(180);
    right: px2rem(10);
    top: px2rem(119);
    padding: px2rem(20);
    border-radius: px2rem(12);
    // @include px-dpr(width, 270px);
    // @include px-dpr(height, 180px);
    // @include px-dpr(padding, 20px);
    // @include px-dpr(top, 119px);
    // @include px-dpr(right, 10px);
    // @include px-dpr(border-radius, 12px);
    .drop {
      height: px2rem(69);
      //@include px-dpr(height, 69px);
      img {
        position: absolute;
        // @include px-dpr(top, 12px);
        left: px2rem(44);
        width: px2rem(30);
        height: px2rem(33);
        // @include px-dpr(left, 44px);
        // @include px-dpr(width, 30px);
        // @include px-dpr(height, 33px);
      }
      p {
        position: absolute;
        right: px2rem(50);
        //@include px-dpr(right, 50px);
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(line-height, 27px);
      }
    }
    .drop-1 {
      border-bottom: px2rem(1) solid #ddd;
      img {top: px2rem(32);}
      p {top: px2rem(36);}
    }
    .drop-2 {
      img {bottom: px2rem(33);}
      p {bottom: px2rem(35);}
    }
  }
}
.popModal.bottomRight:before, .popModal.bottomRight:after {
  right: px2rem(20);
  //@include px-dpr(right, 20px);
}
.popModal.bottomLeft:after, .popModal.bottomRight:after, .popModal.bottomCenter:after {
  right: px2rem(20);
  top: px2rem(-9);
  // @include px-dpr(right, 20px);
  // @include px-dpr(top, -9px);
}
.popModal.bottomLeft:before, .popModal.bottomRight:before, .popModal.bottomCenter:before {
  right: px2rem(20);
  top: px2rem(-10);
  // @include px-dpr(right, 20px);
  // @include px-dpr(top, -10px);
}
.popModal:before, .popModal:after {
  border: px2rem(10) solid transparent;
}
.curtain {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
  background:rgba(0,0,0,1);
  opacity:0.5;
  display: none;
}
.video-box {
  position: relative;
  text-align: center;
  margin-top: px2rem(88);
  //@include px-dpr(margin-top, 88px);
  height: px2rem(450);
  .video-img {
    position: fixed;
    width: 100%;
    top: px2rem(314);
    //@include px-dpr(top, 314px);
    z-index: 2;
    img {
      position: relative;
      width: px2rem(87);
      height: px2rem(86);
      // @include px-dpr(width, 87px);
      // @include px-dpr(height, 86px);
    }
  }
}
.content-3-reply {
  position: absolute;
  width: 100%;
  top: 50%;
  height: px2rem(527);
  //@include px-dpr(height, 527px);
  z-index: 4;
  display: none;
  .content-3-reply-box {
    position: relative;
    top: px2rem(-263.5);
    //@include px-dpr(top, -263.5px);
    margin: auto;
    width: 74.133333%;
    height: 100%;
    text-align: center;
    border-radius: px2rem(10);
    //@include px-dpr(border-radius, 10px);
    background: rgba(255,255,255,1);
    p {
      @include font-dpr(28px);
      @include font-fw;
      color: rgba(0,0,0,1);
      @include px-dpr(line-height, 80px);
    }
    textarea {
      border: 0px;
      width: 100%;
      height: px2rem(330);
      //@include px-dpr(height, 330px);
      background: rgba(246,246,246,1);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(0,0,0,1);
      @include px-dpr(line-height, 38px);
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 38px);
    }
    .content-3-reply-main {
      background: rgba(246,246,246,1);
      // box-shadow: 0px 1px 8px 0px rgba(4,0,0,0.07);
      padding: px2rem(18) px2rem(24);
      // @include px-dpr(padding-left, 24px);
      // @include px-dpr(padding-right, 24px);
      // @include px-dpr(padding-top, 18px);
      // @include px-dpr(padding-bottom, 18px);
    }
    .content-3-reply-footer {
      position: absolute;
      width: 100%;
      height: px2rem(80);
      //@include px-dpr(height, 80px);
      bottom: 0px;
      display: flex;
      border-top: px2rem(1) solid #ddd;
      button {
        width: 50%;
        height: 100%;
        border: 0px;
        background:rgba(255,255,255,1);
        @include font-dpr(28px);
        @include font-fw;
        @include px-dpr(line-height, 36px);
      }
      .button-1 {
        color:rgba(51,51,51,1);
        border-bottom-left-radius: px2rem(10);
        //@include px-dpr(border-bottom-left-radius, 10px);
      }
      .button-2 {
        color:rgba(36,101,255,1);
        border-bottom-right-radius: px2rem(10);
        // @include px-dpr(border-bottom-right-radius, 10px);
        border-left: px2rem(1) solid #ddd;
      }
    }
  }
}
.mt-tabpage-count {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.mt-tabpage-cont__wrap {
  position: absolute;
  width: 300%;
}
.mt-tabpage-count .mt-tabpage-item {
  width: 33.3333333%;
}
.main {
  background:rgba(246,246,246,1);
  .nav {
    position: fixed;
    z-index: 2;
    padding-left: px2rem(30);
    padding-right: px2rem(31);
    height: px2rem(92);
    background:rgba(255,255,255,1);
    border: px2rem(1) solid rgba(221,221,221,1);
    .nav-list {
      width: 33.333333%;
      float: left;
      p {
        @include font-dpr(32px);
        @include font-fw;
        color: rgba(0,0,0,1);
        line-height: px2rem(92);
      }
    }
    .list-1 {p {color:rgba(36,101,255,1); float: left;}}
    .list-2 {text-align: center;}
    .list-3 {p {float: right;}}
    .bar {
      position: absolute;
      left: px2rem(31);
      //@include px-dpr(left, 31px);
      bottom: 0px;
      height: px2rem(4);
      @include px-dpr(width, 130px);
      // @include px-dpr(height, 4px);
      background:rgba(36,101,255,1);
    }
  }
  .content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(246,246,246,1);
    padding-top: px2rem(94);
    //@include px-dpr(padding-top, 84px);
    .list{
      width: 100%;
      background: #fff;
      padding-bottom: px2rem(90);
      ul {
        background:rgba(255,255,255,1);
        li {
          position: relative;
          width: 100%;
          -webkit-transition: .3s ease;
          -moz-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease;
          .title {
            background : rgba(246,246,246,1);
            height: px2rem(88);
            border-bottom: px2rem(1) solid rgba(221,221,221,1);
            padding-left: px2rem(31);
            padding-right: px2rem(30);
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            line-height: px2rem(88);
            position   : relative;
            img {
              position: absolute;
              top: px2rem(35);
              right: px2rem(30);
            }
          }
          .title-2 {
            position: absolute;
            top: 0px;
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            background:rgba(246,246,246,1) !important;
            left: px2rem(143);
            line-height: px2rem(88);
          }
        }
      }
    }
    .list-se {
      overflow: hidden;
      display: none;
      padding-bottom: px2rem(25);
      border-bottom: px2rem(1) solid rgba(221,221,221,1);
      p {
        background: rgba(255,255,255,1) !important;
        color: rgba(0,0,0,1);
      }
      .title {
        background:rgba(246,246,246,1) !important;
        margin-bottom: px2rem(25);
        //@include px-dpr(margin-bottom, 8px);
      }
      li {
        position: relative;
        right   : -100%;
        -webkit-transition: right .5s;
        -moz-transition   : right .5s;
        -o-transition     : right .5s;
        transition        : right .5s;
        img {
          position: absolute;
          top: px2rem(25);
          left: px2rem(53);
          width: px2rem(30);
          height: px2rem(24);
          // @include px-dpr(top, 33px);
          // @include px-dpr(left, 53px);
          // @include px-dpr(width, 30px);
          // @include px-dpr(height, 24px);
        }
        .li-p1 {
          padding-left: px2rem(95);
          padding-right: px2rem(147);
          @include font-dpr(26px);
          @include font-fw;
          @include px-dpr(line-height, 75px);
          height: px2rem(75);
          -webkit-transition   : border .5s; 
               transition  : border .5s;
          -webkit-transition   : background .3s;
               transition  : background .3s;
        }
        .li-p2 {
          position: absolute;
          top: 0px;
          right: px2rem(28);
          @include font-dpr(22px);
          @include font-fw;
          color:rgba(153,153,153,1) !important;
          @include px-dpr(line-height, 75px);
        }
        .live-p {right: px2rem(34);}
      }
    }
  }
  .content-2 {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .content-2-header {
      position: absolute;
      top: px2rem(94);
      //@include px-dpr(top, 84px);
      width: 100%;
      height: px2rem(100);
      //@include px-dpr(height, 100px);
      background:rgba(246,246,246,1);
      .avatar-list {
        position: relative;
        overflow: hidden;
        height: px2rem(62);
        padding-top: px2rem(19);
        margin-bottom: px2rem(19);
        padding-left: px2rem(30);
        margin-right: px2rem(156);
        // @include px-dpr(height, 62px);
        // @include px-dpr(padding-top, 19px);
        // @include px-dpr(margin-bottom, 19px);
        // @include px-dpr(padding-left, 30px);
        // @include px-dpr(margin-right, 200px);
      }
      .avatar {
        width: px2rem(62);
        height: px2rem(62);
        // @include px-dpr(width, 62px);
        // @include px-dpr(height, 62px);
        display: inline-block;
        border-radius: 50%;
        margin-right: px2rem(-20);
        //@include px-dpr(margin-right, -20px);
        box-shadow:px2rem(-2) px2rem(1) px2rem(4) 0px rgba(0, 0, 0, 0.16);
      }
      p {
        position: absolute;
        top: px2rem(39);
        right: px2rem(30);
        // @include px-dpr(top, 39px);
        // @include px-dpr(right, 30px);
        @include font-dpr(22px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 21px);
      }
      .omit {
          position: absolute;
          top: px2rem(30);
          right: px2rem(170);
          // @include px-dpr(right, 170px);
          // @include px-dpr(top, 30px);
          @include font-dpr(30px);
        }
    }
    .content-2-main {
      position: absolute;
      top: px2rem(194);
      //@include px-dpr(top, 184px);
      padding-bottom: px2rem(90);
      //@include px-dpr(padding-bottom, 90px);
      width: 100%;
      background: #fff;
      z-index: 1;
      .comment {
        .comment-header {
          position: relative;
          height: px2rem(104);
          //@include px-dpr(height, 104px);
          img {
            position: absolute;
            top: px2rem(30);
            left: px2rem(30);
            width: px2rem(62);
            height: px2rem(62);
            // @include px-dpr(top, 30px);
            // @include px-dpr(left, 30px);
            // @include px-dpr(width, 62px);
            // @include px-dpr(height, 62px);
            border-radius: 50%;
          }
          .username {
            position: absolute;
            top: px2rem(49);
            left: px2rem(112);
            // @include px-dpr(top, 49px);
            // @include px-dpr(left, 112px);
            @include font-dpr(24px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 23px);
          }
          .time {
            position: absolute;
            top: px2rem(51);
            right: px2rem(31);
            // @include px-dpr(top, 51px);
            // @include px-dpr(right, 31px);
            @include font-dpr(22px);
            @include font-fw;
            color: #999999;
            @include px-dpr(line-height, 21px);
          }
        }
        .container {
          p {
            margin: 0px px2rem(31);
            padding-bottom: px2rem(32);
            // @include px-dpr(margin-left, 31px);
            // @include px-dpr(margin-right, 31px);
            // @include px-dpr(padding-bottom, 32px);
            @include font-dpr(26px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 36px);
            border-bottom: px2rem(1) solid #ddd;
          }
        }
      }
    }
    .content-2-footer {
      width: 100%;
      height: px2rem(90);
      //@include px-dpr(height, 90px);
      position: fixed;
      bottom: 0px;
      background: #fff;
      display: none;
      z-index: 3;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      img {
        position: absolute;
        top: px2rem(18);
        left: px2rem(30);
        width: px2rem(54);
        height: px2rem(54);
        // @include px-dpr(width, 54px);
        // @include px-dpr(height, 54px);
        // @include px-dpr(top, 18px);
        // @include px-dpr(left, 30px);
      }
      input {
        position: absolute;
        outline: none;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        padding: 0px px2rem(13);
        bottom: px2rem(15);
        right: px2rem(168);
        width: px2rem(451);
        height: px2rem(58);
        // @include px-dpr(padding-left, 13px);
        // @include px-dpr(padding-right, 13px);
        // @include px-dpr(bottom, 15px);
        // @include px-dpr(right, 168px);
        // @include px-dpr(width, 451px);
        // @include px-dpr(height, 60px);
        background: rgba(251,251,251,1);
        border: px2rem(1) solid rgba(221,221,221,1);
        box-shadow: 0px 0px px2rem(5) 0px rgba(4,0,0,0.14);
        border-radius: px2rem(6);
        //@include px-dpr(border-radius, 6px);
        outline:0px ; 
        -webkit-appearance: none;
      }
      button {
        position: absolute;
        bottom: px2rem(15);
        right: px2rem(30);
        width: px2rem(114);
        height: px2rem(60);
        // @include px-dpr(top, 15px);
        // @include px-dpr(right, 30px);
        // @include px-dpr(width, 114px);
        // @include px-dpr(height, 60px);
        background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
        border-radius: px2rem(6);
        //@include px-dpr(border-radius, 6px);
        border: 0px;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(255,255,255,1);
        @include px-dpr(line-height, 36px);
      }
    }
  }
  .content-3 {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    .content-3-main {
      position: absolute;
      top: px2rem(94);
      padding-bottom: px2rem(90);
      // @include px-dpr(top, 84px);
      // @include px-dpr(padding-bottom, 90px);
      width: 100%;
      background: rgba(255,255,255,1);
      z-index: 1;
      .comment {
        position: relative;
        padding-top: px2rem(22);
        padding-bottom: px2rem(28);
        margin-left: px2rem(30);
        margin-right: px2rem(30);
        // @include px-dpr(padding-top, 22px);
        // @include px-dpr(padding-bottom, 28px);
        // @include px-dpr(margin-left, 30px);
        // @include px-dpr(margin-right, 30px);
        border-bottom: px2rem(1) solid #ddd;
        .span-1 {
          @include font-dpr(28px);
          @include font-fw;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
          margin-left: px2rem(-25);
          //@include px-dpr(margin-left, -25px);
        }
        .p-2 {
          top: px2rem(79);
          left: px2rem(2);
          margin-top: px2rem(20);
          // @include px-dpr(top, 79px);
          // @include px-dpr(left, 2px);
          // @include px-dpr(margin-top, 20px);
          @include font-dpr(26px);
          @include font-fw;
          font-weight: 500;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
        }
        .question {
          @include font-dpr(28px);
          @include font-fw;
          color: rgba(0,0,0,1);
          @include px-dpr(line-height, 38px);
          display: inline-block;
        }
        .reply {
          position: relative;
          margin-bottom: px2rem(40);
          padding-left: px2rem(72);
          // @include px-dpr(margin-bottom, 10px);
          // @include px-dpr(padding-left, 72px);
          @include font-dpr(26px);
          @include font-fw;
          color: rgba(0,0,0,1);
          @include px-dpr(line-height, 36px);
        }
        .rd {
          position: relative;
          top: px2rem(-31);
          //@include px-dpr(top, -31px);
        }
        .nt {
          position: absolute;
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(153,153,153,1);
          @include px-dpr(line-height, 23px);
        }
        .name {
          bottom: px2rem(29);
          //@include px-dpr(bottom, 29px);
        }
        .time {
          bottom: px2rem(30);
          right: px2rem(1);
          // @include px-dpr(bottom, 30px);
          // @include px-dpr(right, 1px);
        }
      }
      .lecturer {
        padding-bottom: px2rem(23);
        //@include px-dpr(padding-bottom, 23px);
        .lecturer-reply {
          position: absolute;
          top: px2rem(26);
          right: px2rem(1);
          // @include px-dpr(top, 26px);
          // @include px-dpr(right, 1px);
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
        }
        .p-2 {
          font-weight: 400;
          color:rgba(0,0,0,1);
        }
        .reply {
          @include px-dpr(line-height, 40px);
        }
        .rd {
          top: px2rem(-34);
          //@include px-dpr(top, -34px);
        }
        .lecturer-delete {
          position: absolute;
          bottom: px2rem(-30);
          right: px2rem(1);
          // @include px-dpr(bottom, 10px);
          // @include px-dpr(right, 1px);
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(232,49,4,1);
          @include px-dpr(line-height, 25px);
        }
      }
      .lec {
        height: px2rem(88);
        //@include px-dpr(height, 88px);
      }
    }
    .content-3-footer {
      width: 100%;
      height: px2rem(90);
      //@include px-dpr(height, 90px);
      position: fixed;
      bottom: 0px;
      background: #fff;
      display: none;
      z-index: 3;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      input {
        position: absolute;
        outline: none;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        padding: 0px px2rem(13);
        bottom: px2rem(15);
        right: px2rem(168);
        width: px2rem(526);
        height: px2rem(58);
        // @include px-dpr(padding-left, 13px);
        // @include px-dpr(padding-right, 13px);
        // @include px-dpr(bottom, 15px);
        // @include px-dpr(right, 168px);
        // @include px-dpr(width, 526px);
        // @include px-dpr(height, 60px);
        background: rgba(251,251,251,1);
        border: px2rem(1) solid rgba(221,221,221,1);
        box-shadow: 0px 0px px2rem(5) 0px rgba(4,0,0,0.14);
        border-radius: px2rem(6);
        //@include px-dpr(border-radius, 6px);
        outline:0px ; 
        -webkit-appearance: none;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
        @include font-dpr(24px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 40px);
      }
      button {
        position: absolute;
        bottom: px2rem(15);
        right: px2rem(30);
        width: px2rem(114);
        height: px2rem(60);
        // @include px-dpr(top, 15px);
        // @include px-dpr(right, 30px);
        // @include px-dpr(width, 114px);
        // @include px-dpr(height, 60px);
        background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
        border-radius: px2rem(6);
        //@include px-dpr(border-radius, 6px);
        border: 0px;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(255,255,255,1);
        @include px-dpr(line-height, 36px);
      }
    }
  }
}
.pop-upWindows {
  .dr {
    display: none;
    position: fixed;
    bottom: px2rem(-210);
    width: 100%;
    z-index: 5;
    background:rgba(221,221,221,1);
    transition: bottom 0.3s ease;
    button {
      width: 100%;
      height: px2rem(100);
      background:rgba(255,255,255,1);
      border: none;
      @include font-dpr(30px);
      @include font-fw;
      color:rgba(0,0,0,1);
    }
    .delete-btn {
      color:rgba(232,49,4,1);
      margin-bottom: px2rem(10);
      border-top: px2rem(1) solid rgba(238,238,238,1);
    }
  }
  .hint {
    display: none;
    position: fixed;
    bottom: px2rem(-310);
    width: 100%;
    z-index: 5;
    background:rgba(221,221,221,1);
    transition: bottom 0.3s ease;
    text-align: center;
    p {
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(136,136,136,1);
      line-height: px2rem(100);
      background:rgba(255,255,255,1);
    }
    button {
      width: 100%;
      height: px2rem(100); 
      background:rgba(255,255,255,1);
      border: none;
      @include font-dpr(30px);
      @include font-fw;
      color:rgba(0,0,0,1);
    }
    .confirm {
      color:rgba(232,49,4,1);
      margin-bottom: px2rem(10);
      border-top: px2rem(1) solid rgba(238,238,238,1);
    }
  }
}