@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin translateX($property, $px) {
  #{$property}: translateX($px/2);

  [data-dpr="2"] & {
    #{$property}: translateX($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateX($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateX($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateX($px * 3.5/2);
  }
}
@mixin translateY($property, $px) {
  #{$property}: translateY($px/2);

  [data-dpr="2"] & {
    #{$property}: translateY($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateY($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateY($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateY($px * 3.5/2);
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: px2rem(1);
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}
*{margin: 0; padding: 0; }
body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
ul, li { list-style: none; }
video {
  position: fixed;
  left: 0px;
  object-fit: fill;
  z-index: 2;
  width: 100%;
  // @include px-dpr(height, 450px);
  height: px2rem(450);
}
textarea {
  border: solid 0px;
  outline:none;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  @include px-dpr(height, 88px);
  background: rgba(255,255,255,1);
  text-align: center;
  z-index: 4;
  .return {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(left, 30px);
    @include px-dpr(top, 32px);
    img {
      @include px-dpr(width, 14px);
      @include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    @include px-dpr(top, -2px);
    @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .message {
    position: absolute;
    @include px-dpr(width, 33px);
    @include px-dpr(height, 30px);
    @include px-dpr(right, 31px);
    @include px-dpr(top, 29px);
    img {
      width: 100%;
      position: absolute;
      @include px-dpr(top, 13px);
      right: 0px;
    }
  }
  .header-title {
    position: relative;
    @include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
  .popModal {
    @include px-dpr(width, 270px);
    @include px-dpr(height, 180px);
    @include px-dpr(padding, 20px);
    @include px-dpr(top, 119px);
    @include px-dpr(right, 10px);
    @include px-dpr(border-radius, 12px);
    .drop {
      @include px-dpr(height, 69px);
      img {
        position: absolute;
        // @include px-dpr(top, 12px);
        @include px-dpr(left, 44px);
        @include px-dpr(width, 30px);
        @include px-dpr(height, 33px);
      }
      p {
        position: absolute;
        @include px-dpr(right, 50px);
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(line-height, 27px);
      }
    }
    .drop-1 {
      border-bottom: px2rem(1) solid #ddd;
      img {@include px-dpr(top, 32px);}
      p {@include px-dpr(top, 36px);}
    }
    .drop-2 {
      img {@include px-dpr(bottom, 33px);}
      p {@include px-dpr(bottom, 35px);}
    }
  }
}
.popModal.bottomRight:before, .popModal.bottomRight:after {
  @include px-dpr(right, 20px);
}
.popModal.bottomLeft:after, .popModal.bottomRight:after, .popModal.bottomCenter:after {
  @include px-dpr(right, 20px);
  @include px-dpr(top, -9px);
}
.popModal.bottomLeft:before, .popModal.bottomRight:before, .popModal.bottomCenter:before {
  @include px-dpr(right, 20px);
  @include px-dpr(top, -10px);
}
.popModal:before, .popModal:after {
  border: px2rem(10) solid transparent;
}
.curtain {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
  background:rgba(0,0,0,1);
  opacity:0.5;
  display: none;
}
.video-box {
  position: relative;
  text-align: center;
  @include px-dpr(margin-top, 88px);
  height: px2rem(450);
  .video-img {
    position: fixed;
    width: 100%;
    @include px-dpr(top, 314px);
    z-index: 2;
    img {
      position: relative;
      @include px-dpr(width, 87px);
      @include px-dpr(height, 86px);
    }
  }
}
.content-3-reply {
  position: absolute;
  width: 100%;
  top: 50%;
  @include px-dpr(height, 527px);
  z-index: 4;
  display: none;
  .content-3-reply-box {
    position: relative;
    @include px-dpr(top, -263.5px);
    margin: auto;
    width: 74.133333%;
    height: 100%;
    text-align: center;
    @include px-dpr(border-radius, 10px);
    background: rgba(255,255,255,1);
    p {
      @include font-dpr(28px);
      @include font-fw;
      color: rgba(0,0,0,1);
      @include px-dpr(line-height, 80px);
    }
    textarea {
      border: 0px;
      width: 100%;
      @include px-dpr(height, 330px);
      background: rgba(246,246,246,1);
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(0,0,0,1);
      @include px-dpr(line-height, 38px);
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
      @include font-dpr(26px);
      @include font-fw;
      color:rgba(153,153,153,1);
      @include px-dpr(line-height, 38px);
    }
    .content-3-reply-main {
      background: rgba(246,246,246,1);
      // box-shadow: 0px 1px 8px 0px rgba(4,0,0,0.07);
      @include px-dpr(padding-left, 24px);
      @include px-dpr(padding-right, 24px);
      @include px-dpr(padding-top, 18px);
      @include px-dpr(padding-bottom, 18px);
    }
    .content-3-reply-footer {
      position: absolute;
      width: 100%;
      @include px-dpr(height, 80px);
      bottom: 0px;
      display: flex;
      border-top: px2rem(1) solid #ddd;
      button {
        width: 50%;
        height: 100%;
        border: 0px;
        background:rgba(255,255,255,1);
        @include font-dpr(28px);
        @include font-fw;
        @include px-dpr(line-height, 36px);
      }
      .button-1 {
        color:rgba(51,51,51,1);
        @include px-dpr(border-bottom-left-radius, 10px);
      }
      .button-2 {
        color:rgba(36,101,255,1);
        @include px-dpr(border-bottom-right-radius, 10px);
        border-left: px2rem(1) solid #ddd;
      }
    }
  }
}
.mt-tabpage-count {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.mt-tabpage-cont__wrap {
  position: absolute;
  width: 300%;
}
.mt-tabpage-count .mt-tabpage-item {
  width: 33.3333333%;
}
.main {
  background:rgba(246,246,246,1);
  .nav {
    position: fixed;
    z-index: 2;
    @include px-dpr(padding-left, 31px);
    @include px-dpr(padding-right, 30px);
    @include px-dpr(height, 82px);
    background:rgba(255,255,255,1);
    border: px2rem(1) solid rgba(221,221,221,1);
    .nav-list {
      width: 33.333333%;
      float: left;
      p {
        @include font-dpr(32px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(line-height, 82px);
      }
    }
    .list-1 {p {color:rgba(36,101,255,1); float: left;}}
    .list-2 {text-align: center;}
    .list-3 {p {float: right;}}
    .bar {
      position: absolute;
      @include px-dpr(left, 31px);
      bottom: 0px;
      @include px-dpr(width, 130px);
      @include px-dpr(height, 4px);
      background:rgba(36,101,255,1);
    }
  }
  .content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(246,246,246,1);
    @include px-dpr(padding-top, 84px);
    .list{
      width: 100%;
      background: #fff;
      ul {
        li {
          position: relative;
          width: 100%;
          -webkit-transition: .3s ease;
          -moz-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease;
          .title {
            background : rgba(246,246,246,1);
            @include px-dpr(height, 84px);
            @include px-dpr(padding-left, 31px);
            @include px-dpr(padding-right, 30px);
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 84px);
            padding    : 0;
            border     : none;
            position   : relative;
            span {
              position: absolute;
              @include px-dpr(right, 30px);
            }
            img {
              position: absolute;
              @include px-dpr(top, 35px);
              @include px-dpr(right, 30px);
            }
          }
          .title-2 {
            position: absolute;
            top: 0px;
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            background:rgba(246,246,246,1) !important;
            @include px-dpr(left, 143px);
            @include px-dpr(line-height, 84px);
          }
        }
      }
    }
    .list-se {
      overflow: hidden;
      display: none;
      @include px-dpr(padding-bottom, 8px);
      p {
        background: rgba(255,255,255,1) !important;
        color: rgba(0,0,0,1);
      }
      .title {
        background:rgba(246,246,246,1) !important;
        @include px-dpr(margin-bottom, 8px);
      }
      li {
        position: relative;
        right   : -100%;
        -webkit-transition: right .5s;
        -moz-transition   : right .5s;
        -o-transition     : right .5s;
        transition        : right .5s;
        img {
          position: absolute;
          @include px-dpr(top, 33px);
          @include px-dpr(left, 53px);
          @include px-dpr(width, 30px);
          @include px-dpr(height, 24px);
        }
        .li-p1 {
          @include px-dpr(padding-left, 95px);
          @include px-dpr(padding-right, 147px);
          @include font-dpr(24px);
          @include font-fw;
          @include px-dpr(line-height, 84px);
          @include px-dpr(height, 84px);
          -webkit-transition   : border .5s; 
               transition  : border .5s;
          -webkit-transition   : background .3s;
               transition  : background .3s;
        }
        .li-p2 {
          position: absolute;
          top: 0px;
          @include px-dpr(right, 28px);
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(153,153,153,1) !important;
          @include px-dpr(line-height, 84px);
        }
        .live-p {@include px-dpr(right, 34px);}
      }
    }
  }
  .content-2 {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .content-2-header {
      position: absolute;
      @include px-dpr(top, 84px);
      width: 100%;
      @include px-dpr(height, 100px);
      background:rgba(246,246,246,1);
      .avatar-list {
        position: relative;
        overflow: hidden;
        @include px-dpr(height, 62px);
        @include px-dpr(padding-top, 19px);
        @include px-dpr(margin-bottom, 19px);
        @include px-dpr(padding-left, 30px);
        @include px-dpr(margin-right, 200px);
      }
      .avatar {
        @include px-dpr(width, 62px);
        @include px-dpr(height, 62px);
        display: inline-block;
        border-radius: 50%;
        @include px-dpr(margin-right, -20px);
        box-shadow:-2px 1px 4px 0px rgba(0, 0, 0, 0.16);
      }
      p {
        position: absolute;
        @include px-dpr(top, 39px);
        @include px-dpr(right, 30px);
        @include font-dpr(22px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 21px);
      }
      .omit {
          position: absolute;
          @include px-dpr(right, 170px);
          @include px-dpr(top, 30px);
          @include font-dpr(30px);
        }
    }
    .content-2-main {
      position: absolute;
      @include px-dpr(top, 184px);
      @include px-dpr(padding-bottom, 90px);
      width: 100%;
      background: #fff;
      z-index: 1;
      .comment {
        .comment-header {
          position: relative;
          @include px-dpr(height, 104px);
          img {
            position: absolute;
            @include px-dpr(top, 30px);
            @include px-dpr(left, 30px);
            @include px-dpr(width, 62px);
            @include px-dpr(height, 62px);
            border-radius: 50%;
          }
          .username {
            position: absolute;
            @include px-dpr(top, 49px);
            @include px-dpr(left, 112px);
            @include font-dpr(24px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 23px);
          }
          .time {
            position: absolute;
            @include px-dpr(top, 51px);
            @include px-dpr(right, 31px);
            @include font-dpr(22px);
            @include font-fw;
            color: #999999;
            @include px-dpr(line-height, 21px);
          }
        }
        .container {
          p {
            @include px-dpr(margin-left, 31px);
            @include px-dpr(margin-right, 31px);
            @include px-dpr(padding-bottom, 32px);
            @include font-dpr(26px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 36px);
            border-bottom: px2rem(1) solid #ddd;
          }
        }
      }
    }
    .content-2-footer {
      width: 100%;
      @include px-dpr(height, 90px);
      position: fixed;
      bottom: 0px;
      background: #fff;
      display: none;
      z-index: 3;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      img {
        position: absolute;
        @include px-dpr(width, 54px);
        @include px-dpr(height, 54px);
        @include px-dpr(top, 18px);
        @include px-dpr(left, 30px);
      }
      input {
        position: absolute;
        outline: none;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(padding-left, 13px);
        @include px-dpr(padding-right, 13px);
        @include px-dpr(bottom, 15px);
        @include px-dpr(right, 168px);
        @include px-dpr(width, 451px);
        @include px-dpr(height, 60px);
        background: rgba(251,251,251,1);
        border: px2rem(1) solid rgba(221,221,221,1);
        box-shadow: 0px 0px 5px 0px rgba(4,0,0,0.14);
        @include px-dpr(border-radius, 6px);
        outline:0px ; 
        -webkit-appearance: none;
      }
      button {
        position: absolute;
        @include px-dpr(top, 15px);
        @include px-dpr(right, 30px);
        @include px-dpr(width, 114px);
        @include px-dpr(height, 60px);
        background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
        @include px-dpr(border-radius, 6px);
        border: 0px;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(255,255,255,1);
        @include px-dpr(line-height, 36px);
      }
    }
  }
  .content-3 {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    .content-3-main {
      position: absolute;
      @include px-dpr(top, 84px);
      @include px-dpr(padding-bottom, 90px);
      width: 100%;
      background: rgba(255,255,255,1);
      z-index: 1;
      .comment {
        position: relative;
        @include px-dpr(padding-top, 22px);
        @include px-dpr(padding-bottom, 28px);
        @include px-dpr(margin-left, 30px);
        @include px-dpr(margin-right, 30px);
        border-bottom: px2rem(1) solid #ddd;
        .span-1 {
          @include font-dpr(28px);
          @include font-fw;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
          @include px-dpr(margin-left, -25px);
        }
        .p-2 {
          @include px-dpr(top, 79px);
          @include px-dpr(left, 2px);
          @include px-dpr(margin-top, 20px);
          @include font-dpr(26px);
          @include font-fw;
          font-weight: 500;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
        }
        .question {
          @include font-dpr(28px);
          @include font-fw;
          color: rgba(0,0,0,1);
          @include px-dpr(line-height, 38px);
          display: inline-block;
        }
        .reply {
          position: relative;
          @include px-dpr(margin-bottom, 10px);
          @include px-dpr(padding-left, 72px);
          @include font-dpr(26px);
          @include font-fw;
          color: rgba(0,0,0,1);
          @include px-dpr(line-height, 36px);
        }
        .rd {
          position: relative;
          @include px-dpr(top, -31px);
        }
        .nt {
          position: absolute;
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(153,153,153,1);
          @include px-dpr(line-height, 23px);
        }
        .name {
          @include px-dpr(bottom, 29px);
        }
        .time {
          @include px-dpr(bottom, 30px);
          @include px-dpr(right, 1px);
        }
      }
      .lecturer {
        @include px-dpr(padding-bottom, 23px);
        .lecturer-reply {
          position: absolute;
          @include px-dpr(top, 26px);
          @include px-dpr(right, 1px);
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(36,101,255,1);
          @include px-dpr(line-height, 25px);
        }
        .p-2 {
          font-weight: 400;
          color:rgba(0,0,0,1);
        }
        .reply {
          @include px-dpr(line-height, 40px);
        }
        .rd {
          @include px-dpr(top, -34px);
        }
        .lecturer-delete {
          position: absolute;
          @include px-dpr(bottom, 10px);
          @include px-dpr(right, 1px);
          @include font-dpr(26px);
          @include font-fw;
          color:rgba(232,49,4,1);
          @include px-dpr(line-height, 25px);
        }
      }
      .lec {
        @include px-dpr(height, 88px);
      }
    }
    .content-3-footer {
      width: 100%;
      @include px-dpr(height, 90px);
      position: fixed;
      bottom: 0px;
      background: #fff;
      display: none;
      z-index: 3;
      border-top: px2rem(1) solid rgba(221,221,221,1);
      input {
        position: absolute;
        outline: none;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(padding-left, 13px);
        @include px-dpr(padding-right, 13px);
        @include px-dpr(bottom, 15px);
        @include px-dpr(right, 168px);
        @include px-dpr(width, 526px);
        @include px-dpr(height, 60px);
        background: rgba(251,251,251,1);
        border: px2rem(1) solid rgba(221,221,221,1);
        box-shadow: 0px 0px 5px 0px rgba(4,0,0,0.14);
        @include px-dpr(border-radius, 6px);
        outline:0px ; 
        -webkit-appearance: none;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
        @include font-dpr(24px);
        @include font-fw;
        color:rgba(153,153,153,1);
        @include px-dpr(line-height, 40px);
      }
      button {
        position: absolute;
        @include px-dpr(top, 15px);
        @include px-dpr(right, 30px);
        @include px-dpr(width, 114px);
        @include px-dpr(height, 60px);
        background: linear-gradient(122deg,rgba(102,146,250,1),rgba(56,115,255,1));
        @include px-dpr(border-radius, 6px);
        border: 0px;
        @include font-dpr(28px);
        @include font-fw;
        color: rgba(255,255,255,1);
        @include px-dpr(line-height, 36px);
      }
    }
  }
}