@mixin font-dpr($font-size){
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }
  
  [data-dpr="2.625"] & {
    font-size: $font-size * 2.625/2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3/1.82;
  }

  [data-dpr="3.5"] & {
    font-size: $font-size * 3.5/2;
  }
}
@mixin px-dpr($property, $px) {
  #{$property}: $px/2;

  [data-dpr="2"] & {
    #{$property}: $px;
  }
  
  [data-dpr="2.625"] & {
    #{$property}: $px * 2.625/2;
  }

  [data-dpr="3"] & {
    #{$property}: $px * 3/1.82;
  }

  [data-dpr="3.5"] & {
    #{$property}: $px * 3.5/2;
  }
}
@mixin translateX($property, $px) {
  #{$property}: translateX($px/2);

  [data-dpr="2"] & {
    #{$property}: translateX($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateX($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateX($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateX($px * 3.5/2);
  }
}
@mixin translateY($property, $px) {
  #{$property}: translateY($px/2);

  [data-dpr="2"] & {
    #{$property}: translateY($px);
  }
  
  [data-dpr="2.625"] & {
    #{$property}: translateY($px * 2.625/2);
  }

  [data-dpr="3"] & {
    #{$property}: translateY($px * 3/1.82);
  }

  [data-dpr="3.5"] & {
    #{$property}: translateY($px * 3.5/2);
  }
}
@mixin font-fw {
  font-family: PingFang SC;
  font-weight: 400;
  letter-spacing: 1px;
}

@function px2rem($px, $base-font-size: 32px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}
p {
  margin: 0px;
}
a, div {
  text-decoration: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
video {
  position: fixed;
  left: 0px;
  object-fit: fill;
  z-index: 2;
  @include px-dpr(height, 450px);
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  @include px-dpr(height, 88px);
  background: rgba(255,255,255,1);
  text-align: center;
  border-bottom: 1px solid rgba(221,221,221,1);
  z-index: 2;
  .return {
    position: absolute;
    text-decoration: none;
    line-height: 0px;
    z-index: 1;
    @include font-dpr(28px);
    @include font-fw;
    color:rgba(0,0,0,1);
    @include px-dpr(left, 30px);
    @include px-dpr(top, 32px);
    img {
      @include px-dpr(width, 14px);
      @include px-dpr(padding-right, 15px);
    }
  }
  span {
    position: relative;
    @include px-dpr(top, -2px);
    @include px-dpr(left, -10px);
    @include font-dpr(28px);
    @include font-fw;
    color: rgba(0,0,0,1);
  }
  .message {
    position: absolute;
    line-height: 0px;
    z-index: 1;
    @include px-dpr(right, 30px);
    @include px-dpr(top, 30px);
    img {
      @include px-dpr(width, 32px);
    }
  }
  p {
    position: relative;
    @include px-dpr(top, 29px);
    @include font-dpr(30px);
    @include font-fw;
    color: rgba(0,0,0,1);
    @include px-dpr(line-height, 30px);
  }
}
.video-box {
  position: relative;
  text-align: center;
  @include px-dpr(margin-top, 89px);
  @include px-dpr(height, 450px);
  .video-img {
    position: fixed;
    width: 100%;
    @include px-dpr(top, 314px);
    z-index: 2;
    img {
      position: relative;
      @include px-dpr(width, 87px);
      @include px-dpr(height, 86px);
    }
  }
}
.main {
  .nav {
    position: fixed;
    z-index: 2;
    @include px-dpr(padding-left, 31px);
    @include px-dpr(padding-right, 30px);
    @include px-dpr(height, 82px);
    background:rgba(255,255,255,1);
    border:1px solid rgba(221,221,221,1);
    .nav-list {
      width: 33.333333%;
      float: left;
      p {
        @include font-dpr(32px);
        @include font-fw;
        color: rgba(0,0,0,1);
        @include px-dpr(line-height, 82px);
      }
    }
    .list-1 {p {color:rgba(36,101,255,1); float: left;}}
    .list-2 {text-align: center;}
    .list-3 {p {float: right;}}
    .bar {
      position: absolute;
      @include px-dpr(left, 31px);
      bottom: 0px;
      @include px-dpr(width, 128px);
      @include px-dpr(height, 4px);
      background:rgba(36,101,255,1);
    }
  }
  .content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(246,246,246,1);
    @include px-dpr(padding-top, 84px);
    .list{
      width: 100%;
      background: #fff;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          position: relative;
          width: 100%;
          -webkit-transition: .3s ease;
          -moz-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease;
          .title {
            background : rgba(246,246,246,1);
            @include px-dpr(height, 84px);
            @include px-dpr(padding-left, 31px);
            @include px-dpr(padding-right, 30px);
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            @include px-dpr(line-height, 84px);
            padding    : 0;
            border     : none;
            position   : relative;
            span {
              position: absolute;
              @include px-dpr(right, 30px);
            }
            img {
              position: absolute;
              @include px-dpr(top, 35px);
              @include px-dpr(right, 30px);
            }
          }
          .title-2 {
            position: absolute;
            top: 0px;
            @include font-dpr(28px);
            @include font-fw;
            color: rgba(0,0,0,1);
            background:rgba(246,246,246,1) !important;
            @include px-dpr(left, 143px);
            @include px-dpr(line-height, 84px);
          }
        }
      }
    }
    .list-se {
      overflow: hidden;
      display: none;
      p {
        background: rgba(255,255,255,1) !important;
        color: rgba(0,0,0,1);
      }
      .title {
        background:rgba(246,246,246,1) !important;
        @include px-dpr(margin-bottom, 8px);
      }
      li {
        position: relative;
        right   : -100%;
        -webkit-transition: right .5s;
        -moz-transition   : right .5s;
        -o-transition     : right .5s;
        transition        : right .5s;
        img {
          position: absolute;
          @include px-dpr(top, 33px);
          @include px-dpr(left, 53px);
          @include px-dpr(width, 30px);
          @include px-dpr(height, 24px);
        }
        .li-p1 {
          @include px-dpr(padding-left, 95px);
          @include px-dpr(padding-right, 147px);
          @include font-dpr(24px);
          @include font-fw;
          @include px-dpr(line-height, 84px);
          @include px-dpr(height, 84px);
          -webkit-transition   : border .5s; 
               transition  : border .5s;
          -webkit-transition   : background .3s;
               transition  : background .3s;
        }
        .li-p2 {
          position: absolute;
          top: 0px;
          @include px-dpr(right, 28px);
          @include font-dpr(24px);
          @include font-fw;
          color:rgba(153,153,153,1) !important;
          @include px-dpr(line-height, 84px);
        }
        .live-p {@include px-dpr(right, 34px);}
      }
    }
  }
}